{% extends "base.html" %}

{% block title %}{% if account %}{% else %}Wrong Activation Key{% endif %}{% endblock %}

{% block content %}
{% if account %}
Hey you made it..
{% else %}
<div class="wrong-key stderror">
  <h2>Wrong Activation Key</h2>
  <p>
    You've follow a broken link. The activation code given is either invalid or incomplete,
    we suggest you to copy and paste the full link into your web browser's address bar and
    try again.
  </p>
</div>
{% endif %}
{% endblock %}
