{% extends "base.html" %}

{% block title %}Wrong activation key{% endblock %}
{% block content %}
<div class="wrong-key stderror">
  <h2>Wrong Activation Key</h2>
  <p>
    We are sorry, the activation key you have provided is either invalid or it has expired, please try again with the link we sent to your email, and if that doesn't work please write an email at  <a href="mailto:adcake@advertisingcake.com">adcake@advertisingcake.com</a> to request a new one. Remember that you can only use your activation key once, so if u use it before, you can try logging in. <br><br>
The ADCAKE&trade; Team 
  </p>
</div>
{% endblock %}
