{% extends "base.html" %}

{% block title %}Log in First{% endblock %}

{% block log_in %}
<h2 id="login-first" class="warning">Log in First</h2>
<div id="personal-information">
  <form action="{% url auth_login %}" method="post" id="login-form" class="standard-form">{% csrf_token %}
    <fieldset>
      <legend>You are not logged in</legend>
      <table>
	{% if form.errors %}
	<tr class="login-error">
	  <td colspan="2">Your email and password didn't match.</td>
	</tr>
	{% endif %}
	<tr>
	  <th><label for="id_username">Username</label></th>
	  <td>{{ form.username }}</td>
	</tr>
	<tr class="last">
	  <th>{{ form.password.label_tag }}</th>
	  <td>
	    {{ form.password }}
	  </td>
	</tr>
      </table>
    </fieldset>

    <p class="login-helpers">
      <span><input type="checkbox" name="_remember" /> Remember me?</span>
      <a href="{% url auth_password_reset %}" title="Did you forget your password?">Did you forget your password?</a>
    </p>
    <br class="clear" />

    <input type="hidden" name="next" value="{{ next }}" />
    <div class="post-form-buttons">
      <input type="button" name="_registration" value="Request an account" id="open-registration" />
      <input type="submit" name="_login" value="Log In" class="main-button" />
    </div>
  </form>
</div>
{% endblock %}


{% block content %}
<div class="warning">
  <h2>You have to log in first!</h2>
  <p>
    The content of this page is for ADCAKE users only, you must log in to see it.
    Fill the login form in the top right of the page.
  </p>
  {% comment %}
  <p>If you does not have an adcake account, you can <a href="{% url registration_register %}" title="Get your new Adcake Account">get one for free!</a></p>
  {% endcomment %}
</div>
{% endblock %}
