{% extends 'accounts/base.html' %}

{% block content %}
{% load uni_form %}
<h1>Reset your password</h1>
<form class="adcake-uni-form" id="search" method="post">{% csrf_token %}
  <fieldset class="inlineLabels">
    {{ form|as_uni_form }}
    <p class="formHint">Enter your email address so we can send you a password reset link.</p>
    <span id="errors"> </span>
  </fieldset>                
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Submit" >
    </div>
</form>
{% endblock %}
