{% extends "registration/base.html" %}
{% load uni_form %}
{% block title %}Sign up!{% endblock %}

{% block main-title-text %}Join ADCAKE&trade;{% endblock %}

{% block content %}
<div id="registration">
  <p>Welcome to ADCAKE&trade;, please register to log in.</p>

  <div id="form-holder">
    {% block registration_form %}{% endblock %}
  </div>
</div>
{% endblock %}
