{% extends "registration/registration_form.html" %}
{% block title %}Registration{% endblock %}
{% block main-title-text %}Registration almost done!{% endblock %}
{% block content %}
{% block registration_form %}
<div id="registration">
<div id="form-holder">
<div class="done">
  <h2>Welcome to ADCAKE&trade;!</h2>
  <p>A confirmation has been sent to the email you gave us.</p>
  <p class="last">Click on the activation code in the email to complete your registration.</p>
</div>
</div>
</div>
{% endblock %}
{% endblock %}
