{% if is_paginated %}
{% load i18n pagination %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="{{ url_page }}{{ page_obj.previous_page_number }}/{% if getvars %}?{{ getvars }}{% endif %}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>
    {% else %}
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="{{ url_page }}{{ page }}/{% if getvars %}?{{ getvars }}{% endif %}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="{{ url_page }}{{ page_obj.next_page_number }}/{% if getvars %}?{{ getvars }}{% endif %}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
    {% endif %}
</div>
{% endif %}
