{% extends 'base.html' %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "videos" %}
      </ul>
      {% endblock %}
{% block extra-style %}

<link href="{{ MEDIA_URL }}css/videos.css" type="text/css" rel="stylesheet" rev="stylesheet" />
<link href="{{ MEDIA_URL }}css/home.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}

