{% extends 'base.html' %}
{% block menu %}
    <ul id="site-menu">
        {% load site_menu %}{% main_menu "videos" %}
    </ul>
{% endblock %}
{% load cake_buttons thumbnail custom_tags custom_filters %}
{% block title %}Image List - Page {{ page }}{% endblock %}
{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url gallery_index 1 %}">View by Galleries</a></li>
</ul>
{% endblock %}

{% block main-title-text %}
    Image List - Page {{ page }}
{% endblock %}
{% block content %}
<div id="horizontal-media-feed">
    <ul>
        {% for image in image_list %}
            <li>
                <div class="media-thumb">
                    <a href="{{ image.get_absolute_url }}" title="{{ media }}">{{ image.image.extra_thumbnails_tag.wider }}</a>
                    <div class="fancy-description">
                        <div class="media-info">
                            <div class="media-meta">
                                <span class="media-category">{{ image.main_category }}</span> <br />
                                <span class="media-owner">By: <a href="{{ image.owner.get_profile.get_absolute_url }}" title="{{ image.owner.get_profile.get_name }}'s profile">{{ image.owner.get_profile.get_name }}</a></span> <br />
                                <span class="media-views">{{ image.view_count }} views</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-info">
                    <a href="{{ image.get_absolute_url }}" title="{{ image }}" class="media-title">{{ image|truncatesmart:44|capfirst }}</a>
                </div>
                <span class="image-cont">Image</span>
            </li>
        {% endfor %}
    </ul>
</div>
<br class="clear"/>
{% load pagination %}{% paginate %}
{% endblock %}

