{% extends "portfolio/base_gallery.html" %}

{% block title %}Images for tag: {{ tag }}{% endblock %}

{% block content-menu %}
{% if related_tags %}
<ul id="content-menu">
  {% for t in related_tags %}
  <li><a href="{% url images_for_tag t.name 1 %}" title="Images for tag: {{ t.name }}">{{ t }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block main-title-text %}Images for tag: {{ tag }}{% endblock %}

{% block content %}
<ul id="gallery-thumbs" style="padding: 0">
  {% for image_obj in image_list %}
  <li>
    <span class="tb-cell">
      <span><a href="{{ image_obj.get_absolute_url }}" title="{{ image_obj.title }}">{{ image_obj.image.extra_thumbnails_tag.small }}</a></span>
    </span>
    <span class="image-details">View Details</span>
  </li>
  {% endfor %}
</ul>
<br class="clear" />
{% load pagination %}{% paginate %}
{% endblock %}
