{% extends "multimedia/base.html" %}
{% block title %}{{ video }}{% endblock %}
{% block extra-head %}
<script type='text/javascript' src='{{ MEDIA_URL }}js/roles/role_actions.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-1.4.2.min.js'></script>
<script>$j = jQuery.noConflict();</script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/endless.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/flowplayer-3.2.6.min.js'></script>
<script>
flowplayer("player", "{{MEDIA_URL}}flash/flowplayer.commercial-3.2.7.swf",  {
key: '#$bc7c623a6f307c1e90c',
canvas: {backgroundColor: "#ffffff",backgroundGradient: 'none'},
plugins: {
controls: {
timeBorder: '0px solid rgba(0, 0, 0, 0.3)',
autoHide: 'always',
borderRadius: '0px',
progressGradient: 'none',
backgroundGradient: 'none',
tooltipTextColor: '#ffffff',
volumeBorder: '1px solid rgba(128, 128, 128, 0.7)',
sliderColor: '#878787',
sliderBorder: '1px solid rgba(128, 128, 128, 0.7)',
volumeColor: '#fe0120',
volumeSliderGradient: 'none',
durationColor: '#fe0104',
timeBgColor: '#000000',
tooltipColor: '#000000',
volumeSliderColor: '#ffffff',
timeColor: '#ffffff',
progressColor: '#eb0000',
timeSeparator: ' ',
buttonOverColor: '#ffffff',
bufferGradient: 'none',
bufferColor: '#ffffff',
sliderGradient: 'none',
backgroundColor: 'rgba(0,0,0,0.7)',
buttonColor: '#ffffff',
height: 20,
opacity: 1.0
}
},
clip:{
scaling:'orig',
    autoPlay: false,
    autoBuffering: true
},
play:{opacity:0}
// player configuration goes here
});
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% load thumbnail %}
<meta property="og:title" content="{{video.title|capfirst}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ request.build_absolute_uri}}" />
<meta property="og:image" content="{% thumbnail video.get_second_thumbnail 200x200 %}" />
<link rel="image_src" type="image/jpeg" href="{{ MEDIA_URL }}{{ video.get_second_thumbnail  }}" />
<meta property="og:site_name" content="ADCAKE™"/>
<meta property="fb:app_id" content="142208859146936" />
<meta property="fb:admins" content="100000873703172"/>
{% endblock %}
{% block keywords %}<meta name="keywords"  content="adcake{%  if video.tags %}, {% endif %}{{ video.tags  }}" />{% endblock %}
{% block content-menu %}
<ul id="content-menu">
    {% if company %}
        <li><a href="{% url cportfolio_for_shortcut company.uniquename %}">Go to company portfolio</a></li>
    {% endif %}
    {% if user_portfolio %}
        <li><a href="{% url portfolio_for_shortcut video.owner.username %}">Go to {{ video.owner.username|capfirst }}'s portfolio</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content-header %}<div id="content-header"><h1 >{{ video.title|capfirst }}</h1></div>{% endblock %}
{% block content %}
{% block user_editing %}
{% ifequal video.owner user %}
{% load uni_form %}
<div class="add-media"><span class="collapsable-trigger{% if form.errors %} open{% endif %}" rel="edit-video">Edit this Video</span></div>
<form method="post" class="adcake-uni-form{% if not form.errors %} hide{% endif%}" id="edit-video" enctype="multipart/form-data" style="display:none">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Edit this Video</legend>
    {{ form|as_uni_form }}
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Update Video">
    </div>
    <span id="errors"></span>
  </fieldset>
</form>
{% block extra_js %}
{% if not form.errors %}<script type="text/javascript">new Fx.Slide('edit-video').hide();$('edit-video').set({styles: {display:'block'}})</script>{% else %}<script type="text/javascript">$('edit-video').set({styles: {display:'block'}})</script>{% endif%}
<script type="text/javascript" src="{{ MEDIA_URL }}js/roles/add_author.js"></script>

{% endblock %}{% endifequal %}
{% endblock %}
<div id="video-container">
  <div id="single-video">
    {% if video.length %}
    <p class="attr"><b class="property">Length: </b><b> {{video.length}}</b></p>
    {% endif %}
    {% if video.creation %}
    <p class="attr"><b class="property">Created: </b> {{video.creation|date:"m-d-y"}}</p>
    {% endif %}
    {%  ifnotequal video.type "O" %}
    {%  if localvideo %}
    <a id="player" href="{{MEDIA_URL}}{{video.converted}}" style="clear:left;display:block;width:570px;height:320px;"></a>
    {%  else %}
    <a id="player" href="{{video.converted}}" style="clear:left;display:block;width:570px;height:320px;"></a>
    {%  endif %}
    {% else %}
    {% load oembed_tags %}
    {% oembed 580x600 %}{{ video.oembed }}{% endoembed %}
    {% endifnotequal %}
  </div>
</div>
<div class="link-buttons">
{% load share_buttons %}
{% share_buttons %}
{% if user.is_authenticated %}
    {% load cake_buttons %}
    {% add_to_cake_box video %}
{% endif %}
<div class="clean"></div>
</div>
  <div id="media-desc-meta">
    <div id="media-upload">
      <p><span>Uploaded on:</span> {{ video.added|date:"F j, Y" }}. <span>By:</span></p>
      <div class="owner-information">
  <div class="owner-image-holder">
    {% if not company %}
    <a href="{% url portfolio_for_shortcut video.owner.username %}" title="{{ video.owner.username }}'s Portfolio">
      {% if video.owner.get_profile.image %}
      <img src="{{ video.owner.get_profile.image.extra_thumbnails.small }}" alt="{{ video.owner.username }}" />
      {% else %}
      <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ owner }}" width="48" height="48" />
      {% endif %}
    </a>
    {% else %}
    <a href="{% url cportfolio_for_shortcut company.uniquename %}">
        <img src="{% thumbnail company.logo 48x48 %}" title="{{ company }}" class="aligned" />
    </a>
    {% endif %}
  </div>
  <div class="owner-information-desc">
  {% if not company %}
      <span class="owner-username"><a href="{% url portfolio_for_shortcut video.owner.username %}" title="{{ video.owner.username }}'s Portfolio">{{ video.owner.username|capfirst }}</a></span>
      {% if video.owner.get_full_name %}<span class="owner-name">{{ video.owner.get_full_name|capfirst }}</span>{% endif %}
  {% else %}
      <span class="owner-username"><a href="{% url cportfolio_for_shortcut company.uniquename %}" title="{{ company.name }}'s Portfolio">{{ company.name }}</a></span>
  {% endif %}
  </div>
   {% if user.is_authenticated %}
       {% if not company %}
        {% add_to_contact_list video.owner %}
       {% endif %}
   {% endif %}
      </div>
      <div class="owner-comments">{{ image.comment|linebreaks }}</div>
    </div>

    <div id="media-extra-info">
      <ul id="media-details">
  <li>
    Video Details:
    <p>
      {% if video.creation %}<br />Creation Date: {{ video.creation|date:"F j, Y" }}{% endif %}
      {% if video.agency %}<br />Agency: {{ video.agency }}{% endif %}
      {% if video.client %}<br />Client: {{ video.client }}{% endif %}
      {% if video.region %}<br />Region: {{ video.region }}{% endif %}
    </p>
  </li>
  <li>
    Views: <span>{{ video.view_count }}</span>
  </li>
      </ul>
      {% load tagging_tags %}{% tags_for_object video as video_tags %}
      <ul id="media-tags">
  <li class="title">Tags</li>
  {% for tag in video_tags %}
  <li{% if forloop.last %} class="last"{% endif %}><a href="{% url videos_for_tag tag.name 1 %}">{{ tag }}</a></li>
  {% empty %}
  <li class="empty">No tags...</li>
  {% endfor %}
      </ul>
    </div>
    <br class="clear" />
  </div>
  {% load uni_form %}
  {% load authors %}
   <div class="authors">
  {% authors for videos with video.id %}
  </div>
  {% load comments %}
   {% if comments %}
  <h2>Comments</h2>
  {% else %}
  <h2>No comments yet</h2>
  {% endif %}
  <div id="comment-pagination">
    <div class="endless_page_template">
      {% include 'multimedia/video_comment_pagination.html' %}
   </div>
  </div>
{% if request.user.is_authenticated %}
{% get_comment_form for video as form %}
<form action="{% comment_form_target %}" method="POST" class="adcake-uni-form">
<fieldset class="inlineLabels">
{% csrf_token %}
<ul>
  <li class="ctrlHolder">
  <div class="comments">
  {{ form.comment }}
  </div>
  </li>
</ul>
<input type="hidden" name="honeypot" id="id_honeypot" />
<input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
{{ form.content_type }} 
{{ form.object_pk }} 
{{ form.timestamp }} 
{{ form.security_hash }}
 <div class="buttonHolder"> 
<input type="submit" value="Add comment" id="id_submit" />
 </div>
</form>
{% endif %}

<div class="facebook-comment">
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=142208859146936";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-num-posts="2" data-width="560"></div>
    </div>
    
{% endblock %}
