{% extends "multimedia/base.html" %}
{% block extra-head %}
{% endblock %}
{% load cake_buttons thumbnail custom_tags custom_filters %}
{% block title %}Video List{% endblock %}
{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url video_index 1 %}">All Videos</a></li>
  {% if user.is_authenticated %}<li><a href="{% url videos_by user.username 1 %}">All Videos by you</a></li>
  <li><a href="{% url videos_with user.username 1 %}">All Videos with you</a></li>{% endif %}
  {% if has_next %}
  <li><a href="{% url video_index next %}">Next Page</a></li>
  {% endif %}
  {% if has_previous %}
  <li><a href="{% url video_index previous %}">Previous Page</a></li>
  {% endif %}


</ul>
{% endblock %}

{% block main-title-text %}
Videos for tag: {{ tag }}
{% endblock %}


{% block content %}
<div id="grid">
{# List of videos #}
<div id="horizontal-media-feed">
  <ul>
    {% for video in video_list %}
    <li>
      <div class="media-thumb">
	<a href="{% url video_detail video.playable.video.pk video.playable.video.slug %}" title="{{ video }}">{% if video.playable.video.get_thumbnails.0 %}<img src="{% thumbnail video.playable.video.get_thumbnails.0 280x180 crop %}" />{% endif %}</a>
      </div>
      <div class="media-info">
	<a href="{% url video_detail video.playable.video.pk video.playable.video.slug %}" title="{{ video }}" class="media-title">{{ video|capfirst|truncatesmart:44 }}</a>
	<div class="media-meta">
          <span class="media-category">{{ video.adcategory }}</span> <br />
          <span class="media-owner">By: <a href="{{ video.owner.get_profile.get_absolute_url }}" title="{{ video.owner.get_profile.get_name }}'s profile">{{ video.owner.get_profile.get_name }}</a></span> <br />
          <span class="media-views">{{ video.view_count }} view{{ video.view_count|pluralize }}</span>
	</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
</div>
<br class="clear"/>
{% load pagination %}{% paginate %}
{% endblock %}
