{% extends "multimedia/base.html" %}
{% block extra-head %}
{{ formw.get_media }}
{% endblock %}
{% load cake_buttons thumbnail custom_tags custom_filters %}
{% block title %}Video List{% endblock %}
{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url video_index 1 %}">All Videos</a></li>
  {% if user.is_authenticated %}<li><a href="{% url videos_by user.username 1 %}">All Videos by you</a></li>
  <li><a href="{% url videos_with user.username 1 %}">All Videos with you</a></li>{% endif %}
  {% if has_next %}
  <li><a href="{% url video_index next %}">Next Page</a></li>
  {% endif %}
  {% if has_previous %}
  <li><a href="{% url video_index previous %}">Previous Page</a></li>
  {% endif %}


</ul>
{% endblock %}

{% block main-title-text %}
{% ifequal filter "by" %}Videos by {{ author.username|capfirst }}{% endifequal %}
{% ifequal filter "with" %}Videos with {{ author.username|capfirst }} as an author{% endifequal %}
{% ifequal filter "with_as" %}Videos with {{ author.username|capfirst }} as {{ role }}{% endifequal %}
{% if not filter %}Videos{% endif %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
 <div class="add-media">
{% if user.is_staff %}<span class="link collapsable-trigger{% if form.errors %} open{% endif %}" rel="add-video">Add a new Video from a file</span>{% endif %}
<span class="link collapsable-trigger{% if formw.errors %} open{% endif %}" rel="add-videow">Add a new Video from web</span>
</div>
<div class="clean"></div>
{% load uni_form %}
{% if user.is_staff %}
<form method="post" class="adcake-uni-form{% if not form.errors %} hide{% endif%}" id="add-video" enctype="multipart/form-data" style="display:none">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Add a new video from a file</legend>
    {{ form|as_uni_form }}
    <input type="hidden" name="type" value="F"/>
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Add">
    </div>
    <span id="errors"> </span>
  </fieldset>
</form>
{% endif %}
<form method="post" class="adcake-uni-form{% if not formw.errors %} hide{% endif%}" id="add-videow" enctype="multipart/form-data" style="display:none">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Add a new video from web</legend>
    {{ formw|as_uni_form }}
    <input type="hidden" name="type" value="O"/>
    <div class="buttonHolder">
      <span class="note">You hereby certify that you have the right to distribute this content and that it does not violate the Terms & Conditions</span>
      <input name="submit" type="submit" value="Add">
    </div>
    <span id="errors"> </span>
  </fieldset>
</form>
{% block extra_js %}
{% if not formw.errors %}<script type="text/javascript">new Fx.Slide('add-videow').hide();$('add-videow').set({styles: {display:'block'}})</script>{% else %}<script type="text/javascript">$('add-videow').set({styles: {display:'block'}})</script>{% endif%}
{% if not form.errors %}<script type="text/javascript">new Fx.Slide('add-video').hide();$('add-video').set({styles: {display:'block'}})</script>{% else %}<script type="text/javascript">$('add-video').set({styles: {display:'block'}})</script>{% endif%}
{% endblock %}
{% endif %}
{% if not grid %}
<div id="video-container">
  {% for video in video_list %}
  <div class="single-video-{% cycle 'even' 'odd' %}" >
    <h3 class="video"><a href="{% url video_detail video.id video.slug %}">{{ video.title|truncatesmart:44 }}</a></h3>
    <a href="{% url video_detail video.id video.slug %}">
    <div class="strip">
      <div id="film">
        {% for thumb in video.get_thumbnails %}
        <img class="thumb" width="130px" height="97px" src="{% thumbnail thumb 130x97 crop %}">
      {#  <img class="thumb" width="130px" src="{{MEDIA_URL}}/{{ thumb }}"/> #}
        {% endfor %}
      </div>
    </div>
    </a>
    <p class="attr"><b class="property">Owner: </b> <a href="{% url videos_by video.owner.username 1 %}">{{video.owner}}</a></p>
    <p class="attr"><b class="property">Length: </b> {{video.length}}</p>
    {% if video.creation %}
    <p class="attr"><b class="property">Created: </b> {{video.creation}}</p>
    {% endif %}
    <p class="attr"><b class="property">Added: </b> {{video.added}}</p>
  </div> 
  {% endfor %}
</div>
{% else %}
<div id="grid">
{# List of videos #}
<div id="horizontal-media-feed">
  <ul>
    {% for video in video_list %}
    <li>
      <div class="media-thumb">
	<a href="{% url video_detail video.playable.video.pk video.playable.video.slug %}" title="{{ video }}">{% if video.playable.video.get_thumbnails.0 %}<img src="{% thumbnail video.playable.video.get_thumbnails.0 280x180 crop %}" />{% endif %}</a>

        <div class="fancy-description">
                <div class="media-meta">
                  <span class="media-category">{{ video.adcategory }}</span> <br />
                  <span class="media-owner">By: <a href="{{ video.owner.get_profile.get_absolute_url }}" title="{{ video.owner.get_profile.get_name }}'s profile">{{ video.owner.get_profile.get_name }}</a></span> <br />
                  <span class="media-views">{{ video.view_count }} view{{ video.view_count|pluralize }}</span>
                </div>
        </div>
    </div>
    <div class="media-info">
         <a href="{% url video_detail video.playable.video.pk video.playable.video.slug %}" title="{{ video }}" class="media-title">{{ video|capfirst|truncatesmart:44 }}</a>
    </div>
    </li>
    {% endfor %}
  </ul>
</div>
</div>
{% endif %}
<br class="clear"/>
{% load pagination %}{% paginate %}
{% endblock %}
