{% load custom_tags %}
{% split_list ads as splitted_ads 2 %}
            <table id="site-ads">
	      <tbody>
		{% for row in splitted_ads %}
		<tr{% if forloop.first %} class="first"{% endif %}>
		  {% for ad in row %}
		  <td><a href="{{ ad.link }}" target="_blank" title="{{ ad.alt_text }}"><img src="{{ ad.creative.url }}" class="ad-mini" alt="{{ ad.alt_text }}" /></a></td>
		  {% endfor %}
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
