{% extends "news/base_archive.html" %}

{% block content-menu %}
<ul id="content-menu">
  {% for date in date_list %}
  <li><a href="{% url news_month_archive year date|date:"b" %}" title="See news in {{ date|date:"F \o\f Y" }}">{{ date|date:"F" }}</a></li>
  {% endfor %}
  <li><a href="{% url news_index %}" title="Read the latest news" />Latest news</a></li>
  <li><a href="{% url news_archive %}" title="Go back to archive" />Complete archive</a></li>
</ul>
{% endblock %}

{% block archive_title %}News Archive: {{ year }}{% endblock %}
