{% extends "news/base_archive.html" %}

{% block title %}Latest{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url news_archive %}" title="Go back to archive" />Complete archive</a></li>
  {% for date in date_list %}
  <li><a href="{% url news_year_archive date.year %}" title="See news in {{ date.year }}">{{ date.year }}'s archive</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block archive_title %}Latest{% endblock %}
{% comment %}{% block announcement %}
<p class="announcement">This page is showing you the latest {{ latest|length }} articles.</p>
{% endblock %}{% endcomment %}
