{% extends "news/base_archive.html" %}

{% block content-menu %}
<ul id="content-menu">
  {% if is_paginated %}
  {% if has_next %}<li><a href="{% url news_archive_page next %}" title="See the next page on the archive" />Next Page</a></li>{% endif %}
  {% if has_previous %}<li><a href="{% url news_archive_page previous %}" title="See the previous page on the archive" />Previous Page</a></li>{% endif %}
  {% endif %}
  <li><a href="{% url news_index %}" title="Read the latest news" />Latest news</a></li>
{% if tag %}  <li><a href="{% url news_archive %}" title="Go back to archive" />Complete archive</a></li>{% endif %}
</ul>
{% endblock %}

{% block archive_title %}
{% if tag %}News with tag: {{ tag }}{% else %}News Archive{% endif %}
{% endblock %}

{% block pagination %}
{% if is_paginated %}
{% endif %}
{% endblock %}
