{% extends "news/base_archive.html" %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url news_year_archive month.year %}" title="Go back to {{ month.year }}'s archive" />{{ month.year }}'s archive</a></li>
  <li><a href="{% url news_index %}" title="Read the latest news" />Latest news</a></li>
  <li><a href="{% url news_archive %}" title="Go back to archive" />Complete archive</a></li>
</ul>
{% endblock %}

{% comment %}{% block archive_title %}News Archive: {{ month|date:"F" }} of {{ month.year }}{% endblock %}
{% block buttons %}
<div class="buttons-container">
  {% if previous_month %}<span class="previous"><a href="{% url news_month_archive previous_month.year previous_month|date:"b" %}" title="Previous Month">&laquo; {{ previous_month|date:"N Y" }}</a></span>{% endif %}
  {% if next_month %}<span class="next"><a href="{% url news_month_archive next_month.year next_month|date:"b" %}" title="Next Month">{{ next_month|date:"N Y" }} &raquo;</a></span>{% endif %}
</div>
{% endblock %}{% endcomment %}

{% block announcement %}
{% if not article_list %}
<p class="announcement">
  This month has no articles, you are being redirected to the previous page.
</p>
<script language="javascript" type="text/javascript">
<!--
window.setTimeout('history.go(-1)',8000);
// -->
</script>
{% endif %}

{% endblock %}
