{% extends "news/base_archive.html" %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url news_month_archive day.year day|date:"b" %}" title="{{ day|date:"jS F Y" }}'s archive" />{{ day|date:"jS F Y" }}'s archive</a></li>
  <li><a href="{% url news_year_archive day.year %}" title="{{ day.year }}'s archive" />{{ day.year }}'s archive</a></li>
  <li><a href="{% url news_index %}" title="Read the latest news" />Latest news</a></li>
  <li><a href="{% url news_archive %}" title="Go back to archive" />Complete archive</a></li>
</ul>
{% endblock %}

{% block archive_title %}News Archive: {{ day|date:"F" }} of {{ day.year }}{% endblock %}
{% block buttons %}
<div class="buttons-container">
  {% if previous_day %}<span class="previous"><a href="{% url news_day_archive previous_day.year previous_day|date:"b" previous_day|date:"d" %}" title="Previous Day">&laquo; {{ previous_day|date:"N d, Y" }}</a></span>{% endif %}
  {% if next_day %}<span class="next"><a href="{% url news_day_archive next_day.year next_day|date:"b" next_day|date:"d" %}" title="Next Day">{{ next_day|date:"N d, Y" }} &raquo;</a></span>{% endif %}
</div>
{% endblock %}

{% block announcement %}
{% if not article_list %}
<p class="announcement">
  This day has no articles.
</p>
{% endif %}

{% endblock %}
