{% extends "news/base.html" %}
{% load cake_buttons custom_filters %}

{% block title %}{{ article }}{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url news_day_archive article.pub_date.year article.pub_date|date:"b" article.pub_date|date:"d" %}" title="{{ article.pub_date|date:"jS F Y" }}'s archive" />{{ article.pub_date|date:"jS F Y" }}'s archive</a></li>
  <li><a href="{% url news_month_archive article.pub_date.year article.pub_date|date:"b" %}" title="{{ article.pub_date|date:"F Y" }}'s archive" />{{ article.pub_date|date:"F Y" }}'s archive</a></li>
  <li><a href="{% url news_year_archive article.pub_date.year %}" title="{{ article.pub_date.year }}'s archive" />{{ article.pub_date.year }}'s archive</a></li>
  <li><a href="{% url news_index %}" title="Read the latest news" />Latest news</a></li>
  <li><a href="{% url news_archive %}" title="Go back to archive" />Complete archive</a></li>
</ul>
{% endblock %}

{% block content-header %}{% endblock %}
{% block content %}
  <div class="article-summary">
    <div class="spot-image-news">{% if article.thumbnail %}<img src="{{ article.thumbnail.url }}" />{% endif %}</div>


    <div class="article-s{% if element_id %}fb:like:href="http://www.adcake.com/images/{{ element_id }}" {% endif %}ummary-spotlight">
        
<div class="clean"></div>

  <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
    <a href="http://addthis.com/bookmark.php?v=250" class="addthis_button_compact"></a>
    <span class="addthis_separator"> </span>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_email"></a>
    <a class="addthis_button_google_plusone" g:plusone:size="small"></a>
    <a class="addthis_button_facebook_like" ></a>


</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=adcake"></script>
<!-- AddThis Button END -->

<div class="clean"></div>

        <div class="article-header">
                <div class="date"><div class="date2"><span class="day-date">{{ article.pub_date|date:"d"}}</span> <br /><span class="month-date">{{ article.pub_date|date:"b"}}</span></div></div>
                <div class="title"><h3>{{ article.headline }} By, <a href="{% url portfolio_for_shortcut article.author %}" title="{{ article.author.get_profile }}'s Profile">{{ article.author.get_profile }}</a></h3></div>
                {% comment %}<span class="subtitle">{{ article.subtitle }}</span>{% endcomment %}
        </div>
        <div class="news-item" id="article-{{ article.pk }}">

        </div>
        {{ article.content|safe }}
    </div>
    <br class="clear" />
  </div>

    <div class="facebook-comment">
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=142208859146936";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-num-posts="2" data-width="560"></div>
    </div>
    
{% endblock %}
