{% extends "news/base.html" %}
{% load custom_filters %}

{% block title %}News Archive{% endblock %}

{% block main-title-text %}{% block archive_title %}{% endblock %}{% endblock %}

{% block content %}
{% block buttons %}{% endblock %}
{% block archive %}
{% for article in article_list %}

  <div class="article-summary">
    <div class="spot-image-news">{% if article.thumbnail %}<img src="{{ article.thumbnail.url }}" />{% endif %}</div>

    <div class="article-summary-spotlight">

        <div class="article-header">
                <div class="date"><div class="date2"><span class="day-date">{{ article.pub_date|date:"d"}}</span> <br /><span class="month-date">{{ article.pub_date|date:"b"}}</span></div></div>
                <div class="title"><h3>{{ article.headline }} By, <a href="{% url portfolio_for_shortcut article.author %}" title="{{ article.author.get_profile }}'s Profile">{{ article.author.get_profile }}</a></h3></div>
                {% comment %}<span class="subtitle">{{ article.subtitle }}</span>{% endcomment %}
        </div>
        <div class="news-item" id="article-{{ article.pk }}">

        </div>
        {{ article.content|safe }}
    </div>
    <br class="clear" />
  </div>
{% endfor %}
{% endblock %}
{% block pagination %}{% endblock %}
{% block announcement %}{% endblock %}

{% endblock %}
