{% extends "base.html" %}
{% block extra-style %}
<link href="{{ MEDIA_URL }}css/invitation.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}
{% block title %}Join ADCAKE&trade;{% endblock %}
{% block main-title-text %}
Join ADCAKE&trade;
{% endblock %}
{% block content %}
<p class="invited">You have been invited by <b>{{ username }}</b> to use ADCAKE&trade;, just click <a href="{% url registration_register %}?invitation_key={{ invitation_key }}">here</a> to procced with the registration.</p>
{% endblock %}
