{% extends "base.html" %}
{% block extra-style %}
<link href="{{ MEDIA_URL }}css/invitation.css" type="text/css" rel="stylesheet" rev="stylesheet" />
<link href="{{ MEDIA_URL }}css/registration.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}
{% load i18n uni_form %}
{% block title %}Refer a Professional{% endblock %}
{% block main-title-text %}
Join ADCAKE&trade;
{% endblock %}
{% block content %}
<h2>{% trans "Invite a Colleage" %}</h2>
{% ifequal remaining_invitations 0 %}
<p>{% trans "You currently have no invitations to send." %}</p>
{% else %}
<div class="remainings">You have  <b class="remaining-invitations">{{ remaining_invitations }}</b> remaining invitation{{ remaining_invitations|pluralize }}</div>
<div id="form-holder">
<form action="{% url invitation_invite %}" class="adcake-uni-form" method="POST">{% csrf_token %}
<fieldset class="inlineLabels">
{{ form|as_uni_form }} 
<div class="buttonHolder">
<input type="submit" name="invite" value="{% trans "Send Invitation" %}" />
</div>
</fieldset>
</form>
</div>
{% endifequal %}

{% endblock %}
