{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="notification">
<h2>{% trans "Invitation sent" %}</h2>
<p>
{% trans "Your friend will receive an email with your invitation soon!" %}
</p>
<p>
<a href="{% url invitation_invite %}">Invite</a> another friend or go to <a href="{% url homepage %}">Home</a>
</p>
</div>


{% endblock %}
