{% extends "base.html" %}
{% block title %}Join ADCAKE&trade;{% endblock %}
{% block content %}
<div class="notification">
<h2>Closed Beta</h2>
{% if invalid_key %}
<p>The referral key you have provided is either invalid or it has expired, please write an email at  <a href="mailto:adcake@advertisingcake.com">adcake@advertisingcake.com</a> to request a new one.<br><br>
The ADCAKE&trade; Team
</p>
{% else %}
<p>Ask a colleague for an invitation or request an account <a href="{% url request_account %}">here</a></p>
{% endif %}
</div>
{% endblock %}
