{% for audio in branch.featured_list %}
<li id="audio-id-{{ audio.pk }}">

  <span class="media-name"><a href="{{ audio.get_absolute_url }}" title="Hear '{{ audio }}'">{{ audio }} {{ audio.length }}</a></span>

</li>
{% endfor %}
