{% for gallery in branch.featured_list|dictsort:"position" %}
    {% if not gallery.empty %}
     <div class="gallery-long">
        <div class="title-gal"><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></div>
        {% for image_obj in gallery.sample_filled %}
        <div class="gallery-media {% if forloop.first %}first{% endif %}">
          {% if image_obj %}
            <div class="media-thumb-gal"><a href="{% url image_detail company.owner.username gallery.slug image_obj.slug %}" title="{{ image_obj.title }}">{{ image_obj.image.extra_thumbnails_tag.wider}}</a></div>
          {% else %}
            <div class="media-thumb-gal empty"><a href="{{ gallery.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/no-image.png" width="280" height="100" title="View the whole gallery"/></a></div>
          {% endif %}
        </div>
        {% endfor %}
        {% if gallery.more_images %}
            <div class="view-all">
            <a href="{{ gallery.get_absolute_url }}" title="View the whole gallery" class="view-all">View more..</a>
            </div>
        {% endif %}
     </div>
    {% endif %}
{% endfor %}

