{% load custom_tags thumbnail custom_filters %}
{% split_list branch.featured_list as divided_media_list 3 %}
  {% for row in divided_media_list %}
{% for media in row %}
<li>
  <div class="media-thumb">
    {% if media.image %}
    <a href="{{ media.get_absolute_url }}" title="{{ media }}">{{ media.image.extra_thumbnails_tag.wide }}</a>
    {% else %}
    <a href="{% url video_detail media.playable.video.pk media.playable.video.slug %}" title="{{ media }}">{% if media.playable.video.get_thumbnails.2 %}<img src="{% thumbnail media.playable.video.get_thumbnails.2 172x96 crop %}" />{% else %}<img src="{% thumbnail media.playable.video.get_thumbnails.0 172x96 crop %}" />{% endif %}</a>
    {% endif %}
  </div>

  <div class="media-info">
    {% if media.image %}
    <a href="{{ media.image.get_absolute_url }}" title="{{ media }}" class="media-title">{{ media|capfirst|truncatesmart:44 }}</a>
    {% else %}
    <a href="{% url video_detail media.playable.video.pk media.playable.video.slug %}" title="{{ media }}" class="media-title">{{ media|capfirst|truncatesmart:44 }}</a>
    {% endif %}
    <div class="media-meta">
      <span class="media-category">{{ media.adcategory }}</span> <br />
      <span class="media-views">{{ media.view_count }} view{{ media.view_count|pluralize }}</span>
    </div>
  </div>
  {% ifequal media.owner user %}<a class="delete-video" href="#{{ media.pk }}" title="Delete this video"></a>{% endifequal %}
  <span class="video-cont"></span>
</li>
{% endfor %}
  {% endfor %}