<script src="{{ rabidratings_media_url }}/js/rabidratings.js"></script>
<link rel="stylesheet" href="{{ rabidratings_media_url }}/css/rabidratings.css"/>
<script>var rabidratings_submit_url="{% url rabidratings.views.record_vote %}";</script>
