{% extends "base.html" %}
{% load i18n %}
{% block main-title-text %}Your inbox{% endblock %}
{% block title %}Messages: {% block messages_title %}{% endblock %}{% endblock %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/messages.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}

{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/messages.js"></script>
{% endblock %}


      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "profile" %}
      </ul>
      {% endblock %}

{% block content %}  
{% endblock %}

{% block content-menu %}
<ul id="content-menu">
    <li><a href="{% url messages_inbox %} ">&raquo;&nbsp;{% trans "Inbox" %}</a></li>
    <li><a href="{% url messages_outbox %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
    <li><a href="{% url messages_compose %} ">&raquo;&nbsp;{% trans "New Message" %}</a></li>
    <li><a href="{% url messages_trash %} ">&raquo;&nbsp;{% trans "Trash" %}</a></li>
</ul>
{% endblock %}
