{% extends "messages/base.html" %} 
{% load i18n uni_form %}

{% block messages_title %}Compose New Message{% endblock %}

{% block content %} 
<form action="" method="post" class="adcake-uni-form" id="compose-message">{% csrf_token %}
    <fieldset class="inlineLabels">
        <legend>Compose New Message</legend>
        <div class="compose-message-forms">
         {{ form|as_uni_form}}
        </div>
    <div class="buttonHolder">
       <input type="submit" value="{% trans "Send" %} &raquo;" />
    </div>
    </fieldset>
</form>
{% endblock %}
