{% load i18n %} 
<div id="inbox-feed">
  {% if message_list %}
  <table summary="inbox feed">
    <thead>
      <tr>
	<th colspan="3">You have {{ message_list|length }} new message{{ message_list|pluralize }}</th>
      </tr>
    </thead>
    <tbody>
      {% for message in message_list %} 
      <tr>
        <td class="messages-sender">{{ message.sender }}</td>
        <td class="messages-title{% if forloop.last %} last{% endif %}">
          {% if message.new %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
              <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
              {% if message.replied %}</em>{% endif %}
            {% if message.new %}</strong>{% endif %}</td>
        <td class="messages-date">{{ message.sent_at|date:"m/d/Y - H:i" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="inbox-empty">
    You don't have new messages in your <a href="{% url messages_inbox %}" title="Go to inbox">inbox</a>
  </p>
  {% endif %}
</div>
