{% load i18n %}{% blocktrans with message.recipient.username as recipient and message.sender.username as sender%}Hello {{ recipient }},<br/>

you received a private message from {{ sender }} with<br/>
the following content:{% endblocktrans %}<br/>

{{ message.body|safe|linebreaks }}

--
{% blocktrans %}Sent from {{ site_url }}{% endblocktrans %}<br/>
{% trans "Inbox" %}: {{ site_url }}{% url messages_inbox %}<br/>
{% trans "Reply" %}: {{ site_url }}{% url messages_reply message.pk %}<br/>