{% extends "messages/base.html" %} 
{% load i18n %} 

{% block messages_title %}Sent Messages{% endblock %}

{% block content %}

    <div id="messages-header">
      <a id="compose" href="{% url messages_compose %}" title="Compose new message">New Message</a>

      <div id="actions">
	<ul>
	  <li><a href="#" id="mark-delete">Delete messages</a></li>
	</ul>
	<p>
	  Select:
	  <a href="#" id="select-all">All</a>,
	  <a href="#" id="select-none">None</a>,
	  <a href="#" id="select-read">Read</a>,
	  <a href="#" id="select-unread">Unread</a>
	</p>
      </div>
    </div>

    <table class="messages">
      <tbody>
	{% for message in message_list %} 
        <tr id="{{ message.id }}" class="{% cycle 'odd' 'even' %}{% if message.new %} new{% else %}{% if message.replied %} replied{% endif %}{% endif %}">
	  <td class="message-select"><input id="{{ message.id }}-selector" type="checkbox" name="{{ message.id }}" /></td>
	  <td class="message-icons">
	    <a href="{% url messages.views.delete message.id %}" class="message-delete">{% trans "delete" %}</a>
	  </td>
	  <td class="message-sender">
	    {% if message.recipient.get_profile.image %}
	    <a href="{{ message.recipient.get_profile.get_absolute_url }}" title="{{ message.recipient }}'s Profile"><img src="{{ message.recipient.get_profile.image.extra_thumbnails.medium }}" alt="{{ message.recipient }}" /></a>
	    {% else %}
	    <a href="{{ message.recipient.get_profile.get_absolute_url }}" title="{{ message.recipient }}'s Profile"><img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ owner }}" width="64" height="64" /></a>
	    {% endif %}
	    <br />
	    <a href="{# message.recipient.get_profile.get_absolute_url #}" title="{{ message.recipient }}'s Profile">{{ message.recipient }}</a>
	  </td>
          <td class="message-subject-body">
	    <span class="message-subject"><a href="{{ message.get_absolute_url }}" title="View {{ message.subject }}">{{ message.subject }}</a></span>
	    <span class="message-body"><a href="{{ message.get_absolute_url }}">{{ message.body|truncatewords:10 }}</a></span>
          <td class="message-date">{{ message.sent_at|date:"M d" }}</td>
        </tr>
	{% endfor %}
      </tbody>
    </table>
{% endblock %}
