{% extends "base.html" %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/messages.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}
{% load i18n %}
{% block content-header %}{% endblock %}
{% block messages_title %}View Message{% endblock %}

{% block content %}
<div class="message">
  <h1 class="header"><span>{{ message.subject }}</span></h1>
  <div class="message-body">
      <div class="message-from-date">
          <span class="date">{{ message.sent_at|date:_("DATETIME_FORMAT")}}</span>
          <span class="sender">{% trans "From" %} {{ message.sender|capfirst }}</span>
      </div>
      {% if message.sender.is_staff %}
      {{ message.body|safe|linebreaks }}
      {% else %}
      {{ message.body|linebreaks }}
      {% endif %}
  </div>
</div>
<div class="message-buttons-actions">
{% ifequal message.recipient user %}
<a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a>
</div>
{% endblock %}
