<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
    <a href="http://addthis.com/bookmark.php?v=250" class="addthis_button_compact"></a>
    <span class="addthis_separator"> </span>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>    
    <a class="addthis_button_googlebuzz"></a>
    <a class="addthis_button_email"></a>
    <a class="addthis_button_google_plusone" g:plusone:size="small"></a>
    <a class="addthis_button_facebook_like" {% if element_id %}fb:like:href="http://www.adcake.com/images/{{ element_id }}" {% endif %}></a>


</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=adcake"></script>
<!-- AddThis Button END -->
