{% load custom_filters compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" content=" ADCAKE&trade; The advertising network. An exclusive platform for creative professionals.">
     <meta name="google-site-verification" content="FiMF9bmV9OKJo0x2NQomWx6JNdPdNp6huEJf52o1FvI" />
    {% block keywords %}<meta name="keywords" content="advertising, portfolio, creative professional network, advertising network, creative community, creative professional, advertising professionals, creative, creativity, advertising agency">{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}images/adcake.ico" sizes="16x16 24x24 32x32 48x48" />
    <title>ADCAKE&trade; | {% block title %}{{ title }}{% endblock %}</title>
    {% compress css %}
    <link href="{% block main-style %}{{ MEDIA_URL }}css/base.css{% endblock %}" type="text/css" rel="stylesheet" rev="stylesheet" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/Autocompleter.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jd.gallery.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}js/sexy_alert_box/sexyalertbox.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/datepicker_jqui.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/purr.css" type="text/css" media="screen" />
    {% endcompress %}
    <!--[if IE 6]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie6.css" type="text/css" media="screen" /><![endif]-->
    {% compress css %}
    {% block extra-style %}{% endblock %}
    {% endcompress %}
    {% block bots %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18329890-1']);
      _gaq.push(['_trackPageview']);
    </script>
  </head>
  <body>
  <div id="notifications"></div>
   <div class="header-bar-menu">
    <div id="buttons-bar">
      {% block menu %}
      <ul id="site-menu">
	{% load site_menu %}{% main_menu %}
      </ul>
      {% endblock %}

{% comment %}    {% if user.is_authenticated %}
        <div id="advertisement-directory">
	      <form action="{% url search %}" method="get" id="directory-search">
		    <input type="text" id="directory-search-query" class="text" name="q" rel="Search..." />
		    <input type="submit" class="button" name="search" value="" />
	      </form>
	      <a href="{# url search #}" title="Advanced Search">Advanced Search</a>
	   </div>
     {% endif %}{% endcomment %}

<div id="personal-information-header">

  {% if user.is_anonymous %}
    <input type="hidden" name="next" value="{{ next }}" />

  </form>
{% comment %}
  <form action="{% url registration_register %}" method="post" id="registration-form" class="standard-form">{% csrf_token %}
    <fieldset>
      <legend>Get your own account</legend>
      <table>
	{{ registration_form.as_table }}
      </table>
    </fieldset>

    <div class="post-form-buttons">
      <input type="button" name="_close_registration" value="Close" id="close-registration" />
      <input type="submit" name="_login" value="Register" class="main-button" />
    </div>
  </form>
{% endcomment %}
  {% else %}
      {%  comment %}
      {% if user.is_authenticated %}
  <div clase="arrow-down-menu"><img src="{{ MEDIA_URL }}images/icons/account_arrow.png"/>
  </div>
      {% endif %}{%  endcomment %}
  <div class="setting-header-menu">

    <ul id="menu" class="menu">

      <li class="user-menu-header2">

        <div class="avatar-top-menu">
             {% if user.get_profile.image %}
             <img src="{{ user.get_profile.image.extra_thumbnails.small }}" alt="{{ user }}"  width="32" height="32" class="avatar-menu" />
             {% else %}
             <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ user }}" width="32" height="32" class="avatar-menu" />
             {% endif %}
        </div>


        <div class="username-top-menu"><a href="#">{{ user.username|truncatechars:14 }} <a href="{% url messages_inbox %}" title="Go to inbox">({% load inbox %}{% inbox_count %})</a></a><img src="{{ MEDIA_URL }}images/icons/account_arrow.png"/></div>


           <ul class="block-dropdown-menu">
              <li><a href="{% url messages_inbox %}" title="My Portfolio">Inbox</a></li>
              <li><a href="{% url my_portfolio %}" title="My Portfolio">Portfolio</a></li>
              <li><a href="{% url my_profile %}" title="My Portfolio">Profile</a></li>
              <li><a href="{% url personal_resume %}" title="">Resume</a></li>
                    {% if user.is_authenticated %}
              <li><a href="{% url invitation_invite %}" style="color:#2de319"><b>Invitations</b></a></li>
              <li class="last-li-menu"><a href="{% url auth_logout %}">Logout</a></li>
                    {% endif %}
           </ul>
      </li>
    </ul>
{% comment %}
    <div class="user-menu-header">{% if user.get_profile.image %}
         <img src="{{ user.get_profile.image.extra_thumbnails.small }}" alt="{{ user }}"  width="25" height="25" class="avatar" />
            {% else %}
          <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ user }}" width="25" height="25" class="avatar" />
             {% endif %}
    </div>
 {%  endcomment %}
  </div>
  </div>
  {% endif %}
  </div>
</div>

{% comment %}      {% block sub_menu %}
      <ul id="site-submenu">
	{% sub_menu %}
        {% block extra-submenu %}
	{% if user.is_authenticated %}
	<li><a href="{% url invitation_invite %}"><b>Invitations</b></a></li>
	<li><a href="{% url auth_logout %}">Logout</a></li>
	{% endif %}
	{% endblock %}
      </ul>
      {% endblock %}{% endcomment %}

    </div>
    <div id="wrapper">
      <div id="main-wrapper">
	<div id="main-content">
	  <div id="header">
	  </div>
          <div id="content">
             <!-- INSERT USER LOGIN -->
              {% block content-header %}
                <div id="content-header">
                 {% block main-title %}<h1>{% block main-title-text %}{% if title %}{{ title }}{% endif %}{% endblock %}</h1>{% endblock %}
                 <div class="order-by">
                     {% block order-by %}{% endblock %}
                 </div>
                </div>
	           {% endblock %}
            {% block content %}
            {% endblock %}
	      </div>
        </div>
      </div>
      <div id="related-wrapper">
	<div id="related-content">
          <div id="user-sidebar">
          <!-- USER LOGIN -->
	    {% block log_in %}
            {% load user_badge %}{% badge %}
	    {% endblock %}
	    {% if user.is_authenticated %}
	    <div id="personal-bin">
	      <!-- USER'S CONTACTS -->
	      <h3 class="personal-bin-top pb-togg" id="pb-contact-list">Contact List</h3>
	      <div class="pb-element">
		<ul id="contact-list">
		  {% for contact in user.get_profile.contact_list.members.all|dictsort:"position" %}
		  <li id="contact-list-{{ contact.pk }}" title="user-{{ contact.member.pk }}">
		    <span class="contact-name">
		      <a href="{{ contact.member.get_profile.get_absolute_url }}" class="contact-profile" title="{{ contact.member.get_profile.get_name }}'s Profile">{{ contact.member.get_profile.get_name }}</a>
		    </span>
		    <span class="contact-buttons">
		      <a href="{% url messages_compose_to contact.member.username %}" class="message" title="Send a message to {{ contact.member.get_profile.get_name }}">Write a message</a>
<!-- 		      <a href="#" class="watch-contact" title="{{ contact.watch|yesno:"Unw,W" }}atch this contact" style="background-position: {{ contact.watch|yesno:"-16px,0" }} 0">{{ contact.watch|yesno:"Unw,W" }}watch this contact</a> -->
		    </span>
		    <a href="#" class="remove-contact" title="Delete this contact">Delete this contact</a>
		    <br class="clear" />
		  </li>
		  {% endfor %}
		</ul>
		<p class="pb-options">
           {% if user.get_profile.contact_list.members.all %}<p class="all-contacts">[ <a href="{% url follow_list_for "following" user.username %}" title="All your contacts">View all your contacts</a> ]</p>{% endif %}
		  {% comment %}[ <a href="{# url faqs 'contact_list' #}" title="Learn more about your Contact List">Learn More</a> ]{% endcomment %}
		</p>
	      </div>
	      <!-- USER'S SKILLS -->
	      <div class="pb-element">
		{% load skills_widgets %}{% quick_skills %}
		<br />
	      </div>
	      <h3 class="personal-bin-middle pb-togg" id="pb-skills">My Skills</h3>
	      <!-- USER'S CAKE -->
	      <div class="pb-element">
		<ul id="cake-box"></ul>
		<p class="pb-options">
		  [ <a href="{# url faqs 'cakebox' #}" title="Learn more about the Cake Box">Learn More</a> ]
		</p>
	      </div>
	      <h3 class="personal-bin-bottom pb-togg">My Cake Box</h3>
	      
	    </div>
	    {% endif %}

	  </div>
	  <div id="content-menu">
            {% block content-menu %}
            {% endblock %}
      </div>
    
      <!-- SPOTLIGHT SIDE BAR -->
        {% if user.is_authenticated %}
	  {% block extra_sidebar %}{% endblock %}
      {% block spotlight %}
	  <div id="news-spotlight" style="visibility:hidden">
	    <h2 id="spotlight-title" class="title">Spotlight</h2>
	    {% load spotlight %}{% spotlight %}
	  </div>
      {% endblock %}
        {% endif %}
      <!-- END SPOTLIGHT SIDE BAR -->

	  <hr />
	  <div id="ads">
	    {% block ads %}
	    {% load ads_samples %}{% priority_sample 2 %}
	    {% endblock %}
	    <br class="clear" />
	  </div>
        {% block featured %}
        {% endblock %}
	  </div>
      <div class="clean"></div>
	</div>
          </div>
    </div>
  </div>

  <div id="footer">
    {% block footer %}
    <div id="footer-content">
      <ul id="footer-buttons">
    <li>

          <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox2 addthis_default_style">
            {% comment %}<a class="addthis_button_facebook"></a>{% endcomment %}
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            {% comment %}<a class="addthis_button_facebook_like" ></a>{% endcomment %}

            <div id="fb-root"></div>
                <script>(function(d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=271810499537539";
                 fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="www.adcake.com" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="arial"></div>

        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=adcake"></script>
        <!-- AddThis Button END -->
    </li>
    <li><a href=" https://www.facebook.com/pages/ADCAKE/131755126870333" title="Facebook" target="_blank">Facebook</a></li>
    <li><a href=" https://twitter.com/advertisingcake" title="Facebook" target="_blank">Twitter</a></li>
	<li><a href="{% url privacy_policy %}" title="Privacy Policy">Privacy Policy</a></li>
	<li><a href="{% url terms_of_use %}" title="Terms of use">Terms of use</a></li>
    <li><a href="{% url contact_us %}" title="Contact Us">Contact Us</a></li>
	{% comment %}<li><a href="{# url help #}" title="Help">Help</a></li>{% endcomment %}
    {% comment %}<li><a href="#buttons-bar" id="back-to-top" title="Back to top">Back to top</a></li>{% endcomment %}
    </ul>

  </div>
  {% endblock %}
</div>
{% block jslib %}
{% compress js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools/mootools-core-1.3.2-full-compat-yc.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools/mootools-more-1.3.2.1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/purr.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jd.gallery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jd.gallery.init.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/livesearch/Observer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/livesearch/Autocompleter.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/livesearch/Autocompleter.Request.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/sexy_alert_box/sexyalertbox.v1.2.moo.mini.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/datepicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/cake.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/site.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/tinydropdown.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/tinydropdown.init.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/fancy_thumbs.js"></script>
{% endcompress %}
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block extra-head %}{% endblock %}
<script type="text/javascript">
 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
</body>
</html>
