{% extends "base.html" %}
{% load cake_buttons thumbnail custom_tags %}
{% block extra-style %}
    <link href="{{ MEDIA_URL }}css/home.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}
{% block extra-head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/home.js"></script>
   {% comment %} {% if user.is_authenticated %}{% endcomment %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/_class.noobSlide.packed.js"></script>
    <script type="text/javascript">
        window.addEvent('domready',function(){
            var handles8_more = $$('#handles8_more span');
            var nS8 = new noobSlide({
                        box: $('box8'),
                        items: [1,2,3],
                        size: 580,
                        handles: $$('#handles8 span'),
                        onWalk: function(currentItem,currentHandle){
                            //style for handles
                            $$(this.handles,handles8_more).removeClass('active');
                            $$(currentHandle,handles8_more[this.currentIndex]).addClass('active');
                            //text for "previous" and "next" default buttons
                        }
                    });
                //more "previous" and "next" buttons
            nS8.addActionButtons('previous',$$('#box8 .prev'));
            nS8.addActionButtons('next',$$('#box8 .next'));
        })
    </script>
   {% comment %} {% endif %}{% endcomment %}
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jd.gallery.init.home.js"></script>
{% endblock %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu custom_filters %}{% main_menu "home" %}
      </ul>
      {% endblock %}
	    {% block ads %}
	    {% load ads_samples %}{% priority_sample 2 %}
	    {% endblock %}
            <!-- FEATURED COMPANIES & PROFESSIONALS IF LOGGED -->
        {% block featured %}
            {% comment %}{% if user.is_authenticated %}{% endcomment %}
            {% if featured_comps %}
            <div id="news-spotlight"><h2 id="featured-companies-title" class="title">Spotlight</h2></div>

            {% for comp in latest_companies %}
            <div class="featured-companies">
                    <div class="avatar"><a class="name" href="{% url cportfolio_for_shortcut comp.slug %}"><img src="{% thumbnail comp.logo 60x60 %}" title="{{ company }}"/></a></div>
                    <div class="info">
                        <a class="name" href="{% url cportfolio_for_shortcut comp.slug %}">{{ comp.name }}</a>
                        {% if comp.some_cats %}<span class="categories">{{ comp.some_cats }}</span>{% endif %}
                    </div>
            </div>
            {% endfor %}
            {% endif %}
           {% comment %} {% endif %}{% endcomment %}
            {% comment %}{% if user.is_authenticated %}{% endcomment %}
            {% if featured_profs %}
            <div id="news-spotlight"><h2 id="featured-professionals-title" class="title">Spotlight</h2></div>
            {% for prof in featured_profs %}
            <div class="featured-professionals">
                <div class="avatar"><a href="{% url portfolio_for_shortcut prof.user.username %}">{% if prof.image %}<img src={{ prof.image.extra_thumbnails.featured }} >{% else %}<img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ profile.user }}" width="60" height="60" />{% endif %}</a></div>
                <div class="info">
                    <a href="{% url portfolio_for_shortcut prof.user.username %}" class="username">{{ prof.user.username|capfirst }}</a>
                    {% if prof.user.get_full_name %}<span class="name">{{ prof.user.get_full_name }}</span>{% endif %}
                    {% if prof.some_cats %}<span class="categories">{{ prof.some_cats }}</span>{% endif %}
                    {% if prof.country %}<span class="country">{{ prof.country}}</span>{% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% comment %}{% endif %}{% endcomment %}
        {% endblock %}
{% block title %}Home{% endblock %}
{% block content-header %}{% endblock %}
{% block content %}
  {% ifequal account "activated" %}
  <div id="recently-activated" class="warning">
    <h2 class="activated">Congratulations</h2>
    <p>Your account has been activated, you can start by editing your <a href="{% url my_profile %}" title="Your Profile">Profile</a>, <a href="{% url my_portfolio %}" title="Your Portfolio">Portfolio</a>
      and your <a href="{% url personal_resume %}" title="Your Resume">Resume</a></p>
  </div>
  {% endifequal %}

{% if user.is_authenticated %}
<div id="user-feed">
  <div id="overview">
    <div class="line-separator"><h2>Profile Overview</h2></div>
  <div class="profile-overview-home">
       {% with user.get_profile as userprofile %}
        <a href="{% url follow_list_for "followers" user.username %}" class="profile-box-home"><div class="number-home">{{ userprofile.followers|length }}</div><div class="name-home">Followers</div></a>
        <a href="{% url follow_list_for "following" user.username %}" class="profile-box-home"><div class="number-home">{{ userprofile.following_count}}</div><div class="name-home">Contacts</div> </a>
        <a href="{% url videos_with user.username 1 %}" class="profile-box-home"><div class="number-home">{{ userprofile.videos_count }}</div><div class="name-home">Videos</div></a>
        <a href="{% url galleries_page_for user.username 1 %}" class="profile-box-home"><div class="number-home">{{ userprofile.galleries_count }}</div><div class="name-home">Galleries</div></a>
        <div class="profile-box-home"><div class="number-home">{{ userprofile.cakebox_length }}</div><div class="name-home">Cakes</div></div>
       {% endwith %}
    </div>
   {% comment %} {% if user.get_profile.contact_list.members.all %}<p class="all-contacts">[ <a href="{% url follow_list_for "following" user.username %}" title="All your contacts">View all your contacts</a> ]</p>{% endif %}{% endcomment %}
  </div>
</div>
    {% endif %}
{# USER INBOX or WELCOME TO ADCAKE #}
{% if user.is_authenticated %}
{% load inbox %}
<div class="line-separator"><h2>Your Inbox</h2></div>
{% inbox_table %}
{% else %}
    <!-- SPOTLIGHT HOME NOT LOGGED -->
	<div id="news-spotlight_home">
	   <h2 id="spotlight-title_home" class="title">Spotlight</h2>
	    {% load spotlight %}{% spotlight_home %}
	</div>
    <!-- END SPOTLIGHT HOME NOT LOGGED -->
{% endif %}
{% if pending_roles %}
    <div id="prd">
    <div class="line-separator"><h2>Pending work participation requests</h2></div>
    <p>The Following professionals are asking for a participation in some of your works:</p>
    <table id="pending-roles-t">
        {% for pr in pending_roles %}
            <tr>
              {% if pr.media_file.playable %}
                <td class="thumb"><a  href="{% url video_detail pr.media_file.playable.video.pk pr.media_file.playable.video.slug %}" title="{{ pr }}">{% if pr.media_file.playable.video.get_thumbnails.0 %}<img src="{% thumbnail pr.media_file.playable.video.get_thumbnails.0 40x40 %}" />{% endif %}</a></td>
              {% else %}
                <td class="thumb"><a href="{{ pr.media_file.image.get_absolute_url }}" title="{{ pr }}"><img src="{% thumbnail pr.media_file.image.image 40x40 %}" /></a></td>
              {% endif %}
                <td class="author"><a href="{% url portfolio_for pr.author.username %}" title="{{ pr.author.username }}'s Portfolio">{{ pr.author.username|capfirst }}</a> as <b>{{ pr.role }}</b></td>
                <td><span class="pending-role-e" id="{{ pr.author|capfirst }}-accept-{{ pr.id }}" href="#">Accept</span></td>
                <td><span class="pending-role-e" id="{{ pr.author|capfirst }}-decline-{{ pr.id }}" href="#">Decline</span></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endif %}
{# AUTHENTICATED USER'S STUFF #}

<div class="clean"></div>
{% if user.is_authenticated %}
    {% ifnotequal remaining_invitations 0 %}
        <div class="invitation-block">
            
        </div>
    {% endifnotequal %}

{% endif %}

{# NEWS FEED for both authenticated and anonymous user #}
    
{% if news_list %}
<div id="news-feed">
  <div class="line-separator"><h2>What's new</h2></div>
  <ul>
    {% for article in news_list %}
    {% if forloop.first %}
    <li class="main-news">
      <h2><a href="{{ article.get_absolute_url }}" title="{{ article }}">{{ article }}</a></h2>
      <div class="subtitle">{{ article.subtitle }}</div>
      {% if article.thumbnail %}<img src="{{ article.thumbnail.url }}" />{% endif %}
      {% if article.summary %}{{ article.summary|safe }}{% else %}{{ article.content|safe|truncatewords_html:25 }}{% endif %}
      <div class="news-info">
	<span class="pubdate">{{ article.pub_date|date:"m/d/Y - H:i" }}</span>
	<span class="more"><a href="{{ article.get_absolute_url }}" title="{{ article }}">More...</a></span>
	<br class="clear" />
      </div>
    </li>
    {% else %}
    <li class="mini-news"><a href="{{ article.get_absolute_url }}" title="{{ article }}">{{ article }}</a> <div class="news-pubdate">{{ article.pub_date|date:"m/d/Y - H:i" }}</div></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
    <div class="spacer"></div>
<div id="horizontal-company-feed">
 <Div class="line-separator"><h2>Featured Companies</h2></div>
    {% for company in featured_comps %}
        <div class="company">
            <div class="logo">
            {% if company.logo %}
                <img src="{% thumbnail company.logo 70x70 %}" class="aligned" title="{{ company }}" />
	        {% else %}
	            <img src="{{MEDIA_URL}}images/no-image-logo.png" class="aligned" title="{{ company }}" />
            {% endif %}
            </div>
            <div class="company-info">
                <a class="company-name">
                  <a href="{% url cportfolio_for_shortcut company.slug %}" title="{{ company.name }}" class="company-name">{{ company.name }}<a></a>
                </a>
                <span class="company-item"><strong>Categories:</strong>{{ company.some_cats }}</span>
            </div>
        </div>
    {% endfor %}
</div>

{# Media for authenticated user #}
{% comment %}{% if user.is_authenticated %}{% endcomment %}
<div class="line-separator">
    <p class="buttons" id="handles8">
        <span class="random">Random</span>
        <span>Most Viewed</span>
        <span class="latest">Latest</span>
    </p>
</div>
<div class="mask1">
    <div id="box8">
        <div id="horizontal-media-feed">
            <p class="buttons"><span class="prev">Previous</span> <span class="next">Next</span></p>
          <ul>
            {% for media in random_view_list %}
            <li>
                <div class="media-thumb">
                    {% if media.image %}
                        <a href="{{ media.get_absolute_url }}" title="{{ media }}">{{ media.image.extra_thumbnails_tag.wider }}</a>
                        {% else %}
                        <a href="{% url video_detail media.pk media.slug %}" title="{{ media.title }}">{% if media.get_thumbnails.1 %}<img src="{% thumbnail media.video.get_thumbnails.1 280x180 crop %}" />{% else %}{% if media.get_thumbnails.0 %}<img src="{% thumbnail media.get_thumbnails.0 280x180 crop %}" />{% endif %}{% endif %}</a>
                    {% endif %}
                    <div class="fancy-description">
                        {% comment %}{% if media.image %}
                            <a href="{{ media.get_absolute_url }}" title="{{ media }}" class="media-title">{{ media|truncatesmart:44 }}</a>
                            {% else %}
                            <a href="{% url video_detail media.pk media.slug %}" title="{{ media }}" class="media-title">{{ media }}</a>
                            {% endif %}{% endcomment %}
                        <div class="media-meta">
                          {% if media.image %}
                            <span class="media-category">{{ media.main_category }}</span> <br />
                          {% else %}
                            <span class="media-category">{{ media.adcategory }}</span> <br />
                          {% endif %}
                          <span class="media-owner">By: <a href="{% url portfolio_for_shortcut media.owner.username %}" title="{{ media.owner.get_profile.get_name }}'s Portfolio">{{ media.owner.get_profile.get_name }}</a></span> <br />
                          {% if media.image %}
                              {% with media.galleries.all.0 as gal %}
                              {% if gal %}
                                <span class="media-region">{{ gal.region.printable_name }}</span>
                              {% endif %}
                              {% endwith %}
                          {% else %}
                              {% if media.video.region %}
                                <span class="media-region">{{ media.region.printable_name }}</span>
                              {% endif %}
                          {% endif %}
                        </div>
                    </div>
                </div>
                <div class="media-info">
                    {% if media.image %}
                        <a href="{{ media.get_absolute_url }}" title="{{ media }}" class="media-title">{{ media|truncatesmart:44|capfirst }}</a>
                        {% else %}
                        <a href="{% url video_detail media.pk media.slug %}" title="{{ media }}" class="media-title">{{ media|capfirst }}</a>
                        {% endif %}
                </div>
                  {% if media.image %}
                  <span class="image-cont">Image</span>
                  {% else %}
                  <span class="video-cont">Video</span>
                  {% endif %}
            </li>
            {% endfor %}
            <ul>
            <div class="clean"></div>
        </div>

        <div id="horizontal-media-feed">
            <p class="buttons"><span class="prev">Previous</span> <span class="next">Next</span></p>
          <ul>
            {% for media in most_view_list %}
            <li>
              <div class="media-thumb">
                {% if media.image %}
                <a href="{{ media.get_absolute_url }}" title="{{ media }}">{{ media.image.extra_thumbnails_tag.wider }}</a>
                {% else %}
                <a href="{% url video_detail media.pk media.slug %}" title="{{ media }}">{% if media.get_thumbnails.1 %}<img src="{% thumbnail media.playable.video.get_thumbnails.1 280x180 crop %}" />{% else %}{% if media.get_thumbnails.0 %}<img src="{% thumbnail media.get_thumbnails.0 280x180 crop %}" />{% endif %}{% endif %}</a>
                {% endif %}
                  <div class="fancy-description">
                    {% comment %}{% if media.image %}
                    <a href="{{ media.get_absolute_url }}" title="{{ media.title }}" class="media-title">{{ media|truncatesmart:44 }}</a>
                    {% else %}
                    <a href="{% url video_detail media.pk media.slug %}" title="{{ media.title }}" class="media-title">{{ media.title }}</a>
                    {% endif %}{% endcomment %}
                    <div class="media-meta">
                      {% if media.image %}
                        <span class="media-category">{{ media.main_category }}</span> <br />
                      {% else %}
                        <span class="media-category">{{ media.adcategory }}</span> <br />
                      {% endif %}
                      <span class="media-owner">By:<a href="{% url portfolio_for_shortcut media.owner.username %}" title="{{ media.owner.get_profile.get_name }}'s Portfolio">{{ media.owner.get_profile.get_name|capfirst }}</a></span> <br />
                      {% if media.image %}
                          {% with media.galleries.all.0 as gal %}
                          {% if gal %}
                            <span class="media-region">{{ gal.region.printable_name }}</span>
                          {% endif %}
                          {% endwith %}
                      {% else %}
                          {% if media.video.region %}
                            <span class="media-region">{{ media.region.printable_name }}</span>
                          {% endif %}
                      {% endif %}
                    </div>
                  </div>
              </div>
              <div class="media-info">
                {% if media.image %}
                    <a href="{{ media.get_absolute_url }}" title="{{ media.title }}" class="media-title">{{ media|truncatesmart:44|capfirst }}</a>
                    {% else %}
                    <a href="{% url video_detail media.pk media.slug %}" title="{{ media.title }}" class="media-title">{{ media.title|capfirst }}</a>
                    {% endif %}
              </div>
              {% if media.image %}
              <span class="image-cont">Image</span>
              {% else %}
              <span class="video-cont">Video</span>
              {% endif %}
            </li>
            {% endfor %}
          <ul>
          <div class="clean"></div>
        </div>

    {# NEWS FEED for both authenticated and anonymous user #}

        <div id="horizontal-media-feed">
            <p class="buttons"><span class="prev">Previous</span> <span class="next">Next</span></p>
          <ul>
            {% for media in new_media_list %}
            <li>
          <div class="media-thumb">
            {% if media.image %}
            <a href="{{ media.get_absolute_url }}" title="{{ media.title }}">{{ media.image.extra_thumbnails_tag.wider }}</a>
            {% else %}
            <a href="{% url video_detail media.pk media.slug %}" title="{{ media.title }}">{% if media.get_thumbnails.1 %}<img src="{% thumbnail media.get_thumbnails.1 280x180 crop %}" />{% else %}{% if media.get_thumbnails.0 %}<img src="{% thumbnail media.get_thumbnails.0 280x180 crop %}" />{% endif %}{% endif %}</a>
            {% endif %}
              <div class="fancy-description">
                {% comment %}{% if media.image %}
                <a href="{{ media.get_absolute_url }}" title="{{ media.title }}" class="media-title">{{ media.title|truncatesmart:44 }}</a>
                {% else %}
                <a href="{% url video_detail media.playable.video.pk media.playable.video.slug %}" title="{{ media.title }}" class="media-title">{{ media.title|truncatesmart:40}}</a>
                {% endif %}{% endcomment %}
                <div class="media-meta">
                  {% if media.image %}
                    <span class="media-category">{{ media.main_category }}</span> <br />
                  {% else %}
                    <span class="media-category">{{ media.adcategory }}</span> <br />
                  {% endif %}
                  <span class="media-owner">By: <a href="{% url portfolio_for_shortcut media.owner.username %}" title="{{ media.owner.get_profile.get_name }}'s Portfolio">{{ media.owner.get_profile.get_name }}</a></span> <br />
                  {% if media.image %}
                      {% with media.galleries.all.0 as gal %}
                      {% if gal %}
                        <span class="media-region">{{ gal.region.printable_name }}</span>
                      {% endif %}
                      {% endwith %}
                  {% else %}
                      {% if media.region %}
                        <span class="media-region">{{ media.region.printable_name }}</span>
                      {% endif %}
                  {% endif %}
                 </div>
              </div>
          </div>
          <div class="media-info">
            {% if media.image %}
                <a href="{{ media.get_absolute_url }}" title="{{ media.title }}" class="media-title">{{ media.title|truncatesmart:44|capfirst }}</a>
                {% else %}
                <a href="{% url video_detail media.playable.video.pk media.playable.video.slug %}" title="{{ media.title }}" class="media-title">{{ media.title|truncatesmart:40|capfirst}}</a>
                {% endif %}
          </div>

              {% if media.image %}
              <span class="image-cont">Image</span>
              {% else %}
              <span class="video-cont">Video</span>
              {% endif %}
            </li>
            {% endfor %}
            <ul>
          <div class="clean"></div>
        </div>
    </div>
</div>
{% comment %}{% endif %}{% endcomment %}
    
{% if user.is_authenticated %}
<div id="horizontal-media-feed">
  <div class="line-separator"><h2>Your recent uploads</h2></div>
      <ul>
        {% for media in upstream %}
        <li>
          <div class="media-thumb">
        {% if media.image %}
        <a href="{{ media.get_absolute_url }}" title="{{ media.title }}">{{ media.image.extra_thumbnails_tag.wider }}</a>
        {% else %}
        <a href="{% url video_detail media.pk media.slug %}" title="{{ media.title }}"> {% if media.get_thumbnails.1 %}<img src="{% thumbnail media.get_thumbnails.1 280x180 crop %}" />{% else %}{% if media.get_thumbnails.0 %}<img src="{% thumbnail media.get_thumbnails.0 280x180 crop %}" />{% endif %}{% endif %}</a>
        {% endif %}

        <div class="fancy-description">
              <div class="media-info">
                {% if media.image %}
                <a href="{{ media.get_absolute_url }}" title="{{ media.title }}" class="media-title">{{ media.title|truncatesmart:44|capfirst }}</a>
                {% else %}
                <a href="{% url video_detail media.pk media.slug %}" title="{{ media.title }}" class="media-title">{{ media.title|truncatesmart:44|capfirst }}</a>
                {% endif %}
                <div class="media-meta"><span class="media-views">{{ media.view_count }} views</span></div>
              </div>
            </div>
        </div>
        </li>
        {% empty %}
        <div class="upstream-empty">
          <p> You haven't upload any media of your own yet.</p>
        </div>
        {% endfor %}
      </ul>
  <div class="clean"></div>
</div>
{% endif %}
{% endblock %}
