<li><div id="logo-wrapper"><a id="main-logo" href="{% url homepage %}" title="Go to the homepage">Adcake - The advertising network</a></div></li>
<li><a href="{% url company_index 1 %}" title="Directory"{% ifequal module "directory" %} class="selected"{% endifequal %}>Companies</a></li>
<li><a href="{% url category_index_p %}" title="Professionals"{% ifequal module "professionals" %} class="selected"{% endifequal %}>Professionals</a></li>
{#<li><a href="{% url resume_index %}" title="Professionals"{% ifequal module "professionals" %} class="selected"{% endifequal %}>Professionals</a></li>#}
<li><a href="{% url video_index 1 %}" title="Videos"{% ifequal module "videos" %} class="selected"{% endifequal %}>Videos</a></li>
<li><a href="{% url image_list_page 1 %}" title="Galleries"{% ifequal module "galleries" %} class="selected"{% endifequal %}>Galleries</a></li>
<li><a href="{% url category_index_jobs %}" title="Jobs"{% ifequal module "jobs" %} class="selected"{% endifequal %}>Jobs</a></li>
<li><a href="{% url news_archive %}" title="News"{% ifequal module "news" %} class="selected"{% endifequal %}>Spotlight</a></li>



