{% extends "base.html" %}
{% load cake_buttons thumbnail custom_tags %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/home.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}

{% block content-header %}{% endblock %}
{% block content %}
     <div id="terms-conditions">
  <h2>Privacy Policy</h2>
<p>Our Privacy Policy is designed to assist you in understanding how we collect and use the personal information you provide to us and to assist you in making informed decisions when using our site and our products and services.</p>
<h3>What Information Do We Collect?</h3>
<p>When you visit our Web site you may provide us with two types of information: personal information you knowingly choose to disclose that is collected on an individual basis and Web site use information collected on an aggregate basis as you and others browse our Web site.</p>
<h3>1.              Personal Information You Choose to Provide</h3>
<h4>Registration Information.</h4>
<p>You will provide us information about yourself, your firm or company, and your practices when you register to be a member of  adcake.com, register for certain services, or register for email newsletters and alerts. You may also provide additional comments on how you see Adcake.com servicing your needs and interests.</p>
<h4>Email Information.</h4>
<p>If you choose to correspond with us through email, we may retain the content of your email messages together with your email address and our responses.</p>
<h3>2.              Web Site Use Information</h3>
<p>Similar to other commercial Web sites, our Web site utilizes a standard technology called "cookies" (see explanation below, "What Are Cookies?") and Web server logs to collect information about how our Web site is used. Information gathered through cookies and Web server logs may include the date and time of visits, the pages viewed, time spent at our Web site, and the Web sites visited just before and just after our Web site.  We, our advertisers and ad serving companies may also use small technology or pieces of code to determine which advertisements and promotions users have seen and how users responded to them.</p>
<h4>How Do We Use the Information That You Provide to Us?</h4>
<p>Broadly speaking, we use personal information for purposes of administering and expanding our business activities, providing customer service and making available other products and services to our customers and prospective customers. Occasionally, we may also use the information we collect to notify you about important changes to our Web site, new services and special offers we think you will find valuable. You may notify us at any time if you do not wish to receive these offers by emailing us at customerservice@adcake.com
What Are Cookies?.</p>
<p>A cookie is a very small text document, which often includes an anonymous unique identifier. When you visit a Web site, that site's computer asks your computer for permission to store this file in a part of your hard drive specifically designated for cookies. Each Web site can send its own cookie to your browser if your browser's preferences allow it, but (to protect your privacy) your browser only permits a Web site to access the cookies it has already sent to you, not the cookies sent to you by other sites.  Some of our business partners (e.g., advertisers) use cookies that originate from their sites. We have no access or control over those cookies. 
How Do We Use Information We Collect from Cookies?</p>
<p>As you use our Web site, the site uses its cookies to differentiate you from other users. In some cases, we also use cookies to prevent you from seeing unnecessary advertisements or requiring you to log in more than is necessary for security. Cookies, in conjunction with our Web server's log files, allow us to calculate the aggregate number of people visiting our Web site and which parts of the site are most popular. This helps us gather feedback in order to constantly improve our Web site and better serve our customers. Cookies do not allow us to gather any personal information about you and we do not generally store any personal information that you provided to us in your cookies.
Sharing Information with Third Parties</p>
<p>We may enter into alliances, partnerships or other business arrangements with third parties who may be given access to personal information, when the sharing is permitted by you in the privacy setting tab. We also use third parties to facilitate our business, including, but not limited to, sending email and processing credit card payments. In connection with these offerings and business operations, our partners and other third parties may have access to your personal information for use in connection with business activities. As we develop our business, we may buy or sell assets or business offerings.
Notice of New Services and Changes</p>
<p>Occasionally, we may also use the information we collect to notify you about important changes to our Web site, new services and special offers we think you will find valuable. As our customer, you will be given the opportunity to notify us of your desire not to receive these offers by sending us an email request at customerservice@adcake.com
<h4>How Do We Protect Your Information?</h4>
<h4>How Do We Secure Information Transmissions?</h4>
<p>Email is not recognized as a secure medium of communication. For this reason, we request that you do not send private information to us by email. Some of the information you may enter on our Web site may be transmitted securely via Secure Sockets Layer SSL, 128 bit encryption services. Pages utilizing this technology will have URLs that start with HTTPS instead of HTTP. Please contact customerservice@adcake.com  if you have any questions or concerns.<p>
<h4>How Can You Access and Correct Your Information?</h4>
<p>You may request access to all your personally identifiable information that we collect online and maintain in our database by emailing contact@adcake.com</p>
<h4>Certain Disclosures</h4>
<p>We may disclose your personal information if required to do so by law or subpoena or if we believe that such action is necessary to (a) conform to the law or comply with legal process served on us or affiliated parties; (b) protect and defend our rights and property, our site, the users of our site, and/or our affiliated parties; (c) act under circumstances to protect the safety of users of our site, us, or third parties.
<h4></h4>What About Other Web Sites Linked to Our Web Site?</h4>
<p>We are not responsible for the practices employed by Web sites linked to or from our Web site nor the information or content contained therein. Often links to other Web sites are provided solely as pointers to information on topics that may be useful to the users of our Web site.</p>
<p>Please remember that when you use a link to go from our Web site to another Web site, our Privacy Policy is no longer in effect. Your browsing and interaction on any other Web site, including Web sites which have a link on our Web site, is subject to that Web site's own rules and policies. Please read over those rules and policies before proceeding.</p>
</h4>Your Consent</h4>
<p>By using our Web site you consent to our collection and use of your personal information as described in this Privacy Policy. If we change our privacy policies and procedures, we will post those changes on our Web site to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it.</p>
  </div>
  {% endblock %}
