{% extends "base.html" %}
{% load cake_buttons thumbnail custom_tags %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/home.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}

{% block content-header %}{% endblock %}
{% block content %}
<div id="terms-conditions">
  <h2>Terms of Use</h2>
  <p>Welcome to our Web site.  By using our site, you are agreeing to comply with and be bound by the following terms of use. Please review the following terms carefully. If you do not agree to these terms, you should not use this site.  The term “ADCAKE” or “us” or “we” or “our” refers to the owner of the Web site.  The term “you” refers to the user or viewer of our Web Site.</p>
  <h3>1.              Acceptance of Agreement.</h3>
  <p>You agree to the terms and conditions outlined in this Terms of Use Agreement ("Agreement") with respect to our site (the "Site"). This Agreement constitutes the entire and only agreement between us and you, and supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the content, products or services provided by or through the Site, and the subject matter of this Agreement. This Agreement may be amended at any time by us from time to time without specific notice to you. The latest Agreement will be posted on the Site, and you should review this Agreement prior to using the Site.</p>
  <h3>2.              Copyright.</h3>
  <p>The content, organization, graphics, design, compilation, magnetic translation, digital conversion and other matters related to the Site are protected under applicable copyrights, trademarks and other proprietary (including but not limited to intellectual property) rights. The copying, redistribution, use or publication by you of any such matters or any part of the Site, except as allowed by Section 4 below, is strictly prohibited. You do not acquire ownership rights to any content, document or other materials viewed through the Site. The posting of information or materials on the Site does not constitute a waiver of any right in such information and materials.  Some of the content on the site is the copyrighted work of third parties.</p>
  <h3>3.              Service Marks.</h3>
  <p>"adcake.com" and others are our service marks or registered service marks or trademarks.  Other product and company names mentioned on the Site may be trademarks of their respective owners.</p>
  <h3>4.              Limited License; Permitted Uses.</h3>
  <p>You are granted a non-exclusive, non-transferable, revocable license (a) to access and use the Site strictly in accordance with this Agreement; (b) to use the Site solely for internal, personal, non-commercial purposes; and (c) to print out discrete information from the Site solely for internal, personal, non-commercial purposes and provided that you maintain all copyright and other policies contained therein.  No print out or electronic version of any part of the Site or its contents may be used by you in any litigation or arbitration matter whatsoever under any circumstances.</p>
  <h3>5.              Restrictions and Prohibitions on Use.</h3>
  <p>Your license for access and use of the Site and any information, materials or documents (collectively defined as “Content and Materials”) therein are subject to the following restrictions and prohibitions on use:  You may not (a) copy, print (except for the express limited purpose permitted by Section 4 above), republish, display, distribute, transmit, sell, rent, lease, loan or otherwise make available in any form or by any means all or any portion of the Site or any Content and Materials retrieved there from; (b) use the Site or any materials obtained from the Site to develop, of as a component of, any information, storage and retrieval system, database, information base, or similar resource (in any media now existing or hereafter developed), that is offered for commercial distribution of any kind, including through sale, license, lease, rental, subscription, or any other commercial  distribution mechanism; (c) create compilations or derivative works of any Content and Materials from the Site; (d) use any Content and Materials from the Site in any manner that may infringe any copyright, intellectual property right, proprietary right, or property right of us or any third parties; (e) remove, change or obscure any copyright notice or other proprietary notice or terms of use contained in the Site; (f) make any portion of the Site available through any timesharing system, service bureau, the Internet or any other technology now existing or developed in the future; (g) remove, decompile, disassemble or reverse engineer any Site software or use any network monitoring or discovery software to determine the Site architecture; (h) use any automatic or manual process to harvest information from the Site; (i) use the Site for the purpose of gathering information for or transmitting (1) unsolicited commercial email; (2) email that makes use of headers, invalid or nonexistent domain names, or other means of deceptive addressing; and (3) unsolicited telephone calls or facsimile transmissions; (j) use the Site in a manner that violates any state or federal law regulating email, facsimile transmissions or telephone solicitations; and (k) export or re-export the Site or any portion thereof, or any software available on or through the Site, in violation of the export control laws or regulations of the United States.</p>
  <h3>6.              Forms, Agreements & Documents</h3>
  <p>We may make available through the Site or through other Web sites sample and actual forms, checklists, business documents and legal documents (collectively, “Documents”).  All Documents are provided on a non-exclusive license basis only for your personal one-time use for non-commercial purposes, without any right to re-license, sublicense, distribute, assign or transfer such license.  Documents are provided for a charge and without any representations  or warranties, express or implied, as to their suitability, legal effect, completeness, currentness, accuracy, and/or appropriateness.  The Documents are provided “as is”, “as available”, and with “all faults”, and we and any provider of the Documents disclaim any warranties, including but not limited to the warranties of merchantability and fitness for a particular purpose.  The Documents may be inappropriate for your particular circumstances.  Furthermore, state laws may require different or additional provisions to ensure the desired result.  You should consult with legal counsel to determine the appropriate legal or business documents necessary for your particular transactions, as the Documents are only samples and may not be applicable to a particular situation.  Some Documents are public domain forms or available from public records.</p>
  <h3>7.              No Legal Advice or Attorney-Client Relationship.</h3>
  <p>Information contained on or made available through the Site is not intended to and does not constitute legal advice, recommendations, mediation or counseling under any circumstance and no attorney-client relationship is formed.  We do not warrant or guarantee the accurateness, completeness, adequacy or currency of the information contained in or linked to the Site.  Your use of information  on the Site or materials linked to the Site is entirely at your own risk.  We are not a law firm and the Site is not a lawyer referral service.</p>
  </h3>8.              Linking to the Site.</h3>
  <p>You may provide links to the Site, provided (a) that you do not remove or obscure, by framing or otherwise, advertisements, the copyright notice, or other notices on the Site, (b) your site does not engage in illegal or pornographic activities, and (c) you discontinue providing links to the Site immediately upon request by us.</p>
  <h3>9.              Advertisers.</h3>
  <p>The Site may contain advertising and sponsorships. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on the Site is accurate and complies with applicable laws.  We are not responsible for the illegality or any error, inaccuracy or problem in the advertiser’s or sponsor’s materials.</p>
  <h3>10.           Registration.</h3>
  <p>Certain sections of, or offerings from, the Site may require you to register.  If registration is requested, you agree to provide us with accurate, complete registration information.  Your registration must be done using your real name and accurate information.  Each registration is for your personal use only and not on behalf of any other person. We do not permit (a) any other person using the registered sections under your name; or (b) access through a single name being made available to multiple users on a network.  You are responsible for preventing such unauthorized use.</p>
  <h3>11.           Errors, Corrections and Changes.</h3>
  <p>We do not represent or warrant that the Site will be error-free, free of viruses or other harmful components, or that defects will be corrected.  We do not represent or warrant that the information available on or through the Site will be correct, accurate, timely or otherwise reliable.  We may make changes to the features, functionality or content of the Site at any time.  We reserve the right in our sole discretion to edit or delete any documents, information or other content appearing on the Site.</p
  <h3>12.           Third Party Content.</h3>
  <p>Third party content may appear on the Site or may be accessible via links from the Site.  We are not responsible for and assume no liability for any mistakes, misstatements of law, defamation, omissions, falsehood, obscenity, pornography or profanity in the statements, opinions, representations or any other form of content on the Site.  You understand that the information and opinions in the third party content represent solely the thoughts of the author and is neither endorsed by nor does it necessarily reflect our belief.</p>
  <h3>13.           Unlawful Activity.</h3>
  <p>We reserve the right to investigate complaints or reported violations of this Agreement and to take any action we deem appropriate, including but not limited to reporting any suspected unlawful activity to law enforcement officials, regulators, or other third parties and disclosing any information necessary or appropriate to such persons or entities relating to your profile, email addresses, usage history, posted materials, IP addresses and traffic information.</p>
  <h3>14.           Indemnification.</h3>
  <p>You agree to indemnify, defend and hold us and our partners, agents, officers, directors, employees, subcontractors, successors, assigns, third party suppliers of information and documents, attorneys, advertisers, product and service providers, and affiliates (collectively, "Affiliated Parties") harmless from any liability, loss, claim and expense, including reasonable attorney's fees, related to your violation of this Agreement or use of the Site.</p>
  <h3>15.           Nontransferable.</h3>
  <p>Your right to use the Site is not transferable or assignable. Any password or right given to you to obtain information or documents is not transferable or assignable.</p>
  <h3>16.           Disclaimer.</h3>
  <p>THE INFORMATION, CONTENT AND DOCUMENTS FROM OR THROUGH THE SITE ARE PROVIDED "AS-IS," "AS AVAILABLE," WITH “ALL FAULTS”, AND ALL WARRANTIES, EXPRESS OR IMPLIED, ARE DISCLAIMED (INCLUDING BUT NOT LIMITED TO THE DISCLAIMER OF ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE). THE INFORMATION AND SERVICES MAY CONTAIN BUGS, ERRORS, PROBLEMS OR OTHER LIMITATIONS. WE AND OUR AFFILIATED PARTIES HAVE NO LIABILITY WHATSOEVER FOR YOUR USE OF ANY INFORMATION OR SERVICE, EXCEPT AS PROVIDED IN SECTION 17(b). IN PARTICULAR, BUT NOT AS A LIMITATION THEREOF, WE AND OUR AFFILIATED PARTIES ARE NOT LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS, LOSS OF PROFITS, LITIGATION, OR THE LIKE), WHETHER BASED ON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE NEGATION AND LIMITATION OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN US AND YOU. THIS SITE AND THE PRODUCTS, SERVICES, DOCUMENTS AND INFORMATION PRESENTED WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US THROUGH THE SITE OR OTHERWISE SHALL CREATE ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THIS AGREEMENT.</p>
  <p>ALL RESPONSIBILITY OR LIABILITY FOR ANY DAMAGES CAUSED BY VIRUSES CONTAINED WITHIN THE ELECTRONIC FILE CONTAINING A FORM OR DOCUMENT IS DISCLAIMED.</p>
  <h3>17.           Limitation of Liability</h3>
  <p>(a)          We and any Affiliated Party shall not be liable for any loss, injury, claim, liability, or damage of any kind resulting in any way from (a) any errors in or omissions from the Site or any  services or products obtainable therefrom, (b) the unavailability or interruption of the Site or any features thereof, (c) your use of the Site, (d) the content contained on the Site, or (e) any delay or failure in performance beyond the control of a Covered Party.</p>
  <p>(b)          THE AGGREGATE LIABILITY OF US AND THE AFFILIATED PARTIES IN CONNECTION WITH ANY CLAIM ARISING OUT OF OR RELATING TO THE SITE AND/OR THE PRODUCTS, INFORMATION, DOCUMENTS AND SERVICES PROVIDED HEREIN OR HEREBY SHALL NOT EXCEED $100 AND THAT AMOUNT SHALL BE IN LIEU OF ALL OTHER REMEDIES WHICH YOU MAY HAVE AGAINST US AND ANY AFFILIATED PARTY.</p>
  <h3>18.           Use of Information.</h3>
  <p>We reserve the right, and you authorize us, to the use and assignment of all information regarding Site uses by you and all information provided by you in any manner consistent with our Privacy Policy. All remarks, suggestions, ideas, graphics, or other information communicated by you to us (collectively, a "Submission") will forever be our property. We will not be required to treat any Submission as confidential, and will not be liable for any ideas (including without limitation, product, service or advertising ideas) and will not incur any liability as a result of any similarities that may appear in our future products, services or operations. Without limitation, we will have exclusive ownership of all present and future existing rights to the Submission of every kind and nature everywhere. We will be entitled to use the Submission for any commercial or other purpose whatsoever, without compensation to you or any other person sending the Submission. You acknowledge that you are responsible for whatever material you submit, and you, not us, have full responsibility for the message, including its legality, reliability, appropriateness, originality, and copyright.</p>
  <h3>19.           Third-Party Services.</h3>
  <p>We may allow access to or advertise certain third-party product or service providers ("Merchants") from which you may purchase certain goods or services. You understand that we do not operate or control the products or services offered by Merchants. Merchants are responsible for all aspects of order processing, fulfillment, billing and customer service. We are not a party to the transactions entered into between you and Merchants. You agree that use of or purchase from such Merchants is AT YOUR SOLE RISK AND IS WITHOUT WARRANTIES OF ANY KIND BY US, EXPRESSED, IMPLIED OR OTHERWISE INCLUDING WARRANTIES OF TITLE, FITNESS FOR PURPOSE, MERCHANTABILITY OR NON-INFRINGEMENT. UNDER NO CIRCUMSTANCES ARE WE LIABLE FOR ANY DAMAGES ARISING FROM THE TRANSACTIONS BETWEEN YOU AND MERCHANTS OR FOR ANY INFORMATION APPEARING ON MERCHANT SITES OR ANY OTHER SITE LINKED TO OUR SITE.</p
  <h3>20.           Third-Party Merchant Policies.</h3>
  <p>All rules, policies (including privacy policies) and operating procedures of Merchants will apply to you while on any Merchant sites. We are not responsible for information provided by you to Merchants. We and the Merchants are independent contractors and neither party has authority to make any representations or commitments on behalf of the other.21.             Privacy Policy.
  <p>Our Privacy Policy, as it may change from time to time, is a part of this Agreement.  You must review this Privacy Policy by clicking on this link.</p>
  <h3>22.           Payments.</h3>
  <p>You represent and warrant that if you are purchasing something from us or from Merchants that (i) any credit information you supply is true and complete, (ii) charges incurred by you will be honored by your credit card company, and (iii) you will pay the charges incurred by you at the posted prices, including any applicable taxes.</p>
  <h3>23.           Securities Laws.</h3>
  <p>The Site may include statements concerning our operations, prospects, strategies, financial condition, future economic performance and demand for our products or services, as well as our intentions, plans and objectives (particularly with respect to product and service offerings), that are forward-looking statements. These statements are based upon a number of assumptions and estimates which are subject to significant uncertainties, many of which are beyond our control. When used on our Site, words like "anticipates," "expects," "believes," "estimates," "seeks," "plans," "intends," "will" and similar expressions are intended to identify forward-looking statements designed to fall within securities law safe harbors for forward-looking statements. The Site and the information contained herein does not constitute an offer or a solicitation of an offer for sale of any securities. None of the information contained herein is intended to be, and shall not be deemed to be, incorporated into any of our securities-related filings or documents.</p>
  <h3>24.           Links to other Web Sites.</h3>
  <p>The Site contains links to other Web sites. We are not responsible for the content, accuracy or opinions express in such Web sites, and such Web sites are not investigated, monitored or checked for accuracy or completeness by us. Inclusion of any linked Web site on our Site does not imply approval or endorsement of the linked Web site by us. If you decide to leave our Site and access these third-party sites, you do so at your own risk.</p>
  <h3>25.           Copyrights and Copyright Agents.</h3>
  <p>We respect the intellectual property of others, and we ask you to do the same. If you believe that your work has been copied in a way that constitutes copyright infringement, please provide our Copyright Agent the following information:</p>
  <p>a.               An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</p>
  <p>b.              A description of the copyrighted work that you claim has been infringed;</p>
  <p>c.               A description of where the material that you claim is infringing is located on the Site;</p>
  <p>d.              Your address, telephone number, and email address;</p>
  <p>e.               A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</p>
  <p>f.                A statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</p>
  <p>Our Copyright Agent for Notice of claims of copyright infringement on the Site can be reached by directing an e-mail to the Copyright Agent at contact@adcake.com</p>
  <h3>26.           Information and Press Releases.</h3>
  <p>The Site contains information and press releases about us. We disclaim any duty or obligation to update this information or any press releases. Information about companies other than ours contained in the press release or otherwise, should not be relied upon as being provided or endorsed by us.</p>
  <h3>27.           Legal Compliance.</h3>
  <p>You agree to comply with all applicable domestic and international laws, statutes, ordinances and regulations regarding your use of the Site and the Content and Materials provided therein.</p>
  <h3>28.           Refund and Return Policy.</h3>
  <p>To the extent that you purchase any services directly from us, we will refund you your purchase price within 30 days of you notifying us in writing of your desire for the refund, together with the reason for the request, with the product or service returned to us in substantially the same condition as when purchased. Please note , however, that certain services mentioned on our site are sold by third parties or are linked to third party Web sites, and we have no responsibility or liability for those products or services. You may request a refund by contacting us by email at customerservice@adcake.com.</p>
  <h3>29.           Miscellaneous.</h3>
  <p>This Agreement shall be treated as though it were executed and performed in San Francisco, California, and shall be governed by and construed in accordance with the laws of the State of California (without regard to conflict of law principles). Any cause of action by you with respect to the Site (and/or any information, Documents, products or services related thereto) must be instituted within one (1) year after the cause of action arose or be forever waived and barred. All actions shall be subject to the limitations set forth in Section 16 and Section 17. The language in this Agreement shall be interpreted as to its fair meaning and not strictly for or against any party. This Agreement and all incorporated agreements and your information may be automatically assigned by us in our sole discretion to a third party in the event of an acquisition, sale or merger.  Should any part of this Agreement be held invalid or unenforceable, that portion shall be construed consistent with applicable law and the remaining portions shall remain in full force and effect. To the extent that anything in or associated with the Site is in conflict or inconsistent with this Agreement, this Agreement shall take precedence. Our failure to enforce any provision of this Agreement shall not be deemed a waiver of such provision nor of the right to enforce such provision.  Our rights under this Agreement shall survive any termination of this Agreement.</p>
  <h3>30.           Arbitration. </h3>
  <p>Any legal controversy or legal claim arising out of or relating to this Agreement or our services, excluding legal action taken by us to collect or recover damages for, or obtain any injunction relating to, Site operations, intellectual property, and our services, shall be settled solely by binding arbitration in accordance with the commercial arbitration rules of JAMS.  Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party.  The arbitration shall be conducted in San Francisco, California, and judgment on the arbitration award may be entered into any court having jurisdiction thereof.  Either you or us may seek any interim or preliminary relief from a court of competent jurisdiction in San Francisco, California necessary to protect the rights or property of you and us pending the completion of arbitration.  Each party shall bear one-half of the arbitration fees and costs incurred through JAMS.</p>
  </div>
  {% endblock %}
