{% load thumbnail %}
<div class="news-letter" style="color:#000;width: 555px;overflow:hidden;background: #f5f5f5;border: 2px solid #B3B3B3;border-radius: 10px;margin:0 auto" >
    <div class="logo" style="font-size: 16px;width: 550px;height: 40px;margin-top: 10px;text-align: center;font-weight: bold;margin-bottom:10px">
        <img src="http://www.adcake.com/site-media/images/logo/adcake.png" alt="ADCAKE&trade;"/>
    </div>
    {% if media.image %}
        <div class="work" style="text-align: center;padding: 5px;background-color: white;border: 1px solid #DDD;float: left;margin-left: 10px;">
            {{ media.image.extra_thumbnails_tag.large }}
        </div>
    {% endif %}
    {% if media.video %}
        <div class="work" style="width: 172px;height: 96px;text-align: center;padding: 5px;background-color: white;border: 1px solid #DDD;float: left;margin-left: 10px;">
            {% if media.playable.video.get_thumbnails.1 %}<img src="{% thumbnail media.playable.video.get_thumbnails.1 172x96 crop %}" />{% else %}{% if media.playable.video.get_thumbnails.0 %}<img src="{% thumbnail media.playable.video.get_thumbnails.0 172x96 crop %}" />{% endif %}{% endif %}
        </div>
    {% endif %}
    <div class="subject" style="width:300px;float: left;height: 80px;margin-left:10px"> <h2 class="subject2" style="font-size:16px;margin-top:0;margin-bottom:0">{{ comment.user.get_full_name }}({{ comment.user.username}})</h2> <h2 class="subject3" style="font-size:12px;margin-top:5px">Follow this link to view the comment.</h2>
    <a target="_blank" href="http://www.adcake.com{{ media.get_absolute_url }}">Here</a>
    </div>

    <div class="separator" style="height: 15px;width: 550px;clear:both"></div>
    <div class="avatar" style="float: left;margin:15px"><img src="{% thumbnail comment.user.get_profile.image 60x60 %}" style="border: 1px solid #DDD;padding: 3px;background-color:#fff;width:60px;height:60px"/></div>
    <div class="message" style="font-size:12px;color:#636363;width: 370px;float:left;margin-top:15px">on {{ comment.submit_date|date:"F j, Y" }}<br> <strong>{{ comment.user.get_full_name }} wrote:</strong> {{ comment.comment }}
    </div>
    <div class="separator2"></div>
    <div class="foottext" style="font-size: 10px;width:100%;float: left;color:#636363;text-align: center;padding-top:20px"> You can remove yourself from the ADCAKE's mailing list at any time, by writing us an email at <a target="_blank" href="mailto:support@adcake.com">support@adcake.com</a> </div>
    <div class="footer" style="font-size: 9px;width:100%;float: left;text-align: center">2011 ADCAKE&trade;, ALL RIGHTS RESERVED.</div>
</div>