Hello!

<!-- 
	A minimal setup to get you started. This configuration is the same
	as in our Quick Start documentation:
	
	http://flowplayer.org/player/quick-start.html
-->

<head>  

	<title>Simple Flowplayer example</title>
	
	<!-- 
		include flashembed - which is a general purpose tool for 
		inserting Flash on your page. Following line is required.
	-->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/flashembed.min.js"></script>
	
	<!-- some minimal styling, can be removed -->
	<link rel="stylesheet" type="text/css" href="css/common.css"/>

	<script>
	
	 /*
		use flashembed to place flowplayer into HTML element 
		whose id is "example" (below this script tag)
	 */
	 flashembed("example", 
	
		/* 
			first argument supplies standard Flash parameters. See full list:
			http://kb.adobe.com/selfservice/viewContent.do?externalId=tn_12701
		*/
		{
			src:'{{ MEDIA_URL }}flash/FlowPlayerDark.swf',
			width: 400, 
			height: 290
		},
		
		/*
			second argument is Flowplayer specific configuration. See full list:
			http://flowplayer.org/player/configuration.html
		*/
		{config: {   
			autoPlay: false,
			autoBuffering: true,
			controlBarBackgroundColor:'0x2e8860',
			initialScale: 'scale',
			videoFile: '{{ MEDIA_URL }}videos/video.flv'
		}} 
	);
	</script>	
	
</head>

<div id="page">
	
	<h1>Simple Flowplayer <em>example</em></h1>

	<p>
		View source the page source to see how Flowplayer is installed.
	</p>
	
	<!-- this DIV is where your Flowplayer will be placed. it can be anywhere -->
	<div id="example"></div>

	<p>
		<button onClick="location.href='index.html'">&laquo; back to examples</button>
	</p>
	
</div>


<form enctype="multipart/form-data" method="post" action="/video/">
{{form.as_p}}
<input type="submit" />
</form>
