{% extends "base.html" %}

{% ifequal member user %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "profile" %}
      </ul>
      {% endblock %}
{% endifequal %}


{% block extra-style %}<link href="{{ MEDIA_URL }}css/professionals.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}


{% block content-menu %}
<ul id="content-menu">
{% comment %}
  {% if has_next %}
  <li><a href="{% url follow_list_for action user.username %}">Next Page</a></li>
  {% endif %}
  {% if has_previous %}
  <li><a href="{% url follow_list_for action user.username %}">Previous Page</a></li>
  {% endif %}
{% endcomment %}
</ul>
{% endblock %}

{% block content %}
<ul id="professionals" class="professional-list">
  {% block follow %}{% endblock %}
</ul>
{% load pagination %}{% paginate %}
{% endblock %}
