{% extends "cake/base_follow.html" %}
{% load cake_buttons truncate_filters thumbnail %}
{% block follow %}
  {% for follow in follow_list %}
  {% with follow.member as u %}
  <li>
     <div class="professional_block">
     {% if u.get_profile.image %}
      <img src="{% thumbnail u.get_profile.image 90x90 crop %}"  class="image_frame"/>
      {% else %}
      <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="prueba" width="90" height="90" class="image_frame"/>
      {% endif %}
      <div class="info">
      <a href="{% url portfolio_for_shortcut u.username %}" title="View {{u}}'s Portfolio">{{u|capfirst}}</a><br>
      {% if u.job_stat %}<span class="title-info"></span>{{u.get_profile.job_stat}}<br>{% endif %}
      <span class="title-info">Galleries:</span>{{ u.get_profile.galleries_count }}<br>
      <span class="title-info"> Videos:</span> {{ u.get_profile.videos_count }}<br>
      </div>
      <div class="followersblock">
	<div class="followersnumber">{{ u.get_profile.followers|length }}</div>
	<div class="followerstitle">Followers</div>
      </div>
     </div>
    <div class="cleanblock"></div>
  </li>
  {% endwith %}
  {% endfor %}
{% endblock %}
