{% if form %} 
{% if form.errors %}
<div id="errorMsg">
  <h3>There {{ form.errors|length|pluralize:"is,are" }} {{ form.errors|length }} error{{ form.errors|length|pluralize }} in the form</h3>
  {% if form.non_field_errors %}
  <ol>
    {{ form.non_field_errors.as_ul }}
  </ol>
  {% endif %}
</div>
{% endif %}

{% if fieldset_form %}
{{ fieldset_form|safe }}
{% else %}
<ul>
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <li class="ctrlHolder{% if field.errors %} error{% endif %}{% if forloop.last %} last{% endif %}">
          <ul class="errorHolder">
          {% for error in field.errors %}
                <li class="errorField">
                    <strong>{{ error }}</strong>
                </li>       
            {% endfor %} 
          </ul>
            {% if field.label %}
                <label for="{{ field.auto_id }}">
                    {% if field.field.required %}*{% endif %} 
                    {{ field.label }}
                </label>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
                <p class="formHint">{{ field.help_text }}</p>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endif %}
