{% extends "base.html" %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "profile" %}
      </ul>
      {% endblock %}
      {% block spotlight %}
      {% endblock %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/profile.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}

{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/profile.js"></script>
{% endblock %}

