{% extends "accounts/base.html" %}

{% load cake_buttons countries_tags%}

{% block title %}Edit your Profile{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url messages_inbox %}" title="Go to your inbox">Inbox: check your messages</a></li>
  <li><a href="{% url profile_for user.username %}" title="View public profile">View your public profile</a></li>
</ul>
{% endblock %}

{% block content-header %}{% endblock %}
{% block content %}
<div id="edit-profile">
  <div id="owner-content">
  <div class="owner-image">
    {% if user.get_profile.image %}
    <img class="owner-image-avatar" src="{{ user.get_profile.image.extra_thumbnails.big }}" alt="{{ user }}" />
    {% else %}
    <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ user }}" width="148" height="148" />
    {% endif %}
  </div>
  <div class="owner-information large"{% ifequal user user %} style="padding-top: 0px"{% endifequal %}>
    <h1 class="owner-name">My Profile </h1>
    <div class="profile-overview">
        <div class="profile-box"><div class="number">{{ user.get_profile.followers|length }}</div><div class="name">Followers</div></div>
        <div class="profile-box"><div class="number">{{ user.get_profile.following_count}}</div><div class="name">Following</div></div>
        <div class="profile-box"><div class="number">{{ user.get_profile.videos_count }}</div><div class="name">Videos</div></div>
        <div class="profile-box"><div class="number">{{ user.get_profile.galleries_count }}</div><div class="name">Galleries</div></div>
    </div>
      {# <span class="user-contact">{% add_to_contact_list user %}</span> #}
    <div class="profile-overview-options">
        <div class="profile-overview-c1">
                <a href="{% url profile_for user.username %}" title="Preview my profile" class="view-profile">Preview Profile</a>
        </div>
        <div class="profile-overview-c2">
                <a href="{% url my_portfolio %}" title="Edit my portfolio" class="view-portfolio">Edit Portfolio</a>
        </div>
    </div>
    </div>
  </div>

  <div id="company-ad">
    <p>
      <strong>Have a company?</strong> <span class="link">Make one for free!</span>
    </p>
  </div>

{% if error %}
  <div class="stderror">There was an error during your submission</div><br/>
{% endif %}

  <div id="profile-forms">
    <ul id="profile-tabs"{% if sec %} rel="{{ sec }}"{% endif %}>
      <li id="account"><a href="#" title="Accounts">Account</a></li>
      <li id="password"><a href="#" title="Password">Password</a></li>
      <li id="picture"><a href="#" title="Picture">Picture</a></li>
      {% comment %}<li id="notif"><a href="#" title="Notifications">Notifications</a></li>{% endcomment %}
      <li id="companies"><a href="#" title="Companies">Companies</a></li>
      {% comment %}<li id="private_settings"><a href="#" title="Private Settings">Private Settings</a></li>{% endcomment %}
    </ul>
    <div id="form-holder">
      
    </div>
  </div>
</div>
{% endblock %}
