{% extends "base.html" %}
{% load i18n %}
{% block content-header %}
    <META HTTP-EQUIV="Refresh"
      CONTENT="30; /">
{% endblock %}
{% block content %}
<div class="notification">
<h2>{% trans "Request completed!" %}</h2>
<p class="left">
Dear Sir or Madam,<br/><br/>
Thank you for considering us, we are going to review your request as soon as possible.
Please wait for our approval via email.<br/><br/>
Once approved you can start using  all the ADCAKE™ features.<br/>
-Update your profile<br/>
-Create a Portfolio  & Resume<br/>
-Create a company profile<br/>
-Upload your work<br/>
-Start sharing!<br/><br/>

ADCAKE™ is a free network made for professionals that want to exhibit their work, and for companies who are looking for new talents. Help us create a better working network for the Advertising and Media Arts field.<br/><br/>

If you have any suggestions or advice please feel free to write us at <a href="mailto:contact@adcake.com">contact@adcake.com</a>.<br/><br/>


Best Regards,<br/>
<br/> ADCAKE&trade;<br/><br/>
</p>
<p>If you don't get redirected automatically, you can click <a href="{% url homepage %}">here</a> to go Home </p>
</div>


{% endblock %}
