{% extends "base.html" %}
{% block title %}Request Account{% endblock %}
{% block main-title-text %}
Request an account
{% endblock %}
{% block content %}
{% load uni_form %}
<div class="check-spam-box"><h3 class="check-spam-box-h">Ask a colleague for an invitation or request an account here. <br><br>If you don't receive the confirmation email, ensure that you check your email account's spam folder to make sure that it was not misfiled.</h3></div>
<div id="form-holder">
<form action="{% url request_account %}" class="adcake-uni-form" method="POST">{% csrf_token %}
<fieldset class="inlineLabels">
{{ form|as_uni_form }}
<div class="buttonHolder">
<input type="submit" name="invite" value="Submit" />
</div>
</fieldset>
</form>
</div>
{% endblock %}
