{% extends "accounts/base.html" %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}
      {% if ownership %}
      {% main_menu "profile" %}
      {% else %}
      {% main_menu "" %}
      {% endif %}
      </ul>
      {% endblock %}

{% load cake_buttons countries_tags %}

{% block title %}{{ profile.get_name }}'s Profile{% endblock %}

{% block content-header %}{% endblock %}
{% block content %}
<div id="profile">
  <div id="owner-content">
  <div class="owner-image">
    {% if profile.image %}
    <img class="owner-image-avatar" src="{{ profile.image.extra_thumbnails.big }}" alt="{{ profile.user }}" />
    {% else %}
    <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ profile.user }}" width="148" height="148" />
    {% endif %}
  </div>
  <div class="owner-information large">
    <h1 class="owner-name">{{ profile.get_name }}'s Profile</h1>
    {% if profile.country %}
    <img class="flag" src="{{ profile.country.iso|iso_flag }}" alt="[{{ profile.country.iso }}]"/>
    <div class="clear"></div>
    {% endif %}
    <div class="profile-overview">
        <div class="profile-box"><div class="number">{{ profile.followers|length }}</div><div class="name">Followers</div></div>
        <div class="profile-box"><div class="number">{{ profile.following_count}}</div><div class="name">Following</div></div>
        <div class="profile-box"><div class="number">{{ profile.videos_count }}</div><div class="name">Videos</div></div>
        <div class="profile-box"><div class="number">{{ profile.galleries_count }}</div><div class="name">Galleries</div></div>
    </div>

    <div class="profile-overview-options">
        <div class="profile-overview-c1">
            {% if user.is_authenticated %}
                {% ifnotequal request.user profile.user %}
                    {% add_to_contact_list profile.user %}
                    <a href="{% url messages_compose_to profile.user.username %}" title="View {{ profile.get_name }}'s profile" class="send-message">Message</a>
                {% else %}
                    <a href="{% url my_profile %}" title="Edit your Portfolio" class="profile">Edit Profile</a>
                {% endifnotequal %}
            {% endif %}
        </div>
        <div class="profile-overview-c2">
            {% ifequal request.user profile.user %}
                <a href="{% url my_portfolio %}" title="View {{ profile.get_name }}'s profile" class="view-portfolio">Edit Portfolio</a>
            {% else %}
                <a href="{% url portfolio_for_shortcut profile.user.username %}" title="View {{ profile.get_name }}'s Portfolio" class="view-portfolio">View Portfolio</a>
            {% endifequal %}
        </div>
    </div>
  </div>
<div class="clear"></div>

{% if profile.summary %}
<div id="portfolio-information">
  {{ profile.summary|linebreaks }}
    </div>
      {% endif %}
<div class="clear"></div>
  </div>

  <div id="profile-display">
    <div class="profile-sec-header">
      <h3>Personal Information</h3>
      <br class="clear" />
    </div>
    <table class="profile-info" summary="{{ profile.get_name }} profile information">
      <tr>
	<td class="left">Full name</td>
	<td>{{ profile.user.get_full_name }}</td>
      </tr>
      <tr>
	<td class="left">Birth date</td>
	<td>{% if profile.birthdate %}{{ profile.birthdate }}{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
      <tr>
	<td class="left">Country</td>
	<td>{% if profile.country %}{{ profile.country }}{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
      <tr>
    <td class="left">State</td>
	<td>{% if profile.state %}{{ profile.state|capfirst }}{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
      <tr>
	<td class="left">Gender</td>
	<td>{% if profile.gender %}{{ profile.get_gender_display }}{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
      <tr>
	<td class="left">Job status</td>
	<td>{% if profile.job_status %}{{ profile.get_job_status_display }}{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
        <tr>
	<td class="left">Employer</td>
	<td>{% if profile.employer %}{{ profile.employer}}{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
    <td class="left">Languages</td>
	<td>{% if profile.lengs %}{{ profile.lengs }}{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
    </table>

    <div class="profile-sec-header">
      <h3>Contact Information</h3>
      <br class="clear" />
    </div>
    <table class="profile-info" summary="{{ profile.get_name }} profile information">
      <tr>
	<td class="left">Website</td>
	<td>{% if profile.website %}<a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a>{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
    {% comment %}
      <tr>
	<td class="left">Email</td>
	<td>{% if profile.user.email %}<a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>{% else %}<span class="unavailable">This information is unavailable...</span>{% endif %}</td>
      </tr>
    {% endcomment %}
    </table>
    {% if not resume.empty %}
        {% for category, sublist in category_tree %}
            {% ifnotequal category.description "<br>" %}
                {% ifnotequal category.description "" %}
                <div class="profile-sec-header">
                    <h3>{{ category.title }}</h3>
                    <br class="clear" />
                </div>
                <div class="resume-categories">
                    {{category.description|safe}}
                </div>
                {% endifnotequal %}
            {% endifnotequal %}
        {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
