
<div id="personal-information">
  {% if user.is_anonymous %}

  <form action="{% url auth_login %}" method="post" id="login-form" class="standard-form">{% csrf_token %}
    <fieldset>
      <legend>You are not logged in</legend>
      <table>
	<tr>
	  <th><label for="id_username">Username</label></th>
	  <td>{{ form.username }}</td>
	</tr>
	<tr class="last">
	  <th>{{ form.password.label_tag }}</th>
	  <td>
	    {{ form.password }}
	  </td>
	</tr>
      </table>
    </fieldset>

    <p class="login-helpers">
      <span><input type="checkbox" name="_remember" /> Remember me?</span>
      <a href="{% url auth_password_reset %}" title="Did you forget your password?">Did you forget your password?</a>
    </p>
    <br class="clear" />

    <input type="hidden" name="next" value="{{ next }}" />
    <div class="post-form-buttons">
      <input type="button" name="_registration" value="Request an account" id="open-registration" />
      <input type="submit" name="_login" value="Log In" class="main-button" />
    </div>
  </form>

{% comment %}
  <form action="{% url registration_register %}" method="post" id="registration-form" class="standard-form">{% csrf_token %}
    <fieldset>
      <legend>Get your own account</legend>
      <table>
	{{ registration_form.as_table }}
      </table>
    </fieldset>
    
    <div class="post-form-buttons">
      <input type="button" name="_close_registration" value="Close" id="close-registration" />
      <input type="submit" name="_login" value="Register" class="main-button" />
    </div>
  </form>
{% endcomment %}

  {% else %}

      {% comment %}
  {% if user.get_profile.image %}
  <img src="{{ user.get_profile.image.extra_thumbnails.small }}" alt="{{ user }}" class="avatar" />
  {% else %}
  <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ user }}" width="48" height="48" class="avatar" />
  {% endif %}

  <h2>Hello {{ full_name }} <a href="{% url messages_inbox %}" title="Go to inbox">({% load inbox %}{% inbox_count %})</a>,</h2>

  <ul>
        <li><a href="{% url messages_inbox %}" title="My Portfolio">Inbox</a></li>
	<li><a href="{% url my_portfolio %}" title="My Portfolio">Portfolio</a></li>
	<li><a href="{% url my_profile %}" title="My Portfolio">Profile</a></li>
	<li class="last"><a href="{% url personal_resume %}" title="">Resume</a></li>
  </ul>
  <br class="clear" />
       {% endcomment %}
  {% endif %}
</div>
