{% extends 'admin/base_site.html' %}
{% load i18n adminmedia uni_form %}
{% block content %}
<div id="content-main">
<form method="post" class="adcake-uni-form" enctype="multipart/form-data">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>search for emails:</legend>
    {{ form|as_uni_form }}
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Add">
    </div>
    <span id="errors"></span>
  </fieldset>
</form>
</div>
{% endblock %}