{% extends 'base_frame.html' %}
{% block extra-style %}
<link href="{{ MEDIA_URL }}css/directory.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/fancy_thumbsc.js"></script>
    <link media="screen" rel="stylesheet" href="{{ MEDIA_URL }}css/colorbox.css" />
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-1.4.2.min.js'></script>
    <script>$j = jQuery.noConflict();</script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/endless.js'></script>
    <script type='text/javascript'  src="{{ MEDIA_URL }}js/jquery.colorbox.js"></script>
    <script>
      $j(document).ready(function(){
      //Examples of how to assign the ColorBox event to elements
      $j("a[rel='colbox']").colorbox({maxWidth:"100%",maxHeight:"100%"});
      //Example of preserving a JavaScript event for inline calls.
      });
    </script>
{% endblock %}
{% block title %}{{ company }}{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% if company.category.parent_category %}{{ company.category.parent_category.get_absolute_url }}{% else %}{% url category_index %}{% endif %}#{{ company.category.title }}" title="Go to parent category">Company List by categories</a></li>
  <li><a href="{% url company_index 1 %}">Other Companies</a></li>

<!--   {% if user.is_authenticated %} -->
<!--   <li><a href="{# watch url #}">Watch this company</a></li> -->
<!--   {% endif %} -->
</ul>
{% endblock %}

{% block content-header %}
    <div id="content-header">

        <!-- AddThis Button  -->
                <div class="addthis_toolbox_Comp addthis_default_style">
        <a href="http://addthis.com/bookmark.php?v=250" class="addthis_button_compact"></a>
        <span class="addthis_separator"> </span>
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="small"></a>
        <a class="addthis_button_facebook_like"></a>


    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=adcake"></script>
    <!-- AddThis Button END -->

    </div>
{% endblock %}
{% block content %}
{% ifequal company.owner user %}
<span id="admin-company-frame"><a class="edit" href="{% url company_admin company.slug %}" title="Edit your company">Edit Company</a>  <a class="delete" href="{% url company_confirm_delete company.pk %}" title="Delete this company">Delete Company</a> </span>
{% endifequal %}


{% load thumbnail %}
{% if company.logo %}
<div class="detail-company-logo">
<img src="{% thumbnail company.logo 185x185 %}" title="{{ company }}" class="aligned" />
</div>
{% endif %}

    
<div id="contact-information">
  <div class="comp-frame-tittle"><h1 >{{ company.name|capfirst }}</h1></div>
  {% comment %}<h3>Contact information</h3>{% endcomment %}

  <div class="comp-desc-preview">
  <p>
    {% if company.category %}<strong>Business Category: </strong>{% for cat in company.category.all %}{{ cat.title }}{% if not forloop.last %}, {% endif %}{% endfor %}<br/>{% endif %}
    {% if company.telephones %}<strong>Telephones:</strong> {{ company.telephones }}<br />{% endif %}
    {% if company.email %}<strong>Email:</strong> {{ company.email }}<br />{% endif %}
    {% if company.website %}<strong>Website:</strong> <a href="{{ company.website }}" target="_blank" title="{{ company }}">{{ company.website }}</a><br />{% endif %}
  </P>
  </div>
  <div class="comp-desc-preview">
  <p>
    {% if company.address %}<strong>Address:</strong> {{ company.address|linebreaks }}{% endif %}
  </p>
  </div>

</div>
<div class="clear"></div>


{% if user.is_authenticated %}
    {% ifequal company.owner.id user.id  %}
        <div class="share-portfolio">
            <span>Share your Company Portfolio: <a href="{% url cportfolio_for_shortcut company.uniquename  %}">http://www.adcake.com{% url cportfolio_for_shortcut company.uniquename  %}</a></span>
        </div>
    {% endifequal %}
{% endif %}
{% if company.description %}

<div class="company-desc">
    <div class="sec-header"><h3>Description</h3></div>
    <p>{{ company.description|linebreaks }}</p>
</div>
{% endif %}

{% if company.philosophy %}
<div class="company-desc">
    <div class="sec-header"><h3>Philosophy</h3></div>
    {{ company.philosophy|linebreaks }}
</div>
{% endif %}

{% if company.president or company.directors %}
<div class="sec-header"><h3>Members</h3></div>
<div class="clean"></div>
<p id="company-members">
  {% if company.president %}<strong>President:</strong> {{ company.president }}<br />{% endif %}
  {% if company.directors %}<strong>Directors:</strong> {{ company.directors }}{% endif %}</p>
{% endif %}

{% if company.clients.all %}
<div class="sec-header"><h3>Clients</h3></div>
<ul id="company-clients">
  {% for client in company.clients.all %}<li>{{ client }}</li>{% endfor %}
</ul>
{% endif %}

{% if company.achievements.all %}
<div class="sec-header"><h3>Achievements</h3></div>
<ul id="company-achievements">
  {% for achievement in company.achievements.all %}<li><p>{{ achievement.description }}</p></li>{% endfor %}
</ul>
{% endif %}
<div id="portfolio">
  <h2>Current Work</h2>
  <ul id="media-branches">
    {% for branch in company.cportfolio.sorted_branches %}
    {% if branch.featured_list %}
    <li id="{{ branch.name }}-branch">

      <div class="media-header">
	<h3 class="media-title">{{ branch.name|capfirst }} List</h3>
	<br class="clear" />
      </div>
      <div class="media-content">
	<ul id="{{ branch.name }}-compact-list">
	  {% ifequal branch.name 'video' %}
             {% for media in branch.featured_list %}
               <li>
                <div class="media-thumb">
                    <a href="{% url video_detail media.pk media.slug %}">
                        {% if media.get_thumbnails.0 %}<img src="{% thumbnail media.get_thumbnails.0 444x258 crop %}" height="258" width="444" />{% endif %}
                        <div class="fancy-description">
                            {{ media.title }}
                            <span class="cat">{{ media.adcategory }}</span>
                            <span class="cat">{{ media.region }}</span>
                        </div>
                    </a>
                </div>
             <div class="video-cont"><a>VIDEO</a></div>
           {% endfor %}
            </li>
      {% endifequal %}
	  {% ifequal branch.name 'audio' %}{% include 'directory/lists/audio_list.html' %}{% endifequal %}
	  {% ifequal branch.name 'gallery' %}
            {% for gallery in branch.featured_list|dictsort:"position" %}
                {% if not gallery.empty %}
                    {% comment %}<div class="title-gal"><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></div>{% endcomment %}
                    <ul id="{{ branch.name }}-compact-list">
                    {% for media in gallery.images.all %}
                        <li>
                            <div class="media-thumb">
                                    {% if media.image.width > 2000 or media.image.height > 1500 %}
                                        <a href="{{ media.image.extra_thumbnails.final }}" rel="colbox" title='{{ media.title }}<br/><a href="{% url image_detail company.owner.username gallery.slug media.slug %}">View More</a>'>
                                            <img src="{% thumbnail media.image 444x258 crop %}" height="258" width="444"/>
                                            <div class="fancy-description">
                                                {{ media.title }}
                                                <span class="cat">{{ media.main_category }}</span>
                                                {% with media.galleries.all.0 as gal %}
                                                {% if gal %}
                                                <span class="cat">{{ gal.region.printable_name }}</span>
                                                {% endif %}
                                                {% endwith %}
                                            </div>
                                        </a>
                                    {% else %}
                                        <a href="{% thumbnail media.image media.return_size upscale %}" rel="colbox" title='{{ media.title }}<br/><a href="{% url image_detail company.owner.username gallery.slug media.slug %}">View More</a>'>
                                            <img src="{% thumbnail media.image 444x258 crop %}" height="258" width="444"/>
                                            <div class="fancy-description">
                                                {{ media.title }}
                                                <span class="cat">{{ media.main_category }}</span>
                                                {% with media.galleries.all.0 as gal %}
                                                {% if gal %}
                                                <span class="cat">{{ gal.region.printable_name }}</span>
                                                {% endif %}
                                                {% endwith %}
                                            </div>
                                        </a>
                                    {% endif %}
                            </div>
                        <div class="image-cont"><a href="{{ gallery.get_absolute_url }}">Gallery: {{ gallery.title }}</a></div>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
	  {% endifequal %}
	</ul>
      </div>
    {% comment %}
      <span class="view-all-branch"><a href="{{ branch.all_link }}" title="View all {{ branch.plural_name }} by {{ owner }}">View All</a></span>
    {% endcomment %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <script language="javascript" type="text/javascript">
  <!--
      if ($('media-branches').getElements('li').length == 0)
          new Element('div', {'class': 'help-no-work', 'text': 'This company has not published any work yet.'}).inject($('media-branches'), 'after');
  -->
  </script>
</div>
{% endblock %}
