{% extends "directory/base.html" %}

{% block content-menu %}
<ul id="content-menu">
  {% if status %}
  <li><a href="{% url cportfolio_for_shortcut company.slug %}">View your company</a></li>
  <li><a href="{% if company.category.parent_category %}{{ company.category.parent_category.get_absolute_url }}{% else %}{% url category_index %}{% endif %}#{{ company.category.title }}" title="Go to parent category">Parent Category ({{ company.category.title }})</a></li>
  {% endif %}
  <li><a href="{% url company_index 1 %}">All Companies</a></li>
</ul>
{% endblock %}
{% block content %}
{% load fieldsets %}

<form class="adcake-uni-form" id="company-admin" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
  <fieldset class="inlineLabels">
    {% draw_form form fieldsets "true" %}
  </fieldset>
  <input type="hidden" name="{{ form.owner.auto_id }}" value="{% if company.owner %}{{ company.owner.pk }}{% else %}{{ user.pk }}{% endif %}" />
  <input type="hidden" name="{{ form.slug.auto_id }}" value="dumb-slug" />
  <input type="hidden" name="tags" value="{{ company.tags }}" />
 
  <div class="buttonHolder">
      <div class="note2">I verify that I have the right to act on behalf of the company I'm about to create on this page. </div>
    <input name="submit" type="submit" value="Save your changes" />
  </div>
  <span id="errors"> </span>
</form>
{% endblock %}
