{% extends "directory/base.html" %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% if company.category.parent_category %}{{ company.category.parent_category.get_absolute_url }}{% else %}{% url category_index %}{% endif %}#{{ company.category.title }}" title="Go to parent category">Parent Category ({{ company.category.title }})</a></li>
  <li><a href="{% url company_index 1 %}">All Companies</a></li>
</ul>
{% endblock %}

{% block content-header %}{% endblock %}
{% block content %}
<h1 class="clean">Delete '{{ company }}'?</h1>
<div id="confirm-delete">
  <p class="are-you-sure">
    Are you sure you want to delete '{{ company.name }}'?
    <span>This operation is unreversible</span>
  </p>

  <form method="post" action="" id="confirm">{% csrf_token %}
    <input type="submit" value="Yes, delete it" name="yes" />
  </form>
</div>
{% endblock %}
