{% extends 'directory/base.html' %}

{% block title %}Company List{% endblock %}
{% block jslib %}{{ block.super }}
{% endblock %}

{% block content-menu %}

<ul id="content-menu">
  <li><a href="{% url category_index %}" title="Browse by categories">Browse by categories</a>
  <li><a href="{% url company_index 1 %}">All Companies</a></li>
  {% if has_next %}
  <li><a href="{% url company_index next %}">Next Page</a></li>
  {% endif %}
  {% if has_previous %}
  <li><a href="{% url company_index previous %}">Previous Page</a></li>
  {% endif %}
</ul>
{% endblock %}

    {% block main-title-text %}Company List{% endblock %}
    {% comment %}
    {% block order-by %}
        By: <a href="?order=name" title="Order By Name">Name</a> |
        <a href="?order=date" title="Order By Date Added">Date Added</a>
    {% endblock %}
    {% endcomment %}
{% block content %}
{% load cake_buttons %}
{% load thumbnail %}
{% if user.is_authenticated and not user.companies.exists %}
    <div class="add-company-companylist">
        <div id="add-new-company">
           <a  href="{% url new_company %}" title="Add your company">Add a new company</a>
        </div>
    </div>
  <div class="clean"></div>
{% endif %}
<ul id="company-list" class="directory-list">
  {% for company in company_list %}
  <li class="company-toggler">
    <div class="company-logo">
	{% if company.logo %}
	<img src="{% thumbnail company.logo 60x60 %}" class="aligned" title="{{ company }}" />
	{% else %}
	<img src="{{MEDIA_URL}}images/no-image-logo.png" class="aligned" title="{{ company }}" />
	{% endif %}
    </div>
    <div class="company-info">
    <span class="directory-title">{{ company.name }}</span>
    <span class="company-item"><strong>Categories:</strong>{% for category in company.category.all %} {{ category }} {% endfor %}</span>
    </div>
    <div class="clean"></div>

    {% if company.clients.all %}<span class="company-item"><strong>Cuentas Actuales:</strong> {{ company.clients.all|slice:":5"|join:", " }} ...</span>{% endif %}
    <div class="company-detail">
      {% if company.president %}<span class="company-item"><strong>President:</strong> {{ company.president }}</span>{% endif %}
      {% if company.directors %}<span class="company-item"><strong>Directors:</strong> {{ company.directors }}</span>{% endif %}
      {% if company.telephones %}<span class="company-item"><strong>Telephone:</strong> {{ company.telephones }}</span>{% endif %}
      {% if company.address %}<span class="company-item"><strong>Address:</strong> {{ company.address }}</span>{% endif %}
      {% if company.website %}<span class="company-item"><strong>Website:</strong> <a href="{{ company.website }}" target="_blank" title="{{ company }}">{{ company.website }}</a></span>{% endif %}
       <a href="{% url cportfolio_for_shortcut company.slug %}" title="See all the details..." class="plus">More...</a>
    </div>
    {% add_to_cake_box company %}
    <div class="clean"></div>
  </li>
  {% endfor %}
</ul>
{% load pagination %}{% paginate %}
{% endblock %}
