@charset "UTF-8";/* CSS Document */

/* CSS Reset */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline;}
/* remember to define focus styles! */
:focus{outline:0;}
::selection{background:#06ACD5;color:#FFF /* Safari */} 
::-moz-selection{background:#06ACD5;color:#FFF /* Firefox */}
html{height:100%;}
body{line-height:1;color:black;background:white;height:100%;}
ol,ul{list-style:none;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:separate;border-spacing:0;width:340px;color:#666666}

caption,th,td{text-align:left;font-weight:normal;padding-top:2px}
blockquote:before,blockquote:after,
q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
input{focus:0}
.skill-center-boxes{vertical-align: baseline;margin-left:0px}
.skill-addit-fill {margin-top:10px}
.skill-addit-fill input {background: #FFFFFF; border: 1px solid #D0D0D0; -moz-border-radius:2px 0 0 2px;-webkit-border-radius:2px 0 0 2px; color: #BEBEBE; font-size: 12px; height: 21px; margin: 0px 0 0 25px; padding: 0 0 0 15px; float:left}
.skill-addit-button input[type="submit"]{background-color: #AAAAAA; border: 0 none; color: white; display: block; font-size: 12px; height: 23px; line-height: 23px; padding: 0 15px; text-decoration: none; }
.skill-addit-button input:hover{background: #DD0F16}
.clean{clear:both;letter-spacing:0;word-spacing:0}
.cleanf{overflow:hidden}

/* ========== Base ========== */

body{background:#fff url("../images/body-bg-top.png") top center repeat-x;font-family:Arial,Helvetica,sans-serif;font-size:0.75em}
div#wrapper{width:976px;position:relative;left:50%;top:-8px;margin:-3px 0 0 -488px;z-index:1;min-height:90%;height:auto !important;/*Cause footer to stick to bottom in IE 6*/height:100%;vertical-align:bottom;}
.header-bar-menu{background:-webkit-gradient(linear, center top, center bottom, from(#444444), to(#111111)); background: -moz-linear-gradient(center top , #444444, #111111);width:100%;height:40px;z-index:2;position:relative;margin-bottom:20px;-moz-box-shadow:0px 0px 2px 1px #333333;-webkit-box-shadow:0px 0px 2px 1px #333333;box-shadow:0px 0px 2px 1px #333333;}
div#buttons-bar{width:955px;height:40px;z-index:2;position:relative;left:50%;margin-left:-477px}

div#main-wrapper{float:left;background:url("../images/wrapper-left-border.png") 0 0 no-repeat;padding:0 0px 0 18px;width:940px;min-height:500px;}
div#related-wrapper{float:right;background:url("../images/wrapper-right-border.png") top right no-repeat;padding:0 18px 0 0;height:500px;}
div#main-content{background-color:#FFF;min-height:600px;;height:100%}
div#related-content{background-color:white;margin:0 0 -8px -10px;padding-bottom:10px;}

.hide{margin:0;padding:0 ;}
.block{display:block}
.clear{clear:both}

a:link,a:visited,a,span.link:link,span.link:visited,span.link{color:#06ACD5}
a:hover,span.link:hover{color:#06C1F0}
span.link{text-decoration:underline;cursor:pointer}

/* ========== Paragraph & Typography ========== */

p,li{font-family:Arial,Helvetica,sans-serif;color:#555;line-height:1.6em;word-spacing:.1em}
p{text-indent:1.5em;text-align:justify;margin:0 .5em 1em}
p strong,p em{color:#000}
p em{font-style:italic}

h1,h2,h3,h4,span.title{font-family:Arial,Helvetica,sans-serif;letter-spacing:0px;line-height:1em;font-weight:normal;color:#666666;margin-bottom:8px;}
h1.clean,h2.clean,h3.clean,h4.clean{letter-spacing:0;word-spacing:0}
h1{font-size:18px}
h2{font-size:18px}
h3{font-size:16px}

/* ========== Main ========== */

div#header{background:url("../images/main-top-border.png") top center repeat-x;padding-top:9px;}
div#advertisement-directory{float:left;padding:1px 10px 0 14px; height:40px;}

div#advertisement-directory form input.text{background:#ffffff;color:#666666;width:90px;height:23px;border:1px solid #b0b0b0;border-right:0px; font-size:12px;padding:0px 0 0 10px; -moz-border-radius:5px 0px 0px 5px;-webkit-border-radius:5px 0px 0px 5px; vertical-align: bottom }
div#advertisement-directory #directory-search{padding-top:7px}
div#advertisement-directory form input.text:focus{color:#000}
div#advertisement-directory form input.button{background:url("../images/icons/20x20/searchgray.png") no-repeat center #ffffff;width:25px;height:25px;border:1px solid #b0b0b0;border-left:0px; cursor:pointer;margin-left:-3px;color:#ffffff;text-transform:capitalize; -moz-border-radius:0px 5px 5px 0px;-webkit-border-radius:0px 5px 5px 0px; font-size: 12px;vertical-align:bottom;}
div#advertisement-directory form input.button:hover{background:url("../images/icons/20x20/searchgray.png") no-repeat center #f4f4f4}
div#advertisement-directory a,div#advertisement-directory span{font-size:10px;text-decoration:none;position:relative;text-align:center;color:#000}
div#advertisement-directory a{left:160px;top:5px;color:#999; font-size:11px}
div#advertisement-directory span{left:14px;top:3px}
div#advertisement-directory a:hover{text-decoration:underline; color: #dd0f16}
div#advertisement-directory.focus{background-position:0 -55px}
div#advertisement-directory.focus a{color:#f3f3f3}

div#directory-search-content{background-color:#88090D;color:#FFF}

div#content-header{clear:both}
div#content{margin:15px 0px 15px 0;clear:both;float:right;width:940px}
div#content h2{border-bottom: 2px solid #F4F4F4}
div#content .jdGallery .slideInfoZone h2{border-bottom: 0}
div#content .line-separator h2{border:0;float:left;display:block;background:white;padding-right:6px;}
div#content h2.activated{border-color:#f90}

div#owner-content .frame-top{width:770px;overflow: hidden}

/* HEADER TITLES */
div.sec-header{background:url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x;clear:both;height:20px;padding:1px 0}
div.sec-header h3{float:left;background-color:#FFF;padding-right:10px}
.line-separator{background:url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x;clear:both;height:26px;padding:0;}

/* ========== Side ========== */

div#related-content hr{border:1px solid #DD0F16;margin:0.8em 0.8em;}
div#user-sidebar{background:url("../images/sidebar-top-border.png") 0 0 repeat-x;padding:15px 10px 0}

img.avatar{}
img.avatar-menu{border-radius:2px}
div#personal-information{margin:8px 0 10px}
div#personal-information h2{color:#666666;font-family:Arial,Helvetica,sans-serif;font-size:14px;letter-spacing:0;margin-left:52px;padding:0.3em 0.6em 0.3em 0.6em;margin-bottom:2px}
div#personal-information-header{float:right;height:37px;border-left:1px solid #666666}
div#personal-information-header h2{color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:13px;letter-spacing:0;margin-left:0px;padding:2px 0px;margin-bottom:2px}
div.setting-header {float:right;font-size:10px;color:#ffffff}
div#personal-information-header .arrow-down-menu{width:23px;height:37px;float:right;}
div#personal-information-header .user-menu-header{padding:5px}
div#personal-information-header .setting-header .user-menu-header2{float:right}
div#personal-information-header .setting-header .setting-header-menu{float:right; font-size:12px}
div#personal-information-header .setting-header .setting-header-menu a{color:#ffffff;text-decoration:none}
div#personal-information-header .setting-header .setting-header-menu a:hover{color:#06ACD5;text-decoration:none}

/* ========== Menu Dropdown js ========== */
.setting-header-menu .menu .user-menu-header2 .avatar-top-menu{padding:3px 5px 0px 7px; float:left}
.setting-header-menu .menu .user-menu-header2 .username-top-menu{padding:3px;overflow: hidden;width:165px}
.username-top-menu a{float:left;text-shadow:1px 0 3px #000000;font-weight:bold}
.username-top-menu img{margin:8px 0 0 8px;float:left}
.setting-header-menu {float:right; font-size:12px;height:37px;color:#fff; z-index:1000}

.setting-header-menu .user-menu-header{float:right; font-size:12px;height:34px;color:#fff; z-index:1000}
.setting-header-menu .menu a {color:#eee; text-decoration:none}
.setting-header-menu .menu {font:13px Arial,Verdana; text-align:center;height:100;float:right;width:220px}
.setting-header-menu .menu .user-menu-header2 h2{text-align:left;color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:13px}
.setting-header-menu .menu li.user-menu-header2 {text-align:left;line-height:31px}
.setting-header-menu .menu .user-menu-header2 ul.block-dropdown-menu{display:none}
.setting-header-menu .menu .user-menu-header2 ul li {background:#111111;height:22px;float:none;width:220px;padding-top:2px;opacity:0.94}
.setting-header-menu .menu .user-menu-header2 ul li a, li.menuhover li a, li.menuhover li.menuhover li a {float:none; display:block; background:none; height:100%;text-align:center}
.setting-header-menu .menu .user-menu-header2 li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {background:#DD0F16; color:#fff}
.setting-header-menu .menu .user-menu-header2 li span, li.menuhover li span, li.menuhover li.menuhover li span {float:none; display:block; background:none; height:15px; padding-top:2px}
.setting-header-menu .menu .user-menu-header2 ul ul {left:120px; top:0}
.setting-header-menu .menu .user-menu-header2 li.submenu {font-weight:bold}

.setting-header-menu .menu .user-menu-header2 li.noborder {border-top:none}
li.menuhover a, li.menuhover li.menuhover a {color:#fff}
li.menuhover span, li.menuhover li.menuhover span {color:#fff; background:#111111}

.setting-header-menu .menu .user-menu-header2 .last-li-menu{-moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px 10px 10px}
.setting-header-menu .menu .user-menu-header2 .last-li-menu :hover{-moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px 10px 10px}

div#shortcuts{clear:both;margin:35px 0 10px;width:330px;height:25px;background:url("../images/shortcuts-bg.png") top center no-repeat}
div#shortcuts span{margin:0 10px;display:block}
div#shortcuts a{float:right;margin:4px 2px 0}

div#personal-bin{margin:10px 0 10px;width:330px;clear:both}
div#personal-bin h3{background-position:0 0;background-repeat:no-repeat;height:17px;width:324px;border-top:1px solid #E1E1E1;border-bottom:1px solid #F5F5F5;cursor:pointer;color:#fff;font-size:1.05em;padding:8px 0 0 6px;margin-bottom:0px}

div#personal-bin h3.personal-bin-top{background:#ededed;border-top:0;-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px}
div#personal-bin h3.personal-bin-middle{background-color:#AAA}
div#personal-bin h3.personal-bin-middle:hover{background-color:#fff}
div#personal-bin h3.personal-bin-bottom{background:#ededed;border-bottom:0;-moz-border-radius:0px 0px 5px 5px;-webkit-border-radius:0px 0px 5px 5px}
div#personal-bin h3:hover{background-position:-330px 0;}
div.pb-element{background-color:#F7F7F7;padding:0.5em}
/*div#personal-bin p.pb-options{text-align:center;margin-top:.5em;clear:both;display:none}*/

/* Personal bin :Contact Lis--boxt*/
ul#contact-list{margin:.5em .3em}
ul#contact-list li{cursor:move;margin:.4em 0;padding:.5em 12px;background-color:#EFEFEF;line-height:1em}
ul#contact-list li.no-contacts{cursor:default;font-style:italic}
ul#contact-list li span.contact-name{float:left;margin:3px 0 0 3px;width:230px}
ul#contact-list li span.contact-buttons{float:right;width:18px}
ul#contact-list li span.contact-buttons a{display:block;float:left;width:16px;height:16px;margin-right:3px;text-indent:-999em}
ul#contact-list li a.remove-contact{opacity:0.3;display:block;float:right;position:relative;top:2px;right:-16px;width:10px;height:10px;background:url("../images/icons/cross-mini.png") 0 0 no-repeat;text-indent:-999em;margin:-6px -11px 0 0.1em}
ul#contact-list li a.remove-contact:hover{opacity:1}
/* Personal bin :Skills */
div#personal-bin ul#my-skills{margin-bottom:0.7em}
div#personal-bin ul#my-skills li{margin:0.4em;padding:0.6em 12px;background-color:#EFEFEF;float:left;line-height:1em}
div#personal-bin ul#my-skills li a{float:left}
div#personal-bin ul#my-skills li a.delete-skill{opacity:0.3;display:block;float:right;width:10px;height:10px;background:url("../images/icons/cross-mini.png") 0 0 no-repeat;text-indent:-999em;margin:-6px -11px 0 0.1em}
div#personal-bin ul#my-skills li a.delete-skill:hover{opacity:1}

/* Personal bin :Cake */
ul#cake-box{margin:5px 0px}
ul#cake-box li{border-bottom:2px solid #CCC;margin-bottom:6px;color:#555}
ul#cake-box li:hover{border-color:#DD0F16}
ul#cake-box li.opened{font-weight:bold;border-color:#DD0F16;color:#000}
ul#cake-box li.no-children{font-weight:bold;border-width:1px 1px;background-color:#EAEAEA;font-style:italic;color:#777;padding:.5em .6em;text-align:center;margin:.1em .3em}
ul#cake-box li.no-children:hover{border-color:#CCC}
ul#cake-box li h4{color:#666;cursor:pointer;background:url("../images/plus-min-button.png") no-repeat;font-size:14px;letter-spacing:.04em;font-family:Arial,Helvetica,sans-serif;height:20px;padding:3px 0 0 12px;float:left;max-width:80%}
ul#cake-box li.opened h4{color:#000}
ul#cake-box ul{margin:3px 10px;clear:both;}
ul#cake-box ul li{border-bottom:1px solid #CCC;padding:.18em 5px}
ul#cake-box ul li:hover{border-color:#DDD;background-color:#EAEAEA}
ul#cake-box ul li.last{border:0;}

ul#cake-box span.box-options,ul#cake-box span.box-item-options,
ul#cake-box a.box-button #BEBEBE{display:block}
ul#cake-box a.box-button{width:16px;height:16px;margin:0 1px;float:left}
ul#cake-box span.box-item-options{width:16px;margin:0 1px}
ul#cake-box span.box-options{width:36px;float:right}

ul#cake-box a.box-item{float:left;max-width:80%}
ul#cake-box span.box-item-options{float:right}

div#rename-box{background-color:#FFF;border:#DD0F16 3px solid;padding:10px}
div#rename-box input{font-size:10px;margin:0 .2em}
div#rename-box input.rename-input{display:block;width:150px;font-size:12px}

a.add-cake-box{float:right;display:block;height:16px;background:url('../images/icons/16x16/cake.png') no-repeat top left;padding-left:22px;line-height:16px}
a.add-cake-box:hover{background-position:0 -18px;}

div.add-cake-box-block{z-index:9;background:url("../images/add-cake-box.png") top center no-repeat;width:358px;height:133px;position:absolute}
div.add-cake-box-block h3{margin:13px 18px 0;font-size:1.05em;letter-spacing:.05em;font-family:Arial,Helvetica,sans-serif}
div.add-cake-box-block h3 span{font-weight:bold;color:#06ACD5}
div.add-cake-box-block form{margin:2px 18px;border-top:1px solid #D0D0D0;padding-top:3px}
div.add-cake-box-block input,div.add-cake-box-block label,div.add-cake-box-block select{display:block}
div.add-cake-box-block input,div.add-cake-box-block select,div.add-cake-box-block label{float:left}
div.add-cake-box-block label{width:75px;text-align:right;margin-right:5px;padding-top:6px}
div.add-cake-box-block select{width:241px}
div.add-cake-box-block input{width:219px}
div.add-cake-box-block form div.switch-holder{text-align:right;clear:both}
div.add-cake-box-block form div.switch-holder span{color:#06ACD5;text-decoration:underline;cursor:pointer;font-size:10px}
div.add-cake-box-block form div.close-new-label{width:8px;height:8px;float:left;clear:none;text-align:left;margin:8px 0 0 6px}
div.add-cake-box-block form div.close-new-label span{display:block;width:7px;height:7px;text-indent:-9999em!important;background:url('../images/icons/mini-x.png') 0 0 no-repeat;}
div.add-cake-box-block form div.close-new-label span:hover{background-position:-7px}
div.add-cake-box-block div.input-container{clear:both;position:absolute;bottom:20px;text-align:right;width:330px}
div.add-cake-box-block div.input-container input{float:right;cursor:pointer;border:0;background:url("../images/silver-button-bg.png") 0 0 no-repeat;width:54px;height:22px;margin-right:12px;font-size:11px}
div.add-cake-box-block div.input-container input:hover{background-position:-54px}
div.add-cake-box-block div.overall{z-index:10;background-color:#FFF;width:328px;height:110px;position:absolute;top:5px;left:15px;text-align:center;opacity:.9}
div.add-cake-box-block div.overall span{display:block;margin-top:2.7em;font-size:14px}

/* Personal bin :Loading stages */
h3#pb-contact-list span.loading{background:url('../images/icons/ajax-loader-two-arrows.gif') 0 0 no-repeat;display:block;width:16px;height:16px;position:relative;top:-13px;left:8px}

/* Personal bin :other stuff... */
div#personal-bin form{text-align:center}
div#personal-bin form.loading{background:url("../images/icons/ajax-loader.gif") 10px 1px no-repeat}

div#news-spotlight h2.title{width:330px;height:29px;margin:0 10px;text-indent:-999em}
div#news-spotlight_home h2.title{display:none}
div#news-spotlight_home h2#spotlight-title{display:none}
div#news-spotlight h2#spotlight-title{background:url("../images/sidebar-spotlight-title.png") 0 0 no-repeat}
div#news-spotlight h2#featured-companies-title{background:url("../images/featured_companies.png") 0 0 no-repeat}
div#news-spotlight h2#featured-professionals-title{background:url("../images/featured_professionals.png") 0 0 no-repeat}

/* ========== Ads ========== */

table#site-ads{margin:0 0 10px 3px}
table#site-ads td{padding:3px}
table#site-ads tr.first td{padding-top:0}
a#your-ad-here{clear:both;display:block;text-indent:-999em;margin-left:6px;width:317px;height:56px;background:url("../images/your-ad-here.png") 0 -56px no-repeat;}
a#your-ad-here:hover{background-position:0 0}
#ads{margin-left:10px;}

/* ========== Footer ========== */

/*div#footer{height:65px;background-color:#221e1f;clear:both;border-top:13px solid #E3DFDC;bottom:0px;position:fixed;z-index:9000;width:100%;}*/
/*div#footer-content{position:relative;width:946px;height:100%;left:50%;margin-left:-463px}*/
div#footer{height:20%;background-color:#1A1B1C;clear:both;border-top:13px solid #E3DFDC;}
div#footer-content{background:url("../images/logo/adcake_copyright.png") 0 18px no-repeat;position:relative;width:976px;height:100%;left:50%;margin-left:-488px;}
ul#footer-buttons{float:right;display:block;margin-top:40px;}
ul#footer-buttons li{display:inline;margin:0 1.2em;}
ul#footer-buttons li a{color:#7F7F7F;text-decoration:none}
ul#footer-buttons li a#back-to-top{padding-top:16px}
ul#footer-buttons li a:hover{color:#F7F7F7;text-decoration:underline}

/* ========== Menu ========== */

ul#site-menu{float:left}
ul#site-submenu{float:right;display:none}
ul#site-menu li,ul#site-submenu li,div#personal-information li{float:left}
ul#site-menu a{color:#ededed;font-size:13px;text-decoration:none;display:block;padding:16px 0.7em 12px;margin-top:0px;font-weight:bold}
ul#site-submenu a{color:#FFF;font-size:13px;font-weight:bold;text-decoration:none;display:block;padding:0 .7em 0;}
ul#site-submenu b{font-style:italic}
ul#site-menu a:hover,ul#site-submenu a:hover,ul#site-menu a.selected,ul#site-submenu a.selected{background-color:#DD0F16;color:#ffffff}

ul#site-submenu a{font-size:12px;padding:16px 0.7em 17px;margin-top:0px;}
ul#site-menu #logo-wrapper{float:left;width:125px;margin-top:3px}
ul#site-menu li,ul#site-submenu li{line-height:1em;height:37px;text-shadow:1px 0 3px #000000}
ul#site-menu a#main-logo{text-indent:-999em;display:block;width:100px;height:30px;background:url("../images/logo/adcake_logo2.png") no-repeat center;padding:4px 0 0 30px;margin:0}
div#personal-information ul{float:right}
div#personal-information li a{background:none repeat scroll 0 0 #666666;border:0 solid #A8A7A7;border-radius:0px;color:#FFFFFF;display:block;font-size:13px;font-weight:normal;padding:2px 6px;text-align:center;text-decoration:none;width:57px;}
div#personal-information li a:hover{background-color:#DD0F16;}
div#personal-information li.last{margin-right:0}

ul#content-menu{margin:1em;background:url('../images/content-menu.png') top center no-repeat;padding-top:27px}
ul#content-menu li{border-bottom:1px solid #E9E9E9;padding:.4em 0;font-weight:bold;font-size:13px}
ul#content-menu a{text-decoration:none;display:block}
ul#content-menu a:hover{text-decoration:underline}

/* ========== Links and buttons ========== */

a.plus,a.edit,a.delete,a.close,span.plus,span.edit,span.delete,span.close{min-height:16px;padding:0 0 0 20px;margin-bottom:6px}
a.plus,span.plus{background: none repeat scroll 0 0 #AAAAAA; color: #FFFFFF; cursor: pointer; display: block; float: right; height: 20px; line-height: 20px; padding: 0 20px; text-align: center; text-decoration: none; margin-right: 5px;}
a.plus:hover,span.plus:hover{background: #DD0F16}
a.edit,span.edit{background: none repeat scroll 0 0 #AAAAAA; color: #FFFFFF; cursor: pointer; display: block; float: right; height: 20px; line-height: 20px; margin-right: 5px; padding: 0 20px; text-align: center; text-decoration: none}
a.edit:hover,span.edit:hover{background: #DD0F16 }
a.delete,span.delete,a.close,span.close{background: none repeat scroll 0 0 #aaaaaa; color: #FFFFFF; cursor: pointer; display: block; float: right; height: 20px; line-height: 20px; padding: 0 20px; text-align: center; text-decoration: none; margin-right: 5px }
a.delete:hover,span.delete:hover,a.close:hover,span.close:hover{background: #DD0F16}

a.simple-box16{width:16px;height:16px;display:block;float:left;text-indent:-999em;background-color:#F00}
a.search{background:url('../images/icons/16x16/Icon15.png')}
a.cake{background:url('../images/icons/16x16/Icon19.png')}
a.message{background:url('../images/icons/16x16/Icon16.png')}
a.edit-simple{background:url('../images/icons/16x16/Icon18_diapo.png')}
a.delete-simple{background:url('../images/icons/16x16/Icon8_diapo.png')}
div.profile-overview{overflow:hidden;width:425px;float:right}
div.profile-overview-options{width:410px}
div#profile-display{float: right;width: 768px;}
div.profile-overview-c1 , div.profile-overview-c2 {float:right;padding-bottom:10px}
div.profile-overview-c1 a, div.profile-overview-c2 a{ background: none repeat scroll 0 0 #AAAAAA;color: #FFFFFF;cursor: pointer;display: block;float: left;font-size: 13px;margin-right: 2px;text-align: center;text-decoration: none;width: 140px;height:20px;line-height:20px}

div.profile-overview-options a.view-profile{width:120px;display:block;float:left;margin-top:14px;margin-right:2px; background: none repeat scroll 0 0 #AAAAAA;color: #FFFFFF;cursor: pointer;text-align: center;text-decoration: none;font-size:13px}
div.profile-overview-options a.view-profile:hover{background:#DD0F16}
div.profile-overview-c2 a:hover,div.view-portfolio, div.profile-overview-c1 a:hover{background:#DD0F16}
div.profile-overview-options a.send-message{width:120px;display:block;float:left;margin-top:14px;margin-right:2px; background: none repeat scroll 0 0 #AAAAAA;color: #FFFFFF;cursor: pointer;text-align: center;text-decoration: none;font-size:13px}
div.profile-overview-options a.send-message:hover{background:#DD0F16}
div.profile-overview-options a{text-decoration:none}
div.profile-overview-options a:hover{background-position:0 -24px}
div.profile-overview-options a.toggle-contact{width:120px;display:block;float:left;margin-top:14px;margin-right:2px; background: none repeat scroll 0 0 #AAAAAA;color: #FFFFFF;cursor: pointer;text-align: center;text-decoration: none;font-size: 13px;}
div.profile-overview-options a.contact-added{width:120px;display:block;float:left;margin-top:14px;margin-right:2px; background: none repeat scroll 0 0 #AAAAAA;color: #FFFFFF;cursor: pointer;text-align: center;text-decoration: none;}
div.profile-overview-options a.contact-added:hover{background:#DD0F16}
div.profile-overview-options a.toggle-contact:hover{background:#DD0F16}
div.profile-overview-options a.contact-added:hover{background-position:0-72px;}


div#media-upload a.toggle-contact{padding-left:20px;display:block;height:16px;background:url('../images/icons/16x16/add-remove-small.png') no-repeat;background-position:0 0px;line-height:16px;font-size:13px;float:left;margin-top:5px;margin-right:30px;clear:both}
div#media-upload a.contact-added{background:url('../images/icons/16x16/add-remove-small.png') no-repeat;background-position:0 -32px;}
div#media-upload a.toggle-contact:hover{background-position:0 -16px}
div#media-upload a.contact-added:hover{background-position:0 -48px;}
/* Helpers */
div#content-header{margin:0px 10px 6px 0;padding:0 0 0;border-bottom:2px solid #F4F4F4;overflow:hidden;}
div#content-header h1{float:left;margin-bottom:4px;}
div.order-by{float:right;margin-top:8px;}
div.add-company-companylist{background: none repeat scroll 0 0 #aaaaaa; color: #FFFFFF; cursor: pointer; display: block; float: right; height: 20px; line-height: 20px; padding: 0 20px; text-align: center; text-decoration: none}
div.add-company-companylist:hover{background:#DD0F16}
div.add-company-companylist a{color: #FFFFFF; text-decoration:none}

/* ========== Notifications ========== */

div#notifications{background:#000;opacity:.85;cursor:pointer;color:#FFF;font:Helvetica}
div#notifications p{color:#FFF!important}

div#notifications div#timer{font-size:26pt;top:5px;right:24px;position:absolute}
div#notifications div#close{font-size:12px;right:20px;bottom:11px;position:absolute}
div#notifications div#message{font:helvetica;font-size:11pt;margin-left:22px;margin-top:8px;}
div#message h3{color:#F60}
div#notifications span#stopped{font:helvetica;font-size:11pt;color:#dd0f16;}

/* ========== Pagination ========== */
div.pagination{text-align:center;margin:20px 0}
div.pagination .page,.endless_page_link{padding:4px 6px;margin:0 2px;background-color:#E7E7E7;border:1px solid #CCC}
div.pagination .page:hover,.endless_page_link:hover{background-color:#F0F0F0;border:1px solid #DDD}

/* ========== Errors,Warnings & Notifications ============ */
div.stderror{background:#FFDFDF none repeat scroll 0 0;border:#DF7D7D 1px solid;padding:.8em}
div.stderror h2,div.stderror h3,div.stderror h4{text-align:center;color:#DD0F16;border-bottom:#DF7D7D 1px solid;padding-bottom:.3em;margin-bottom:7px}
div.stderror h2,.warning h2{font-size:18px}
div.stderror h3,.warning h3{font-size:16px}
div.stderror h4,.warning h4{font-size:14px}
div.stderror p{color:#AC080E;font-size:11px;margin-bottom:.3em}
.warning{background-color:#FFC!important;border:#F90 1px solid!important;color:#F60!important;padding:.25em!important;margin:10px 0 20px 0}
.warning h2,.warning h3,.warning h4{text-align:center;color:#F60;border-bottom:#F90 1px solid;padding-bottom:.3em;margin-bottom:7px}
.warning p{color:#F30;font-size:11px;margin-bottom:.3em}
h2#login-first{text-align:center;font-size:18px!important;margin:0!important}

.notification{background-color:#f7f7f7!important;color:#F60!important;padding: 35px!important;-moz-border-radius:5px;-webkit-border-radius:5px;}
.notification h2,.notification h3,.notification h4{text-align:center;color:#4e4e4e;border-bottom:#d7d7d7 1px solid;padding-bottom:.3em;margin-bottom:7px}
.notification p{color:#4e4e4e;font-size:12px;margin-bottom:.3em;text-align:center}
.notification p.left{text-align:left;padding:12px;font-size:12px;text-indent:0}
.small-notification{background-color:#e7e7e7!important;border:#d7d7d7 1px solid!important;color:#F60!important;padding:30px!important;clear:both}
.small-notification p{color:#4e4e4e;font-size:11px;margin-bottom:.3em;text-align:center;}

/* ========== User Administration Panel ========== */
div#user-administration{background-color:#F5F5F5;border:1px solid #DDD;padding:.5em;margin:.5em 0;font-size:11px}
div#user-administration label{margin-right:15px;}
div#user-administration abbr{border-bottom:1px dotted #000}
div.add-media,div.edit-media{height:22px;}
div.add-media span{font-weight:bold}
div.edit-media a{font-weight:normal}
#add-image{padding-top:5px}
div.add-media,div.edit-media{clear:both;overflow:hidden; margin-bottom:10px}
div.add-media span{color:#ffffff;cursor:pointer;text-decoration:none}
div.add-media span:hover{background: #DD0F16;color:#ffffff}
div.edit-media a{font-weight:bold}

/* ========== Forms ========== */

form.standard-form{margin-bottom:1em;padding:0 .5em;line-height:1.5em;}
form.standard-form legend{display:block;width:100%;font-weight:bold;font-size:12pt;color:#DD0F16;padding:0 .3em;}
form.standard-form fieldset{border-top:1px solid #CCC;padding:.6em 1.4em;margin-top:5px}

form.standard-form table{width:230px;line-height:2.5em ;margin:10px 0 0 20px}
form.standard-form td,form.standard-form th{text-align:right;vertical-align:top;}
form.standard-form label{font-weight:bold;margin-right:.4em}

form.standard-form input[type="text"],form.standard-form input[type="password"],form.standard-form textarea{width:170px;border:1px solid #CCC;padding:.2em;font-size:9pt;color:#666;background:#f4f4f4;-moz-border-radius:2px;-webkit-border-radius:2px;}
form.standard-form input:focus,form.standard-form textarea:focus{border-color:#DD0F16;color:#000;background:#fff}

form.standard-form div.post-form-buttons{background:#DFDFDF;border:#999 1px solid;border-width:1px 0 1px;text-align:right}
form.standard-form div.post-form-buttons input{height:25px;border:0;background:#999;text-transform:uppercase;font-size:12px;font-family:Arial,Verdana,sans-serif;font-weight:bold;color:#FFF;margin-right:15px;padding:0 10px;width:auto;outline:none;cursor:pointer}
form.standard-form div.post-form-buttons input:hover{background:#dd0f16}
form.standard-form div.post-form-buttons input.main-button{text-decoration:underline;}

form.inline-save legend{display:block;width:100;font-weight:bold;color:#000;text-decoration:underline;margin:3px 0}
form.inline-save legend.h1{font-size:16px;color:#DD0F16}
form.inline-save fieldset{margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #BBB}

form.inline-save table{width:100%;line-height:2.5em}
form.inline-save label{color:#555;margin-right:10px}

form.inline-save input{width:95%;background-color:#EFEFEF;border:1px dotted #999;border-width:0 0 1px;color:#555}
form.inline-save input:focus{border-color:#000;color:#000}

fieldset.collapsed *{display:none}
fieldset.collapsed legend{display:block}
fieldset.collapsible legend{cursor:pointer!important}

/* ========== Login and Registration Forms ========== */
form#login-form p.login-helpers{font-size:11px;text-indent:0;text-align:right}
form#login-form p.login-helpers span{float:right}
form#login-form p.login-helpers a{float:left}
form#login-form tr.login-error{margin:14px}
form#login-form tr.login-error td{color:#DD0F16;font-weight:bold;font-size:11px;background-color:#EEE;border:1px solid #CCC;text-align:center;}

form#registration-form{padding:0 0 15px}

/* ========== Adcake Uni Form ========== */
.adcake-uni-form{margin:0;padding:0;position:relative;z-index:1;}
.adcake-uni-form fieldset{border-top:1px solid #CCC;padding:.6em 1.4em;margin:0}
.adcake-uni-form fieldset legend{color:#DD0F16;padding:0 .3em;font-size:100%;font-weight:700;margin:0}
.adcake-uni-form .controls{list-style-image:none;list-style-position:outside;list-style-type:none;}
.adcake-uni-form .ctrlHolder,.adcake-uni-form .buttonHolder{clear:both;margin:0;padding:0;}
.adcake-uni-form:after,.adcake-uni-form .buttonHolder:after,.adcake-uni-form .ctrlHolder:after,.adcake-uni-form .ctrlHolder .multiField:after,.adcake-uni-form .inlineLabel:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;min-height:0;visibility:hidden;}
.adcake-uni-form .inlineLabel,.adcake-uni-form .inlineLabels .inlineLabel,.adcake-uni-form .blockLabels .inlineLabel{display:block;float:none;margin:0;width:auto;}
.adcake-uni-form .inlineLabel input,.adcake-uni-form .inlineLabels .inlineLabel input,.adcake-uni-form .blockLabels .inlineLabel input{border:medium none;float:left;margin:0 0.4em 0 0;padding:10px;}
.adcake-uni-form label,.adcake-uni-form .label,.adcake-uni-form .blockLabels label,.adcake-uni-form .blockLabels .label{display:block;float:none;line-height:100%;padding:0;width:auto;}
.adcake-uni-form .formHint,.adcake-uni-form .blockLabels .formHint{clear:none;color:#777;float:right;font-size:0.9em;margin:0;position:relative;top:-0.5em;width:70%;}
.adcake-uni-form .multiField,.adcake-uni-form .blockLabels .multiField{float:left;width:53%;}
.adcake-uni-form .multiField .blockLabel,.adcake-uni-form .blockLabels .multiField .blockLabel{float:left;margin:0 10px 0 0;width:30%;}
.adcake-uni-form .multiField .blockLabel .textInput,.adcake-uni-form .multiField .blockLabel .selectInput,.adcake-uni-form .multiField .blockLabel select,.adcake-uni-form .blockLabels .multiField .blockLabel .textInput,.adcake-uni-form .blockLabels .multiField .blockLabel .selectInput,.adcake-uni-form .blockLabels .multiField .blockLabel select{margin:0.3em 0 0;width:100%;}
.adcake-uni-form .inlineLabels label,.adcake-uni-form .inlineLabels .label{float:left;line-height:100%;margin:0.3em 7% 0 0;padding:0;position:relative;width:20%;text-align:right;font-weight:700;color:#000}
.adcake-uni-form .inlineLabels .formHint{clear:both;color:#777;float:none;font-size:0.9em;margin-left:27%;margin-top:0;position:static;text-indent:0}
.adcake-uni-form .inlineLabels .multiField{float:left;margin:0 0 0.3em;width:45%;}
.adcake-uni-form .inlineLabels .multiField .blockLabel .textInput,.adcake-uni-form .inlineLabels .multiField .blockLabel .selectInput,.adcake-uni-form .inlineLabels .multiField .blockLabel select{display:block;float:none;margin:0.3em 0 0;width:100%;}
.adcake-uni-form label em,.adcake-uni-form .label em,.adcake-uni-form .blockLabels label em,.adcake-uni-form .blockLabels .label em{left:-7px;position:absolute;}
.adcake-uni-form .inlineLabels label em,.adcake-uni-form .inlineLabels .label em{display:block;font-style:normal;font-weight:700;left:auto;position:absolute;right:0;}
.adcake-uni-form .inlineLabel em{left:7px;position:absolute;}
.adcake-uni-form .col{float:left;margin:0 2% 20px 0;width:47.9%;}
.adcake-uni-form .ctrlHolder{border-bottom:1px solid #DFDFDF;padding:7px;position:relative}
.adcake-uni-form .ctrlHolder .DateField{display:inline}
.adcake-uni-form .ctrlHolder .dateToggler{background:url('../images/icons/calendar.png') 0 0 no-repeat;display:block;position:absolute;top:10px;right:-10px;text-indent:-999em;cursor:pointer;width:16px;height:16px}
.adcake-uni-form .buttonHolder input[type="submit"]{background-color: #AAAAAA; color: white; display: block; float: right; font-size: 12px; height: 20px; line-height: 20px; margin-left: 6px; margin-top: 10px; padding: 0 15px; text-decoration: none; border:0;cursor: pointer;}
.adcake-uni-form .buttonHolder input[type="submit"]:hover{background:#dd0f16}
.adcake-uni-form .primaryAction{font-weight:700;}
.adcake-uni-form .focused{border-color:#DD0F16}
.adcake-uni-form .inlineLabel span{float:left;width:90%;}
.adcake-uni-form label,.adcake-uni-form .blockLabels label,.adcake-uni-form .blockLabels .label{margin:0 0 0.5em;}
.adcake-uni-form .textInput,.adcake-uni-form .blockLabels .textInput,.adcake-uni-form .blockLabels .fileUpload{width:53%;}
.adcake-uni-form .selectInput,.adcake-uni-form select,.adcake-uni-form .blockLabels .selectInput,.adcake-uni-form .blockLabels select{width:53.5%;}
.adcake-uni-form textarea,.adcake-uni-form .blockLabels textarea{height:12em;width:53%;}
.adcake-uni-form .inlineLabels textarea{height:12em;width:70%;}
.adcake-uni-form .inlineLabels .multiField .blockLabel{float:left;margin:0 3% 0 0;width:26%;}
.adcake-uni-form div.focused .formHint{color:#333;}
.adcake-uni-form .col.first{clear:none;float:left;width:49%;}
.adcake-uni-form .col.last{clear:none;float:right;margin-right:0;width:49%;}
.adcake-uni-form #errorMsg{background:#FFDFDF none repeat scroll 0 0;border-color:#DF7D7D;border-style:solid;border-width:1px 0;margin:0 0 1.5em;padding:7px;}
.adcake-uni-form .error{background:#FFDFDF none repeat scroll 0 0;border-color:#DF7D7D;border-style:solid;border-width:1px 0;}
.adcake-uni-form #errorMsg dt,.adcake-uni-form #errorMsg h3{font-size:100%;font-weight:700;line-height:100%;margin:0 0 0.5em;}
.adcake-uni-form #errorMsg ol li{border-bottom:1px dotted #DF7D7D;list-style-position:inside;margin:0;padding:2px;position:relative;}
.adcake-uni-form .errorField{background:#FFBFBF none repeat scroll 0 0;color:#AF4C4C;margin:0 0 6px;padding:4px;}
.adcake-uni-form #OKMsg{background:#C8FFBF none repeat scroll 0 0;border-color:#A2EF95;border-style:solid;border-width:1px 0;margin:0 0 1.5em;padding:7px;}
.adcake-uni-form #OKMsg p{margin:0;}
.adcake-uni-form .columnRight{margin:0 0 1.5em;}
.adcake-uni-form .textInput,.adcake-uni-form .blockLabels .textInput,.adcake-uni-form .blockLabels .fileUpload,.adcake-uni-form .selectInput,.adcake-uni-form .blockLabels .selectInput,.adcake-uni-form .blockLabels select,.adcake-uni-form textarea,.adcake-uni-form .blockLabels textarea,.adcake-uni-form .inlineLabels .textInput,.adcake-uni-form .inlineLabels .fileUpload,.adcake-uni-form .inlineLabels .selectInput,.adcake-uni-form .inlineLabels select,.adcake-uni-form .inlineLabels textarea,.adcake-uni-form .inlineLabels .multiField select,.adcake-uni-form .resetButton{float:left;}
.adcake-uni-form .multiField .inlineLabel,.adcake-uni-form .blockLabels .multiField .inlineLabel,.adcake-uni-form .inlineLabels .multiField .inlineLabel{display:block;margin:0 0 0.5em;}
.adcake-uni-form .inlineLabels .textInput,.adcake-uni-form .inlineLabels .fileUpload,.adcake-uni-form .inlineLabels .selectInput,.adcake-uni-form .inlineLabels select,.adcake-uni-form .inlineLabels textarea,.adcake-uni-form .inlineLabels .defaultInput{width:70%;border:2px solid #CCC;padding:.2em;font-size:9pt;color:#666}
.adcake-uni-form .inlineLabels .SelectMultiple{height:200px}
.adcake-uni-form .inlineLabels .comments textarea{width:100%}
.adcake-uni-form .inlineLabels .textInput:focus,.adcake-uni-form .inlineLabels .fileUpload:focus,.adcake-uni-form .inlineLabels .selectInput:focus,.adcake-uni-form .inlineLabels select:focus,.adcake-uni-form .inlineLabels textarea:focus,.adcake-uni-form .inlineLabels .defaultInput:focus{border-color:#DD0F16;color:#000}
.adcake-uni-form .ctrlHolder .textInput:focus,.adcake-uni-form .ctrlHolder textarea:focus{outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;}
.adcake-uni-form #errorMsg dd,.adcake-uni-form #errorMsg ol{margin:0;padding:0;}
.adcake-uni-form .note{font-size: 10px;color: #666666;margin-top: 10px;float: left;width: 400px;text-align: center;margin-left: 20px;}
.adcake-uni-form .note2{font-size: 12px;color: #666666;float: left;width: 550px;text-align: center;margin-left: 20px;}

/* ========== Adcake Uni Form 2========== */

.adcake-uni-form2{margin:0;padding:0;position:relative;z-index:1;}
.adcake-uni-form2 fieldset{border-top:1px solid #CCC;padding:.6em 1.4em;margin:0}
.adcake-uni-form2 fieldset legend{color:#DD0F16;padding:0 .3em;font-size:100%;font-weight:700;margin:0}
.adcake-uni-form2 .controls{list-style-image:none;list-style-position:outside;list-style-type:none;}
.adcake-uni-form2 .ctrlHolder,.adcake-uni-form2 .buttonHolder{clear:both;margin:0;padding:0;}
.adcake-uni-form2:after,.adcake-uni-form2 .buttonHolder:after,.adcake-uni-form2 .ctrlHolder:after,.adcake-uni-form2 .ctrlHolder .multiField:after,.adcake-uni-form2 .inlineLabel:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;min-height:0;visibility:hidden;}
.adcake-uni-form2 .inlineLabel,.adcake-uni-form2 .inlineLabels .inlineLabel,.adcake-uni-form2 .blockLabels .inlineLabel{display:block;float:none;margin:0;width:auto;}
.adcake-uni-form2 .inlineLabel input,.adcake-uni-form2 .inlineLabels .inlineLabel input,.adcake-uni-form2 .blockLabels .inlineLabel input{border:medium none;float:left;margin:0 0.4em 0 0;padding:10px;}
.adcake-uni-form2 label,.adcake-uni-form2 .label,.adcake-uni-form2 .blockLabels label,.adcake-uni-form2 .blockLabels .label{display:block;float:none;line-height:100%;padding:0;width:auto;}
.adcake-uni-form2 .formHint,.adcake-uni-form2 .blockLabels .formHint{clear:none;color:#777;float:right;font-size:0.9em;margin:0;position:relative;top:-0.5em;width:45%;}
.adcake-uni-form2 .multiField,.adcake-uni-form2 .blockLabels .multiField{float:left;width:53%;}
.adcake-uni-form2 .multiField .blockLabel,.adcake-uni-form2 .blockLabels .multiField .blockLabel{float:left;margin:0 10px 0 0;width:30%;}
.adcake-uni-form2 .multiField .blockLabel .textInput,.adcake-uni-form2 .multiField .blockLabel .selectInput,.adcake-uni-form2 .multiField .blockLabel select,.adcake-uni-form2 .blockLabels .multiField .blockLabel .textInput,.adcake-uni-form2 .blockLabels .multiField .blockLabel .selectInput,.adcake-uni-form2 .blockLabels .multiField .blockLabel select{margin:0.3em 0 0;width:100%;}
.adcake-uni-form2 .inlineLabels label,.adcake-uni-form2 .inlineLabels .label{float:left;line-height:100%;margin:0.3em 7% 0 0;padding:0;position:relative;width:40%;text-align:left;font-weight:700;color:#000;padding-left:20px}
.adcake-uni-form2 .inlineLabels .formHint{clear:both;color:#777;float:none;font-size:0.9em;margin-left:27%;margin-top:0;position:static;text-indent:0}
.adcake-uni-form2 .inlineLabels .multiField{float:left;margin:0 0 0.3em;width:45%;}
.adcake-uni-form2 .inlineLabels .multiField .blockLabel .textInput,.adcake-uni-form2 .inlineLabels .multiField .blockLabel .selectInput,.adcake-uni-form2 .inlineLabels .multiField .blockLabel select{display:block;float:none;margin:0.3em 0 0;width:100%;}
.adcake-uni-form2 label em,.adcake-uni-form2 .label em,.adcake-uni-form2 .blockLabels label em,.adcake-uni-form2 .blockLabels .label em{left:-7px;position:absolute;}
.adcake-uni-form2 .inlineLabels label em,.adcake-uni-form2 .inlineLabels .label em{display:block;font-style:normal;font-weight:700;left:auto;position:absolute;right:0;}
.adcake-uni-form2 .inlineLabel em{left:7px;position:absolute;}
.adcake-uni-form2 .col{float:left;margin:0 2% 20px 0;width:47.9%;}
.adcake-uni-form2 .ctrlHolder{border-bottom:1px solid #DFDFDF;padding:7px;position:relative}
.adcake-uni-form2 .ctrlHolder .DateField{display:inline}
.adcake-uni-form2 .ctrlHolder .dateToggler{background:url('../images/icons/calendar.png') 0 0 no-repeat;display:block;position:absolute;top:10px;right:-10px;text-indent:-999em;cursor:pointer;width:16px;height:16px}
.adcake-uni-form2 .buttonHolder{background:#DFDFDF;border:#999 1px solid;border-width:4px 0 1px;text-align:right;padding:.4em 1em}
.adcake-uni-form2 .primaryAction{font-weight:700;}
.adcake-uni-form2 .focused{border-color:#DD0F16}
.adcake-uni-form2 .inlineLabel span{float:left;width:90%;}
.adcake-uni-form2 label,.adcake-uni-form2 .blockLabels label,.adcake-uni-form2 .blockLabels .label{float:left;line-height:100%;margin:0.3em 7% 0 0;padding:0;position:relative;width:40%;text-align:left;font-weight:700;color:#000;padding-left:20px}
.adcake-uni-form2 .textInput,.adcake-uni-form2 .blockLabels .textInput,.adcake-uni-form2 .blockLabels .fileUpload{width:53%;}
.adcake-uni-form2 .selectInput,.adcake-uni-form2 select,.adcake-uni-form2 .blockLabels .selectInput,.adcake-uni-form2 .blockLabels select{width:53.5%;}
.adcake-uni-form2 textarea,.adcake-uni-form2 .blockLabels textarea{height:12em;width:53%;}
.adcake-uni-form2 .inlineLabels textarea{height:12em;width:70%;}
.adcake-uni-form2 .inlineLabels .multiField .blockLabel{float:left;margin:0 3% 0 0;width:26%;}
.adcake-uni-form2 div.focused .formHint{color:#333;}
.adcake-uni-form2 .col.first{clear:none;float:left;width:49%;}
.adcake-uni-form2 .col.last{clear:none;float:right;margin-right:0;width:49%;}
.adcake-uni-form2 #errorMsg{background:#FFDFDF none repeat scroll 0 0;border-color:#DF7D7D;border-style:solid;border-width:1px 0;margin:0 0 1.5em;padding:7px;}
.adcake-uni-form2 .error{background:#FFDFDF none repeat scroll 0 0;border-color:#DF7D7D;border-style:solid;border-width:1px 0;}
.adcake-uni-form2 #errorMsg dt,.adcake-uni-form2 #errorMsg h3{font-size:100%;font-weight:700;line-height:100%;margin:0 0 0.5em;}
.adcake-uni-form2 #errorMsg ol li{border-bottom:1px dotted #DF7D7D;list-style-position:inside;margin:0;padding:2px;position:relative;}
.adcake-uni-form2 .errorField{background:#FFBFBF none repeat scroll 0 0;color:#AF4C4C;margin:0 0 6px;padding:4px;}
.adcake-uni-form2 #OKMsg{background:#C8FFBF none repeat scroll 0 0;border-color:#A2EF95;border-style:solid;border-width:1px 0;margin:0 0 1.5em;padding:7px;}
.adcake-uni-form2 #OKMsg p{margin:0;}
.adcake-uni-form2 .columnRight{margin:0 0 1.5em;}
.adcake-uni-form2 .textInput,.adcake-uni-form2 .blockLabels .textInput,.adcake-uni-form2 .blockLabels .fileUpload,.adcake-uni-form2 .selectInput,.adcake-uni-form2 .blockLabels .selectInput,.adcake-uni-form2 .blockLabels select,.adcake-uni-form2 textarea,.adcake-uni-form2 .blockLabels textarea,.adcake-uni-form2 .inlineLabels .textInput,.adcake-uni-form2 .inlineLabels .fileUpload,.adcake-uni-form2 .inlineLabels .selectInput,.adcake-uni-form2 .inlineLabels select,.adcake-uni-form2 .inlineLabels textarea,.adcake-uni-form2 .inlineLabels .multiField select,.adcake-uni-form2 .resetButton{float:left;}
.adcake-uni-form2 .multiField .inlineLabel,.adcake-uni-form2 .blockLabels .multiField .inlineLabel,.adcake-uni-form2 .inlineLabels .multiField .inlineLabel{display:block;margin:0 0 0.5em;}
.adcake-uni-form2 .inlineLabels .textInput,.adcake-uni-form2 .inlineLabels .fileUpload,.adcake-uni-form2 .inlineLabels .selectInput,.adcake-uni-form2 .inlineLabels select,.adcake-uni-form2 .inlineLabels textarea,.adcake-uni-form2 .inlineLabels .defaultInput{width:70%;border:2px solid #CCC;padding:.2em;font-size:9pt;color:#666}
.adcake-uni-form2 .inlineLabels .textInput:focus,.adcake-uni-form2 .inlineLabels .fileUpload:focus,.adcake-uni-form2 .inlineLabels .selectInput:focus,.adcake-uni-form2 .inlineLabels select:focus,.adcake-uni-form2 .inlineLabels textarea:focus,.adcake-uni-form2 .inlineLabels .defaultInput:focus{border-color:#DD0F16;color:#000}
.adcake-uni-form2 .ctrlHolder .textInput:focus,.adcake-uni-form2 .ctrlHolder textarea:focus{outline-color:#-moz-use-text-color;outline-style:none;outline-width:medium;}
.adcake-uni-form2 #errorMsg dd,.adcake-uni-form2 #errorMsg ol{margin:0;padding:0;}

/* ==========Adcake Media Thumbs========== */
.image_frame{margin:7px 3px 3px 3px;float:left;background-color:#fff;padding:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-moz-box-shadow:0px 0px 5px #aaaaaa;-webkit-box-shadow:0px 0px 5px #aaaaaa;box-shadow:0px 0px 5px #aaaaaa;}

/*=============== Facebook style =========== */
.like_button{margin:10px}
/* ============== Adcake Comment style ======== */
.comment_even{border-top-width:1px;border-top-color:#eee;border-top-style:solid;border-bottom-width:1px;border-bottom-color:#eee;border-bottom-style:solid;padding:8px;background-color:#f8f8f8;margin-bottom:12px;min-height:65px;}

.comment_odd{border-top-width:1px;border-top-color:#eee;border-top-style:solid;border-bottom-width:1px;border-bottom-color:#eee;border-bottom-style:solid;padding:8px;background-color:#f8f8f8;margin-bottom:12px;min-height:65px;}
.commented_on{margin:0 0 0 8px}
.comment_block{margin:10px 10px 10px 70px;}
.comment_block p{color:#666}

/* ============= SHARE BUTTONS */
.link-buttons{width:560px;margin:15px 0 0px;padding:9px 10px 5px 10px;background-color:#f0f0f0;-moz-border-radius-topright:8px;-moz-border-radius-topleft:8px;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;}
.addthis_toolbox{float:left;width: 300px; padding-top:15px}
.addthis_toolbox_Comp{float:right/*;width: 300px; padding-left:5px*/}
.addthis_button_facebook_like{margin-top:-2px;}
/* +1 GOOGLE SETTINGS */
.googleplus{float:left;width:56px;}
/* =============== MEDIA FRAMES ============== */
div#media-desc-meta{margin:3px 0 10px;background-color:#f0f0f0;padding:10px;-moz-border-radius-bottomright:8px;-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;width:560px}
div#media-upload > p{text-indent:0;margin:0}
div#media-upload > p span{font-weight:bold}
div.owner-information,div.owner-comments{text-align:left;float:left}
div.owner-information{float:left;padding-right:5px}
div.owner-information div.owner-image-holder{float:left;margin-bottom:4px}
div.owner-information-desc{float:left;}
div.owner-information-desc .owner-username,div.owner-information-desc .owner-name{display:block;margin-left:4px;line-height:16px}
div.owner-information-desc .owner-name{font-weight:bold;color:#555}
div.owner-comments{width:300px;padding-left:15px;font-size:11px}
div.owner-comments p{text-indent:0px}
div.owner-comments p{color:#888}

div.facebook-comment{padding:10px;}
div.facebook-send{}
div.facebook-send-company{float:left;margin-left:18px}

div#media-extra-info{clear:both}
div#media-extra-info #media-tags li{float:left}
div#media-extra-info ul{float:left;margin-top:10px;border-top:1px solid #CCC;padding-top:5px;text-align:left;}
ul#media-details{width:65%}
ul#media-tags{width:32%;padding-left:2%;border-left:1px solid #DDD;}

ul#media-details li{font-weight:bold;margin-bottom:5px}
ul#media-details li p,ul#image-details li span{font-weight:normal;text-indent:0;margin:0}

ul#media-tags li{padding:5px;font-size:11px}
ul#media-tags li.title,ul#image-tags li.empty{font-size:12px}
ul#media-tags li.title{font-weight:bold;padding-bottom:2px;margin-bottom:3px}
ul#image-tags li.empty{border-bottom:0;font-style:italic;color:#888}

/* VIDEOS AND GALLERIES FEEDS */
div#vertical-media-feed li{padding:5px;border-bottom:1px solid #DDD}
div#vertical-media-feed li:hover{background-color:#F7F7F7}
div#vertical-media-feed li.last{border:0}
div#vertical-media-feed{width:284px;margin-left:12px}
div#vertical-media-feed li,div.feeds{clear:both}

div#horizontal-media-feed div.media-thumb,div#vertical-media-feed div.media-thumb,ul#gallery-list div.media-thumb,ul#video-list div.media-thumb{width:172px;height:96px;text-align:center;padding:5px;background-color:#fff;border:#DDD 1px solid;}
div#horizontal-media-feed div.media-thumb-gallery,ul#gallery-list div.media-thumb-gallery{background:url("../images/gallery-frame.png") no-repeat;width:192px;height:106px}
div#horizontal-media-feed div.media-thumb-gallery img,ul#video-list div.media-thumb-gallery img,ul#gallery-list div.media-thumb-gallery img{margin:7px 0 0 7px}
div#horizontal-media-feed div.media-info,div#vertical-media-feed div.media-info,ul#gallery-list div.media-info,ul#video-list div.media-info{width:160px;margin:auto auto;text-align:center}
div#horizontal-media-feed div.media-info a.media-title,div#vertical-media-feed div.media-info a.media-title,ul#gallery-list div.media-info a.media-title,ul#video-list div.media-info a.media-title{font-weight:bold}
div#horizontal-media-feed div.media-meta,div#vertical-media-feed div.media-meta,ul#video-list div.media-meta,ul#gallery-list div.media-meta{font-size:10px;margin-top:1px;line-height:1.6em}
div.media-meta .media-region{font-weight:bold}
div#horizontal-media-feed div.media-info a.media-title, ul#video-list div.media-info a.media-title,  ul#gallery-list div.media-info a.media-title{text-decoration:none}

div#horizontal-media-feed li,ul#gallery-list li,ul#video-list li{padding:4px;position:relative;display:block;float:left;margin-bottom:10px;vertical-align:middle;width:184px;height:195px;}
div#horizontal-media-feed li:hover,ul#gallery-list li:hover,ul#video-list li:hover{background-color:#F7F7F7;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;border-top-left-radius:3px;border-top-right-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;}
div#horizontal-media-feed li:hover .delete-video,div#horizontal-media-feed li:hover .delete-gallery,ul#gallery-list li:hover .delete-gallery,ul#video-list li:hover .delete-video{background:url("../images/icons/cross-mini.png") 0 0 no-repeat;opacity:.5;display:block;text-indent:-999em;z-index:10;width:10px;height:10px ;position:absolute;right:5px;top:180px;}
div#horizontal-media-feed li:hover .delete-video:hover,div#horizontal-media-feed li:hover .delete-gallery:hover,ul#video-list li:hover .delete-video:hover,ul#gallery-list li:hover .delete-gallery:hover{opacity:1}
div#horizontal-media-feed li .video-cont,ul#video-list li .video-cont{background:url("../images/icons/film.png") 0 0 no-repeat;opacity:1;display:block;text-indent:-999em;z-index:10;width:16px;height:16px ;position:absolute;left:10px;top:10px;}
div#horizontal-media-feed li .image-cont,ul#gallery-list li .image-cont{background:url("../images/icons/camera.png") 0 0 no-repeat;opacity:1;display:block;text-indent:-999em;z-index:10;width:16px;height:16px ;position:absolute;left:13px;top:12px;}
div#horizontal-media-feed li .media-owner,ul#video-list li .media-owner,ul#gallery-list li .media-owner{color:#000}
ul#gallery-list li.empty-branch{clear:both;float:none;width:100%;height:inherit;}
.twtr-widget p{text-align:left}

.title-gal {background:#f5f5f5; padding:10px 30px;color:#06acd5;text-indent:10px;margin:5px;-moz-border-radius:5px 0px 10px;-webkit-border-radius:5px 0px 10px }
.title-gal a{color:#06acd5;font-size:18px;text-indent:10px; text-decoration:none;text-transform:capitalize;}
.title-gal:hover a{color:#06c1f0}
ul#gallery-compact-list,ul#video-compact-list{margin-bottom:10px}
ul#gallery-compact-list li,ul#video-compact-list li{padding:7px;position:relative;display:block;float:left;vertical-align:middle;width:450px;height:264px}
ul#gallery-compact-list li a,ul#video-compact-list li a {display:block;overflow:hidden;text-decoration:none;padding: 3px 0;}
ul#gallery-compact-list li a div.fancy-description ,ul#video-compact-list li a div.fancy-description {font-size: 12px;text-align: center;background: #fff;color:#06C1F0;display: block;margin: 0;z-index: 1000; position: relative;text-decoration:none;font-weight:bold;padding:4px 0;line-height:13px;padding:10px 0}
ul#gallery-compact-list li a div.fancy-description span.cat,ul#video-compact-list li a div.fancy-description span.cat{color:#666;display:block;font-weight:normal;margin-top:2px}
ul#gallery-compact-list li div.media-thumb,ul#video-compact-list li div.media-thumb{width:450px;height:264px;text-align:center;background-color:#fff;border:#DDD 1px solid;overflow:hidden}
/*.image-cont{background:#FF2E2E;opacity:1;display:block;z-index:10;width:76px;height:20px ;position:absolute;top:0px;}*/

div.video-cont {background:#2E77FF;opacity:0.8;display:block;z-index:10;width:132px;height:25px ;position:absolute;top:0;left:0;margin:11px 0 0 11px;-moz-box-shadow: 1px 1px 3px #666666; -webkit-box-shadow: 1px 1px 3px #666666; box-shadow: 1px 1px 3px #666666; color:#FFffff; font-weight: lighter; font-size: 13px; text-align: center;line-height: 20px;visibility:hidden}
div.video-cont a{display:block;margin: 0;padding: 0;color:#fff; font-weight: normal;}
ul#video-compact-list li:hover div.video-cont,ul#gallery-compact-list li:hover div.video-cont {visibility: visible}
div.video-cont .text-cont {color:#FFffff; font-weight: lighter; font-size: 13px;line-height: 19px; width: 132px; height: 132px}

div.image-cont {background:#FF2E2E;opacity:0.8;display:block;z-index:10;width:444px;height:30px ;position:absolute;top:0;left:0;margin:11px 0 0 11px;-moz-box-shadow: 1px 1px 3px #666666; -webkit-box-shadow: 1px 1px 3px #666666; box-shadow: 1px 1px 3px #666666; color:#FFffff; font-weight: lighter; font-size: 13px; text-align: center;line-height: 25px;visibility:hidden}
div.image-cont a{display:block;margin: 0;padding: 0;color:#fff; font-weight: normal;}
div.image-cont a:hover{display:block;margin: 0;padding: 0;color:#FFF; font-weight: bold;}
ul#video-compact-list li:hover div.image-cont,ul#gallery-compact-list li:hover div.image-cont {visibility: visible;}
div.image-cont .text-cont {color:#FFffff; font-weight: lighter; font-size: 13px;line-height: 19px; width: 132px; height: 132px}

/* ======================= PORTFOLIO ============================*/
div#owner-content{}
div#owner-content.edit{float:left;width:450px;}

div.owner-image{float:left;margin-right:10px; position:relative;width:150px;height:150px}
div.owner-image .owner-image-avatar{position:absolute;left:0;top:0;bottom:0;right:0;margin:auto; -moz-border-radius:10px 0 25px 0;-webkit-border-radius:10px 0 25px 0}
/*div.owner-image span.edit-image{}*/

div#profile-display .profile-sec-header{}
div#owner-content.edit div.owner-information{padding-top:2px}
div.profile-overview .profile-box{width:106px;height:64px;/*-moz-border-radius:8px;-webkit-border-radius:8px;-webkit-border-radius:8px;margin-left:10px;*/background: -webkit-gradient(linear, center top, center bottom, from(#F4F4F4), to(#E4E4E4)); background: -moz-linear-gradient(center top , #F4F4F4, #E4E4E4);/*border: 1px solid #D3D3D3;*/float:left}
h1.owner-name{font-size:17px;font-family:"Trade Gothic W01 Cn 18","Helvetica Neue",Helvetica,Arial,sans-serif;letter-spacing:0;word-spacing:0;text-transform:capitalize;}

div.profile-overview-home .profile-box-home {width:100px;height:60px;-moz-border-radius:8px;-webkit-border-radius:8px;-webkit-border-radius:8px;margin:7px;background: -webkit-gradient(linear, center top, center bottom, from(#F4F4F4), to(#E4E4E4)); background: -moz-linear-gradient(center top , #F4F4F4, #E4E4E4);border: 1px solid #D3D3D3;float:left;}
div.profile-overview-home a.profile-box-home:hover {background:#D4D4D4}
div.profile-overview-home a.profile-box-home{text-decoration:none}
div.profile-overview-home .profile-box-home .number-home{font-size:42px;font-weight:bold;margin:2px 0 0;color:#555;text-align:center;text-shadow:1px 0 3px #a8a8a8}
div.profile-overview-home .profile-box-home .name-home{font-size:13px;color:#555;text-align:center}

div.profile-overview .profile-box .number,div.profile-overview .profile-box .name{text-align:center}
div.profile-overview .profile-box .number{font-size:41px;font-weight:bold;margin:4px 0 0 -3px;color:#555;text-shadow:1px 0 3px #a8a8a8}
div.profile-overview .profile-box .name{font-size:13px;color:#555;}
div#owner-content.edit h1.owner-name{display:block}
h1.owner-name{float:left; margin-bottom:4px}
div.owner-other-stuff,span.edit-stuff{padding:4px 0;color:#AAA;font-size:12px}

div#portfolio-information{background:#f7f7f7;clear:both;margin-top:10px;moz-border-radius:8px;-moz-border-radius:5px;-webkit-border-radius:5px;;width:930px;}
div#portfolio-information h3{padding:7px;}
div#portfolio-information p{text-indent:0;margin:0 20px 5px;text-align:center;padding:15px;}
div#portfolio-information textarea{width:531px;height:25px;margin:2px 0 10px 0;color:#888;min-height:25px;max-height:25px;min-width:531px;max-width:531px;border:#e0e0e0 2px solid;text-align:center;padding:15px 10px}-
div#portfolio-information textarea:focus{color:#000;border-color:#888888}
div.share-portfolio {background:#f7f7f7;clear:both;margin:0;padding:0px 10px 0;moz-border-radius:4px;-webkit-border-radius:4px;margin-top:20px;height:20px;line-height:20px;padding:10px;text-align:center}
div.share-portfolio span{color: #444444;display: block;font-weight: bold}
div#portfolio-information input{position:relative;float:right;margin-bottom:10px;}
div#portfolio-information.edit{background:#f7f7f7;clear:both;margin:0;padding:0px 10px 0;moz-border-radius:8px;-webkit-border-radius:8px;-webkit-border-radius:8px;border:#e0e0e0 2px solid;width:556px;margin-top:20px;}
div#portfolio-information.edit span{font-weight:bold;color:#444;display:block;margin:4px 0 4px 0;}
div#portfolio-information.edit span.loading{font-size:11px;margin-left:-40px}

div#portfolio{clear:both;padding-top:10px;}
div.help-no-work {background:#f4f4f4; text-align:center; margin-top:10px; height:30px; padding-top: 20px;color:#666}

div#portfolio h2{margin-bottom:10px; display: none}

ul#media-branches li{margin-bottom:10px;}
ul#media-branches li div.media-header{background:url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x;height:20px;padding:1px 0}
ul#media-branches li h3.media-title{float:left;background-color:#FFF;cursor:pointer;padding:0 10px 0 0;margin:0}
ul#media-branches li span.sortable-handler{background:#FFF url("../images/move-button.png") -30px -3px no-repeat;display:block;height:20px;width:21px;cursor:move;float:right;}
ul#media-branches li span.sortable-handler:hover{background-position:3px -29px;width:54px}
ul#media-branches li strong{font-weight:bold}
ul#media-compact-branches li div.media-header{background:url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x;height:20px;padding:1px 0;margin-bottom:10px}
ul#media-compact-branches li h3.media-title{float:left;background-color:#FFF;cursor:pointer;padding:0 10px 0 0;margin:0}
ul#media-compact-branches li span.sortable-handler{background:#FFF url("../images/move-button.png") -30px -3px no-repeat;display:block;height:20px;width:21px;cursor:move;float:right;}
ul#media-compact-branches li span.sortable-handler:hover{background-position:3px -29px;width:54px}
ul#media-compact-branches li strong{font-weight:bold}
ul#video-list,ul#audio-list,ul#gallery-list{overflow:hidden}
ul#video-list li,ul#audio-list li,ul#gallery-list li{padding:4px;}
ul#video-list li.empty-branch{height:inherit;cursor:default;margin-top:6px}
ul#media-branches li div.hide{display:none}


iframe.hidden-frame{display:none;visibility:hidden;width:0;height:0}

/* Gallery and Video List */
table.media-with-thumbs{width:100%;border:1px solid #CCC;background-color:#F1F1F1}
table.media-with-thumbs.odd{background-color:#F7F7F7}
table.gallery-images{margin-bottom:10px;}
div#portfolio table.media-with-thumbs thead{cursor:default}
div#portfolio.edit table.media-with-thumbs thead{cursor:move}
table.media-with-thumbs td{text-align:center;vertical-align:middle;padding:5px}
table.media-with-thumbs td img{border:#999 1px solid;padding:2px}
table.media-with-thumbs td a{color:#555;font-size:10px;text-decoration:none}
table.media-with-thumbs td a:hover{text-decoration:underline;color:#000}
table.media-with-thumbs thead{background-color:#E4E4E4;border-bottom:#CCC 1px solid}
table.media-with-thumbs thead th{padding:3px 0 0 15px;border-bottom:#CCC 1px solid}
table.media-with-thumbs thead th.delete-table{text-align:right;padding-right:10px;font-size:11px;}

span.media-name{font-size:15px;margin-bottom:5px;display:block}

/* Search and Add work */
a.search-and-add,a.add-item{padding:5px}
a.clicked{background-color:#F1F1F1;padding:4px;border:1px #E0E0E0 solid;border-width:1px 1px 0}

div.search-and-add-list{clear:both;border:1px #E0E0E0 solid;background-color:#F1F1F1;padding:.75em}
ul.search-list{float:left;height:200px;width:245px;margin-right:10px;border:2px #DD0F16 solid;background-color:#FFF;overflow-y:scroll}
ul.search-list li{padding:4px;margin:1px!important;border-bottom:1px solid #E9E9E9}
ul.search-list li.selected{background-color:#06bae7;}
ul.search-list li.selected a{color:#FFF}
ul.search-list li.empty{margin:70px 0 0!important;padding:5px;background-color:#F8F8F8;border:1px #E8E8E8 solid;border-width:1px 0;text-align:center}
ul.search-list li input{margin-top:3px}

div.add-selected{float:right;background-color:#FBFBFB;width:286px;height:188px;padding:6px;border:1px #E9E9E9 solid}
span.select-counter{font-weight:bold}
div.add-selected ul{height:140px;margin:2px 13px 8px}

div.add-selected ul{overflow:auto}
div.add-selected ul li{margin-bottom:0!important;padding:0}

div.search-and-add-list div.loading{background-color:#000;width:100%;height:100%;position:relative;top:15px;z-index:4}
span.view-all-branch{width:100%;display:block;text-align:right;}
li.empty-branch{text-align:center;margin:0;clear:both;}
li.comming-soon{text-align:center;color:#c1c1c1}
.flag{float:left;margin-left:3px;}

/* ===================== COMPANIES ================================== */
#horizontal-company-feed{overflow:hidden;}
#horizontal-company-feed .company{height:75px;width:274px;background:#f8f8f8;-moz-border-radius:0px 0px 14px 0px;border-radius:0px 0px 14px 0px;float:left;margin:2px 6px}
#horizontal-company-feed .company .logo{float:left;margin:8px;width:54px;height:54px;position:relative}
#horizontal-company-feed .company .logo img{position:absolute;margin:auto;top:0;bottom:0;left:0;right:0;}
#horizontal-company-feed .company .company-info{float:left;margin-top:8px;width:196px}
#horizontal-company-feed .company .company-info a.company-name{display:block;font-size:15px;color:#06ACD5;text-decoration:none}
#horizontal-company-feed .company .company-info .company-item{display:block;right:0;margin:5px 0;font-size:11px;color:#666666}
#horizontal-company-feed .company .company-info .company-item strong{font-weight:bold}
div.media-content{overflow: hidden}
/* ===================== FEATURED-COMPANIES ================================== */


div.featured-companies {background:#F8F8F8;width:330px;height:75px;margin:4px 10px;-moz-border-radius-bottomright:20px;-webkit-border-bottom-right-radius:20px}
div.featured-companies .avatar {width:60px;height:60px; margin:7px 0 0 9px; float:left;position:relative}
div.featured-companies .avatar img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
div.featured-companies .info {width:230px;height:60px;float:right;margin:10px 15px 0 0}
div.featured-companies .info a.name{;text-decoration:none;font-size:15px;display:block;margin-top:5px}
div.featured-companies .info .categories{color:#666666;font-weight:bold;display:block;margin-top:6px}
/* ===================== FEATURED-COMPANIES ================================== */

div.featured-professionals {background:#Ffffff;width:330px;height:75px;margin:4px 10px; -moz-box-shadow:0 0 5px #ededed;-webkit-box-shadow:0 0 5px #ededed;box-shadow:0 0 5px #ededed;-moz-border-radius-bottomright:20px;-webkit-border-bottom-right-radius:20px;}
div.featured-professionals .avatar {width:60px;height:60px; margin:7px 0 0 9px; float:left;position:relative;}
div.featured-professionals .avatar img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
div.featured-professionals .info {width:230px;height:50px;float:right;margin:10px 15px 0 0}
div.featured-professionals .info a.username{text-decoration:none;display:block;font-size:15px;}
div.featured-professionals .info span.name{color:#666666;display:block;font-weight:bold;margin-top:2px}
div.featured-professionals .info span.categories{display:block;margin-top:2px;color:#aaaaaa}
div.featured-professionals .info span.country{display:block;margin-top:1px;color:#aaaaaa;font-style:italic;}

/*========================= CONTRIBUTIONS//PARTICIPATION=======================*/
table#role-list{border-spacing:10px}
table#role-list td{vertical-align:middle;text-align:left}
table#role-list td.thumb{width:50px}
table#role-list td.name{width:200px}
table#role-list td#empty-roles{width:540px;padding:15px 20px;background-color:#f6f6f6;color: #b3b3b3;border-radius:3px;-moz-border-radius:3px;}
table#role-list td.actions{padding-left:15px}
table#role-list td.actions .delete-role{color:#06ACD5;cursor:pointer;}
table#role-list td.actions .delete-role:hover{color:#06C1F0;}
table#role-list td.role{width:200px}
table#role-list td.role b{color:#000}
table#role-list td.name span{display:block;color:#666}
table#role-list td.name a{display:block;margin-bottom:3px}
table#role-list td.contribution{width:200px}

/* ===================== CHECK YOUR SPAM FOLDER ================================== */

div.check-spam-box .check-spam-box-h{background:#ededed;height:40px;vertical-align:middle;padding:15px 5px 0 5px; color:#666666; text-align:center;font-size:12px; }

/* ===================== CHECK YOUR SPAM FOLDER ================================== */

div.job-deletion{background:#F8F8F8;float:right;width:100px;height:20px;line-height:20px; -moz-border-radius:5px 5px 0 0px;-webkit-border-radius:5px 5px 0 0px;margin-top:5px}
div.job-deletion .delete-job{float:right;margin-right:8px;}

