strong { font-weight: bold }

ul.directory-list li { padding: 1.1em; margin: .6em 0; background-color: #F8F8F8 }
ul.directory-list li span.directory-title { font-size: 1.5em; display: block; margin: 0 0 .5em; color: #06ACD5 }
ul.directory-list li span { display: block; right: 0; margin: .3em 0 }

p.directory-description { text-indent: 0; font-style: italic; font-size: 12px; margin: auto 1.5em 5px }


/* Companies Section */
ul#company-list li { cursor: pointer; }
ul#company-list .company-info { float: left;margin-left: 10px;width: 320px;}
ul#company-list .company-logo {float:left; height:60px; width:60px;position: relative;}
.company-logo .aligned{ position: absolute;margin:auto;top:0;bottom:0;left:0;right:0;}
/* Categories Section */
div.category-companies { margin-top: .3em; text-align: right; }

ul.category-company-list { background: #F2F2F2; border: 1px solid #E6E6E6; text-align: left; overflow: auto; max-height: 180px }
ul.category-company-list li { margin: 0; padding: 0.5em; background: none; border-bottom: 1px solid #E6E6E6 }
ul.category-company-list li.last { border-bottom: 0 }

span.view-companies { letter-spacing: .06em; color: #999; font-weight: bold; font-size: 11px; padding: 0.3em 0.9em; cursor: pointer; display: inline !important; }
span.view-companies:hover, span.viewer-selected { color: #dd0f16; text-decoration: underline; }
span.viewer-selected { background: #F0F0F0; border: 1px solid #E6E6E6; border: 1px 1px 0 }

/* Company Detail Section */
div.detail-company-logo {margin:20px 0 5px 0px;float:left; height:190px; width:190px;position: relative;}
.detail-company-logo .aligned{ position: absolute;margin:auto;top:0;bottom:0;left:0;right:0;}
h2#company-name { text-decoration: none }
div#contact-information { float: left; margin:22px 0 1em 10px; padding-left:5px; padding-top: 10px;width:78%;float:left }
div.company-desc {margin-top:12px; margin-bottom:16px; }
div.company-desc p{padding-left:20px;padding-right:20px;margin-top:6px;margin-bottom:6px }
div.comp-desc-preview{width:50%; padding-bottom:5px;float:left;}
div#contact-information .comp-frame-tittle{border-bottom:1px solid #CCCCCC; width:95%;float:left; margin-bottom: 8px; margin-left: 20px}
div#contact-information .comp-frame-tittle a{font-size: 20px}
div#contact-information p, p#company-members {padding-left:17px; text-indent: 0;margin:0px 0 5px 5px;/* float:left*/}

span#company-category { margin: 0 0 .5em; display: block; font-style: italic; color: #666 }

ul#company-clients, ul#company-achievements { margin-bottom: 1em }
ul#company-clients li { list-style: disc; margin-left: 22px }

span#admin-company { position: absolute; left: 344px }
span#admin-company-frame { }

p.are-you-sure { margin-top: 15px; line-height: 15px }
p.are-you-sure span { color: #000 }
form#confirm { margin-bottom: 15px; text-align: center }
.gallery-long{background:#f7f7f7;border-radius:4px;overflow:hidden;padding:10px 0;margin-bottom:20px}
.gallery-long .gallery-media{float:left;margin-left:10px}
.gallery-long .first{margin-left:12px}
.gallery-long .gallery-media .media-thumb-gal{ width: 172px;height: 96px;text-align: center;padding:2px;background-color: white;border: 1px solid #999;}
.gallery-long .gallery-media .empty{border:none}
.gallery-long .gallery-media .media-info-gal {width: 160px;margin: auto auto;text-align: center;}
.gallery-long .gallery-media .media-info-gal a,.gallery-long .gallery-media .media-info-gal span{display:block;}
.gallery-long .gallery-media .media-info-gal span.region,.gallery-long .gallery-media .media-info-gal span.image-title{font-weight:bold}
.gallery-long .title-gal{font-size:20px;margin:0 0 10px 10px}
.gallery-long .title-gal a{text-decoration:none}
.gallery-long .gallery-media .media-info-gal a.title{text-decoration:none}
.gallery-long .view-all{margin:4px 0 0 0;}
.gallery-long .view-all a{background: none repeat scroll 0 0 #AAA;color: white;cursor: pointer;padding: 3px 20px;text-align: center;text-decoration: none;float:right;margin:6px 14px 0 0}
.gallery-long .view-all a:hover{background: #DD0F16;}