ul#follow-list li { border-bottom: 1px solid #DDD; padding: 10px }
ul#follow-list li:hover { background-color: #F5F5F5 }

div.follow-image { float: left; width: 52px; padding: 0 2px }
div.follow-summary { float: right; width: 490px; padding: 2px 5px; line-height: 1.7em }
h3.follow-name { font-size: 24px; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0; display: inline; word-spacing: 0; }
div.follow-other-stuff, span.edit-stuff { color: #AAA; font-size: 11px; line-height: 1.2em; margin-top: .3em }
span.follow-thats-you { font-weight: bold }
a.edit-image { font-size: 11px }
