/* Gallery List */
div.gallery-holder, div.gallery-information { height: 110px }
div.gallery-holder { margin-bottom: 26px }
div.gallery-image { float: left; width: 104px; height: 106px; background: url("../images/gallery-bg.png") top center no-repeat; padding: 4px 0 0 4px; margin-right: 10px }
div.gallery-image div { height: 96px; width: 96px; display: table; overflow: hidden; text-align: center }
div.gallery-image a { display: table-cell; vertical-align: middle }
div.gallery-information { position: relative }
div.gallery-title-desc { height: 80px; overflow: hidden; display: table; padding: 0 3px; #position: relative }
div.gallery-title-desc-inner { display: table-cell; vertical-align: middle; #position: absolute; #top: 50%;font-size:10px }
div.gallery-title-desc-inner h2 { margin-bottom: 10px;font-size:12px;font-weight:bold }
div.gallery-title-desc-inner p { color: #999 }
div.gallery-title-desc-inner h4 {color: #999; font-size:10px;margin-top:6px; }
.gallery-title-desc-inner h4.gallery-delete {margin-top:30px  } 
div.gallery-information span { display: block; position: absolute; bottom: 12px }
span.gallery-image-count { left: 124px }
span.gallery-pub-date { right: 0 }
a.gallery-delete { background: transparent url(../images/icons/cross-mini.png) no-repeat scroll 0 0; cursor: pointer; display: block;height: 10px; opacity: .45; width: 10px; z-index: 10;padding-left:10px; }
a.gallery-delete:hover { opacity: 1 }
div.add-gallery { text-align: right; padding: .1em;margin-bottom:7px }

/* Gallery Detail */
h1 { margin-bottom: 15px }

div#gallery-description, div#gallery-meta {font-size: 11px }
div#gallery-description{text-align: center;color: #C1C1C1;padding:6px 0 0 0;font-style:italic; }
div#gallery-description {background:#f7f7f7; float: right; width: 550px; color:#666666;-moz-border-radius:10px 0 25px;-webkit-border-radius:10px 0 25px;margin-bottom:9px;padding:15px }
div#gallery-description p{ text-align: center }
div#gallery-meta { background-color: #F5F5F5; -moz-border-radius:5px;-webkit-border-radius:5px; float: left; padding: 0 10px; width: 97%; margin-bottom: 10px }
div.gallery-description-heacer{width:50%; float:left }

div#gallery-meta span { display: block; margin: 10px 0; color: #555 }
div#gallery-meta span span { display: inline; font-weight: bold; color: #444 }
div#gallery-meta span span.unbold {font-weight: normal}

ul#gallery-thumbs { width: 100%; clear: both; padding-top: 10px }
ul#gallery-thumbs li { float: left; width: 590px; text-align: center; position: relative; padding-bottom:20px }

ul#gallery-thumbs li span.tb-cell { height: 550px; width: 100%; text-align: center }
ul#gallery-thumbs li span.tb-cell span { display: table-cell; vertical-align: middle }
ul#gallery-thumbs li span.image-details { display: block; text-indent: -999em; font-size: 10px; line-height: 120%; position: absolute; right: 5px; bottom: 5px; z-index: 10; width: 16px; height: 16px; margin: 0; padding: 0; cursor: pointer }
ul#gallery-thumbs li:hover span.image-details { background: #D4F0F6 url("../images/image-details.png") top center no-repeat }
ul#gallery-thumbs li:hover span.expanded { text-indent: 0; width: 96px; height: auto; background-image: none; padding: 3px; cursor: default }
ul#gallery-thumbs li:hover a.delete-image {display:block;clear:both;z-index: 10;}
ul#gallery-thumbs li a.delete-image {font-weight:bold;text-decoration:none}
ul#gallery-thumbs img { border: 1px solid #CCC; padding: 1px }



/* Gallery Delete Detail */
div#confirm-delete div#gallery-description { float: none; width: 330px }
p.are-you-sure, div#confirm-delete div#gallery-description p { margin-top: 15px; line-height: 15px }
p.are-you-sure span { color: #000 }
form#confirm { margin-bottom: 15px; text-align: center }
div#gallery-deleted { background-color: #FFDFDF; padding: .4em .6em; margin-bottom: 10px }
div#gallery-deleted p { margin: 0; text-indent: 0 }
div#gallery-deleted p span { font-weight: bold }

/* Image Detail */
h1 { margin-bottom: 10px }
div#image-content { text-align: center }

div#image-navigator { margin: 10px 0 }
div#image-navigator a { background: none repeat scroll 0 0 #aaaaaa; color: #FFFFFF; cursor: pointer; margin-right: 5px; padding: 3px 20px; text-align: center; text-decoration: none; }
div#image-navigator a:hover { background: #DD0F16}
div#image-navigator .empty-button-l{width:88px;height:21px;margin-right:5px;float:left;}
div#image-navigator .empty-button-r{width:65px;height:21px;margin-right:5px;float:right;}
div#image-holder { position: relative }
div#image-holder img { z-index: 11;}
div#image-holder p { text-align: center; font-style: italic; font-size: 11px }
span#image-zoom { position: absolute; top: 10px; left: 0; display: block; background-color: #F5F5F5; border: 1px solid #DDD; cursor: pointer; text-indent: 0; width: 40px; height: 30px }