/* General */

/* authenticated user */
div#inbox-feed { background-color: #F8f8f8; font-size: 11px; padding: 1px }
div#inbox-feed p { margin: 0; text-indent: 7px }
div#inbox-feed table { line-height: 1.5em; margin: 0 8px;color:#666666;text-transform:uppercase}
div#inbox-feed table th { font-weight: bold; text-align: center; border-bottom: 1px #CFCFCF solid; margin-bottom: 3px }
div#inbox-feed table td { border-bottom: 1px solid #DDD }
div#inbox-feed table td { border-bottom: 0 }
div#inbox-feed td.messages-sender { width: 170px; padding-right: 5px }
div#inbox-feed td.messages-title { width: 300px }
div#inbox-feed td.messages-date { width: 95px }

div#user-feed, div#news-feed, div#vertical-media-feed { float: left; margin-top: 10px }

/* User feed */
div#user-feed div#overview { width: 585px; float: left;padding-bottom: 6px; }
div#user-feed div#meter { float: right; padding-left: 13px; width: 282px;display:none}

div#contacts li, div#meter li { clear: both; border-bottom: 1px solid #DDD; padding: 5px 0; margin: 5px 0 }
div#contacts li { padding: 5px }
div#contacts li.empty { margin: 10px; background-color: #F0F0F0; padding: 40px 0; font-size: 14px;height:60px; -moz-border-radius:5px; -webkit-border-radius:5px;}

div#contacts li img { display: block; float: left; padding-right: 10px }
div#contacts li a { display: block; float: left; margin-top: 2px }
div#contacts li.empty a { display: inline; float: none; margin: 0 }
div#contacts li p.all-contacts { text-align: center; text-indent: 0 }

div#meter div.meter-name-description { width: 190px; float: left; padding: 5px 0 0 }
div#meter span.meter-name { font-size: 16px; font-weight: bold; display: block; margin: 0 }
div#meter span.meter-description { font-size: 11px }
div#meter div.meter-value {background: -webkit-gradient(linear, center top, center bottom, from(#F4F4F4), to(#E4E4E4)); background: -moz-linear-gradient(center top , #F4F4F4, #E4E4E4) repeat scroll 0 0 transparent;   border: 1px solid #D3D3D3; -webkit-border-radius:5px; -moz-border-radius:5px;   float: right;   font-size: 36px;   padding: 18px 5px;   text-align: center;   width: 78px;}
div#meter div.meter-value span { display: table-cell; vertical-align: middle; width: 100%; background-color: #F00; text-align: center }

/* non authenticated user */
div#welcome-to-adcake {width:580px;height:267px;color: #999; background: #EEE; text-align: center }

div#news-feed { width: 283px; clear: both }
div#news-feed ul { margin-top: 10px }
div#news-feed ul h2 { border: 0 }
div#news-feed li.main-news div.subtitle { color: #888; font-style: italic; text-indent: 1em }
div#news-feed li.main-news img { float: left; margin: 5px 10px 5px 5px }
div#news-feed li.main-news p { margin-top: 4px }
div#news-feed li.main-news div.news-info span { display: block }
div#news-feed li.main-news div.news-info span.pubdate { float: left; text-decoration: underline }
div#news-feed li.main-news div.news-info span.more { float: right }
div#news-feed li.main-news div.news-info { background-color: #EEE; font-size: 11px; padding: 1px 5px; clear: both; margin-bottom: 10px }
div#news-feed li.mini-news { border-bottom: 1px solid #BBB; padding: 5px 5px 0 }
div#news-feed li.mini-news div { text-align: right; font-size: 11px }

li.empty { margin: 10px; border-top: 1px solid #DDD; background-color: #F0F0F0; padding: 10px; font-size: 14px;height:60px }
li.empty p { margin: 17px auto 0 auto; font-size:12px}
li.empty:hover { background-color: #F0F0F0!important }
.upstream-empty { border-top: 1px solid #DDD; background-color: #F0F0F0;padding:10px; list-style:none;margin:10px 0 0 0;}
.upstream-empty p {text-align:center;margin-top:10px}

#ads { margin-left:10px; }


/*====================== NOOBSLIDER ===========================*/

.mask1{
	position:relative;
	width:580px;
	height:1425px;
	/*height:875px;*/
	overflow:hidden;
}
#box8{
	position:absolute;
}
#box8 #horizontal-media-feed{
	width:580px;
	float:left;
}
#box8 .buttons{
	text-align:left;
    text-indent:0;
    height:12px;
    margin:6px 0 6px 0;
}
#box8 .next{
    font-weight:bold;
    padding-right:23px;
    background:url('../images/icons/ns/next.png') no-repeat;
    background-position:30px 0px;
    cursor:pointer;
    height:11px;
    line-height:11px;
	float:right;
}
#box8 .next:hover{
    background-position:30px -11px;
}

#box8 .prev{
    font-weight:bold;
    padding-left:23px;
    background:url('../images/icons/ns/previous.png') no-repeat;
    background-position:0px 0px;
    cursor:pointer;
    height:11px;
    line-height:11px;
	float:left;
}
#box8 .prev:hover{
    background-position:0px -11px;
}
#handles8 {background:white;display:block;height:22px;width:312px;text-indent:0;margin-left:0; margin-top:5px}
#handles8 span{cursor:pointer;background:#ebebeb;width:100px;height:22px;line-height:22px;text-indent:0;text-align:center;display:block;float:left;}
#handles8 span.random{ -moz-border-radius-bottomleft:2px; -moz-border-radius-topleft:2px; -webkit-border-top-left-radius: 2px; -webkit-border-bottom-left-radius: 2px;margin-right:3px;}
#handles8 span.latest{ -moz-border-radius-bottomright:2px; -moz-border-radius-bottomright:2px; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 2px;margin-left:3px}
#handles8 span.active { background: none repeat scroll 0 0 #9F9F9F;   color: #FFFFFF;   font-size: 12px; font-weight:bold}


/*================= Twitter =========================== */
.twtr-tweet-text p {text-indent:0}

/*=============== PENDING ROLES ================== */
#prd{margin-top:10px}
#prd p {margin-bottom: 4px;}
#prd table#pending-roles-t{width:580px;border-spacing: 0 2px;}
#prd table#pending-roles-t tr{background: #f6f6f6; -webkit-border-radius:3px;-moz-border-radius:3px;}
#prd table#pending-roles-t tr td:first-child {    -moz-border-radius-topleft: 3px;    -moz-border-radius-bottomleft: 3px;    -webkit-border-top-left-radius: 3px;    -webkit-border-bottom-left-radius: 3px;}
#prd table#pending-roles-t tr td:last-child {    -moz-border-radius-topright: 3px;    -moz-border-radius-bottomright: 3px;    -webkit-border-top-right-radius: 3px;    -webkit-border-bottom-right-radius: 3px;}
#prd table#pending-roles-t td{vertical-align: middle;text-align: left;}
#prd table#pending-roles-t td.thumb{width:50px;text-align:center}
#prd table#pending-roles-t td.thumb img{padding:4px 4px 4px 10px}
#prd table#pending-roles-t td.author{padding-left:20px;width:350px;color:#666666}
#prd table#pending-roles-t .pending-role-e{color:#06ACD5;cursor:pointer;font-weight:bold}
#prd table#pending-roles-t .pending-role-e:hover{color:#06C1F0;}