p.invited {margin-top:35px;padding:40px;text-align:justify;border-style:solid;border-width:1px;border-color:#c2c2c2;border-radius:5px;-moz-border-radius:5px; }
.remainings{ padding:20px 0 30px 30px }
b.remaining-invitations{ color:#e80000 }