div#job-list a{overflow: hidden;display: block;text-decoration: none;}
div.job-element{padding: 3px; margin:5px 0;float:left; background-color: #F8F8F8;height:85px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-right-radius:12px}
div.job-avatar{float:left;margin:7px 3px;padding:5px;vertical-align:middle;-moz-box-shadow:0 0 5px #aaaaaa;-webkit-box-shadow:0 0 5px #aaaaaa;box-shadow:0 0 5px #aaaaaa;}
div.job-element .job-list-description-name{margin-top:3px;padding:4px 9px; text-transform:uppercase; float:left;font-size:14px;width:470px;color:#06ACD5;font-weight:bold;}
div.job-element .job-list-description-title{padding:2px 9px; text-transform:uppercase; float:left;font-size:13px;width:470px;color:#666666;font-weight:bold;}
div.job-element .job-list-description-name-category{float:left;font-size:11px;width:480px;color:#666666;padding:3px 9px}
div.job-element .job-list-description-detail{float:left;font-size:13px;color:#666666;padding:3px 9px}
div.job-element .job-list-description-detail-country{float:right;font-size:12px;font-weight:bold;margin-right:15px;color:#666666;padding:3px}

div.job-element2{padding: 3px; margin:0 0;float:left; background-color: #F8F8F8;height:85px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-right-radius:12px}
div.job-element2 .job-list-description-name{margin-top:3px;padding:4px 9px; text-transform:uppercase; float:left;font-size:14px;width:470px;color:#06ACD5;font-weight:bold;}
div.job-element2 .job-list-description-title{padding:2px 9px; text-transform:uppercase; float:left;font-size:13px;width:470px;color:#666666;font-weight:bold;}
div.job-element2 .job-list-description-name-category{float:left;font-size:11px;width:480px;color:#666666;padding:3px 9px}
div.job-element2 .job-list-description-detail{float:left;font-size:13px;color:#666666;padding:3px 9px}
div.job-element2 .job-list-description-detail-country{float:right;font-size:12px;font-weight:bold;margin-right:15px;color:#666666;padding:3px}

div.no-company {clear: both; width: 560px; background: #f8f8f8; margin: 10px auto 25px auto; padding: 0 0 3px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-right-radius:12px;color:#666666; text-align:center;height:150px}
div.no-company .no-company-oops {padding-top:40px;line-height:20px;font-size:15px}

div.no-jobs {clear: both; width: 560px; background: #f8f8f8; margin: 10px auto 25px auto; padding: 0 0 3px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-right-radius:12px;color:#666666; text-align:center;height:150px}
div.no-jobs .no-jobs-text {padding-top:60px;line-height:20px;font-size:15px}

ul.job-list li { padding: 0.4em; margin: .6em 0; background-color: #F8F8F8;}
ul.job .info {font-size:11px;line-height:1.4em;float:left;height:50px;margin:0 0 0 8px;padding-top:0px;text-align:left;}
ul.job-list a{text-decoration:none }
ul.job-list .title-info{color:#000;display:inline}
ul.job-list li span.job-title { font-size: 1.5em; display: block; margin: 0 0 .5em; color: #06ACD5 }
ul.job-list li span { display: block; right: 0; margin: .3em 0 }

p.job-description { text-indent: 0; font-style: italic; font-size: 12px; margin: auto 1.5em 5px }
/* Companies Section */
ul#jobs li { cursor: pointer }

/* Categories Section */
div.category-jobs { margin-top: .3em; text-align: right; }

ul.category-job-list { background: #F2F2F2; border: 1px solid #E6E6E6; text-align: left; overflow: auto; max-height: 180px }
ul.category-job-list li { margin: 0; padding: 0.5em; background: none; border-bottom: 1px solid #E6E6E6 }
ul.category-job-list li.last { border-bottom: 0 }

span.view-jobs { letter-spacing: .06em; color: #999; font-weight: bold; font-size: 11px; padding: 0.3em 0.9em; cursor: pointer; display: inline !important; }
span.view-jobs:hover, span.viewer-selected { color: #dd0f16; text-decoration: underline; }
span.viewer-selected { background: #F0F0F0; border: 1px solid #E6E6E6; border: 1px 1px 0 }

/* Job Detail Section */
h2#job-name { text-decoration: underline; margin: 0 0 .3em }
img#job-logo, div#contact-information { float: left; margin-bottom: 1em }
img#job-logo { margin-right: 10px }

div#contact-information p, p#company-members { text-indent: 0 }

span#company-category { margin: 0 0 .5em; display: block; font-style: italic; color: #666 }

ul#company-clients, ul#company-achievements { margin-bottom: 1em }
ul#company-clients li { list-style: disc; margin-left: 22px }

span#admin-company { position: absolute; left: 344px }

p.are-you-sure { margin-top: 15px; line-height: 15px }
p.are-you-sure span { color: #000 }
form#confirm { margin-bottom: 15px; text-align: center }


.cleanblock{ clear:both }
.followersblock{ float:right;width:110px;margin:14px 5px 0 0;}
.followersblock .followersnumber{font-size:30px;text-align:center;font-weight:bold;}
.followersblock .followerstitle{ font-size:11px;text-align:center;}
.job-list .quote { width:250px;float:right;font-style:italic;font-size:12px;margin:10px 0 0 0 }


/* jOB DETAILS */
.company-image-block{float:left;width:100px;height:100px}
.company-image{margin:auto;display:block;-moz-box-shadow:0px 0px 5px #aaaaaa;-webkit-box-shadow:0px 0px 5px #aaaaaa;box-shadow:0px 0px 5px #aaaaaa;}
.company-name{float:left;font-weight:bold;font-size:16px;text-decoration:none}
.job-title{clear:both;color:#999;}
ul.categories{ font-size:12px }
ul.categories li{float:left;margin:5px 10px;}
div.comp-desc{font-size:11px;text-align:justify;color:#999;margin:5px 0px 5px;line-height:1.6em;float:left;width:580px}
div.comp-desc .title-description-employer{font-size:13px;color:#666666;float:left;height:25px;margin-left:5px}
div.comp-desc .title-description-job{font-size:14px;color:#666666;float:left;width:425px;font-weight:bold;text-transform: uppercase;height:25px; margin-left:10px}
div.comp-desc .title-description-company{font-size:14px;float:left;width:400px;font-weight:bold;height:25px; margin-left:10px}
div.comp-desc .job-description-title{font-size:13px;color:#666666;float:left;height:25px;margin-left:5px}
div.comp-desc .job-description-content{font-size:13px;float:left;width:255px;height:25px; margin-left:5px}
div.comp-desc .job-description-category{font-size:13px;float:left;width:400px;height:25px; margin-left:5px}
div.comp-desc .title-description-expires-date{font-size:13px;float:left;width:100px;height:25px; margin-left:5px}

div#job-information { clear: both; width: 560px; background: #f8f8f8; margin: 10px auto 25px auto; padding: 0 0 3px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-right-radius:12px}
div#job-information .job-location-title{font-size:13px;float:left;font-weight:bold;height:30px; margin-left:5px}
div#job-information .job-location-description{font-size:13px;float:left;font-weight:bold;height:30px; margin-left:5px}
div#job-information .description-title {font-size:16px;width: 520px; margin:0px 0px 0px 20px; padding: 15px 0 3px;color:#666666; font-weight:bold}
div#job-information .description-paragraph {width: 520px; margin: 10px auto 20px auto; padding:0px 0 3px;text-align:justify;color:#666666;line-height:15px}
div#job-information h3 {padding:15px; font-weight:bold}
div#job-information p { text-indent: 0; margin: 0 20px 5px;text-align:justify }
div.job-info-header { background: url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x; height: 20px; padding: 1px 0 }
h3.job-info-title { float: left; background-color: #FFF; padding-right: 10px ;font-weight:bold}
.job-requirements{color:#555;line-height:1.5em;text-align:justify;padding:5px 20px 20px 20px;text-indent:0px}
.job-requirements p{text-indent:0}
.general-info{margin:16px 0 16px 20px;display:block;color:#555;}
.contact-job-info{margin:10px 20px 20px 20px}


div.add-job {background-color: #AAAAAA; color: white; display: block; float: right; font-size: 12px; height: 20px; line-height: 20px; margin-left: 6px; margin-top: 10px; padding: 0 15px; text-decoration: none; border:0;cursor: pointer}


span.apply-job{display:block;clear:both}
span#apply-job{background:#1BE022;color: #FFFFFF;cursor: pointer;float: right;font-weight: bold;height: 20px;line-height: 20px;margin: 10px;padding: 0 20px;}
span#apply-job:hover{background:#DD0F16;color: #FFFFFF}
span#applied{background: none repeat scroll 0 0 #F8F8F8;color: #1BE022;font-size: 14px;font-weight: bold;height: 35px;line-height: 35px;margin: 0 10px;text-align: center;}