
div#messages-header { background-color: #ffffff; border: 0px solid #D0D0D0 }
div#messages-header a#compose { display: block; float: right; padding: 0 15px; height: 20px; line-height: 20px}
div#messages-header ul { float: left; margin-left: .25em }
div#messages-header p { clear: both; text-indent: 0; margin: 0 0 3px .5em; padding-top: 3px }

div#messages-header ul li { float: left; margin-right: 5px }
div#messages-header ul li a, a#compose { display: block; background-color: #AAA; padding: 0 15px; color: #FFF; text-decoration:none; height: 20px; line-height: 20px}
div#messages-header ul li a:hover, a#compose:hover { background-color: #DD0F16 }

table.messages { width: 100%; margin-top: .5em; }
table.messages tr { background-color: #Fcfcfc }
table.messages tr.even { background-color: #F8f8f8 }
table.messages tr:hover { background-color: #EFEFEF }
table.messages tr.new { background-color: #d2f3fc!important }
table.messages tr.selected { background-color: #FFEDB6!important; border-color: #76DBF5!important }

table.messages td { height: 50px; padding: 7px 0; }
table.messages td.message-select { width: 14px; padding-left: 6px; vertical-align:middle; width:14px;}
table.messages td.message-icons { padding: 0 2px 0 6px; vertical-align:middle; width:20px;/* background-color: #FF0*/ }
/*table.messages tr.new td.message-icons { background-color: #F00!important }*/
table.messages td.message-sender { text-align: center; vertical-align:middle; width:60px;}
table.messages td.message-sender img { margin-bottom: 5px }

table.messages td.message-subject-body { padding-left: 10px; width: 320px; width:320px;}
table.messages td.message-date { color: #666; font-size: 11px; text-decoration: underline; width:50px;}
span.user-sender {color:#666666; width:320px; font-weight:bold;margin-bottom: 5px;display:block}
span.message-subject { margin-bottom: 4px; font-size: 14px }
table.messages tr.new span.message-subject { font-weight: bold }
span.message-body a { font-size: 11px; text-decoration: none; color: #999 }

a.message-delete { background: url('../images/icons/cross.png') top center no-repeat; display: block; text-indent: -999em; width: 15px; height: 15px; margin: 0 }

table.messages span.message-subject, table.messages span.message-body { display: block }

div.message-buttons-actions a {background-color: #AAAAAA; color: white; display: block; float: right; font-size: 12px; height: 20px; line-height: 20px; margin-left: 6px; margin-top: 10px; padding: 0 15px; margin-bottom:20px; text-decoration: none;}
div.message-buttons-actions a:hover {background-color: #dd0f16}

span.sender{color:#880806;font-weight:bold;font-size:1.2em;}
span.receiver{color:#547}
span.date{float:right;}
h1.header{margin-bottom:10px;background:url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x;}
h1.header span{background-color:#FFF;padding-right:5px;}
div.message-body{margin-top:5px;border:solid 1px #ddd;padding:20px; -moz-border-radius:5px;-webkit-border-radius:5px; background:#ffffff; font-size:12px;}
div.message-body p{text-indent:0}
div.message-from-date{background:#ffffff; padding-bottom:20px}




