div.news-item { margin-top: .7em; clear: both }
div.article-header {padding-top:5px}
div.article-header h1 { font-family: Arial, Helvetica, sans-serif; font-size: 24px; width: 92%; color: #06ACD5 }
div.article-header span.subtitle { clear: both; margin-left: .7em; color: #888; font-style: italic; text-indent: .7em }
div.article-header span.date { float: right; clear: right; margin-right: 8px; text-align: center; color: #999}
div.article-header span.date:first-line {font-size: 22px; font-weight:bold;color:#DD0F16 }
div.article-summary img { float: left; margin-right: 10px }
div.article-summary p { margin-bottom: .3em }

div.buttons-container {display:none; width: 100%; margin-top: -15px; padding-bottom: 20px }
div.buttons-container span { display: block; width: 100px; padding: .6em 0 }
div.buttons-container span.previous { float: left }
div.buttons-container span.next { float: right; text-align: right }

p.announcement { font-style: italic; margin-top: 1em; clear: both }

div.article-detail-summary { margin: 0 0 5px 1em; float: right; clear: right; width: 50%; background-color: #EFEFEF; border: 1px #DDD solid; padding: .8em .6em 0}
div.article-detail-summary p { vertical-align: middle; color: #999; margin-bottom: 0 }
div.article-detail-summary img { float: right!important; margin: 0 0 0 10px!important }
span.article-details { display: block; margin-bottom: .7em; line-height: 1.5em }
div.article-content div.image-container { float: right; clear: right; background-color: #333; color: #EFEFEF; padding: .7em; margin: 5px 0 5px 10px }
div.article-content div.image-container img { display: block; margin-bottom: 5px }
span.article-tags { display: block; margin-top: .7em }

div.spot-image-news{ float: left;width: 561px;}
div.article-summary-spotlight{background: none repeat scroll 0 0 #F5F5F5;border-radius: 0 0 5px 5px;float: left;margin-bottom: 25px;padding: 15px 15px;width: 531px;}
div.article-header .title {text-decoration:none;float:left;width:400px}
div.article-header .title h3{line-height:24px}
div.article-header .date {  background: url("../images/awarded.png") no-repeat scroll right center transparent;float: right;height: 44px;width: 120px;}
div.article-header .date2 {   float: right;padding: 5px 5px 0 0;text-align: center}
div.article-header .date2 span.day-date{font-size:22px;color:#DD0F16;font-weight:bold}
div.article-header .date2 span.month-date{font-size:13px;color:#666666; text-transform:uppercase;}