div#owner-content{overflow:hidden}
div#owner-content.edit { float: left; width: 275px; }

div.owner-image { float: left; margin-right: 10px;margin-top:10px }
/*div.owner-image span.edit-image {}*/
div.owner-information { line-height: 1.7em;margin-top:10px }
div#owner-content.edit div.owner-information { padding-top: 2px }
div.owner-information div.profile-overview .profile-box {width:50px; height:50px; -moz-border-radius:8px; -webkit-border-radius: 8px; -webkit-border-radius: 8px; margin-right:12px;background:#c0f3ff;float:left}h1.owner-name { font-size: 24px; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0;word-spacing: 0; }
div.profile-overview .profile-box .number, div.profile-overview .profile-box .name{text-align:center}
div.profile-overview .profile-box .number{font-size:26px;font-weight:bold;margin:8px 0 0-3px;color:#555}
div.profile-overview .profile-box .name{font-size:9px;color:#555;margin-top: -3px;}
div#owner-content.edit h1.owner-name { display: block }
h1.owner-name{float:left}
div.owner-other-stuff, span.edit-stuff {padding: 4px 0; color: #AAA; font-size: 12px }

div#portfolio-information {background:#f7f7f7; clear:both; margin: 0;moz-border-radius:8px; -webkit-border-radius: 8px; -webkit-border-radius: 8px;border:#e0e0e0 2px solid; width:560px;margin-top: 20px; }
div#portfolio-information h3 {padding: 7px; }
div#portfolio-information p { text-indent: 0; margin: 0 20px 5px;text-align: center;padding: 15px; }
div#portfolio-information textarea {width:531px; height: 25px; margin: 2px 0 10px 0; color: #888;min-height:25px;max-height:25px;min-width:531px;max-width:531px;border:#e0e0e0 2px solid;text-align:center;padding:15px 10px }-
div#portfolio-information textarea:focus { color: #000; border-color:#888888 }
div#portfolio-information input {position: relative;float: right;margin-bottom: 10px;}
div#portfolio-information.edit {background:#f7f7f7; clear:both; margin: 0; padding: 0px 10px 0;moz-border-radius:8px; -webkit-border-radius: 8px; -webkit-border-radius: 8px;border:#e0e0e0 2px solid; width:556px;margin-top: 20px; }
div#portfolio-information.edit span { font-weight: bold; color: #444;display:block;margin: 4px 0 4px 0; }
div#portfolio-information.edit span.loading { font-size: 11px; margin-left: -40px }

div#portfolio { clear: both; padding-top: 10px; }

div#portfolio h2 { margin-bottom: 10px }

ul#media-branches li { margin-bottom: 10px;}
ul#media-branches li div.media-header { background: url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x; height: 20px; padding: 1px 0 }
ul#media-branches li h3.media-title { float: left; background-color: #FFF; cursor: pointer; padding:0 10px 0 0;margin:0 }
ul#media-branches li span.sortable-handler { background: #FFF url("../images/move-button.png") -30px -3px no-repeat; display: block; height: 20px; width: 21px; cursor: move; float: right; }
ul#media-branches li span.sortable-handler:hover { background-position: 3px -29px; width: 54px }
ul#media-branches li strong { font-weight: bold }
ul#video-list, ul#audio-list, ul#gallery-list{overflow:hidden}
ul#video-list li, ul#audio-list li, ul#gallery-list li { padding: 4px; }
ul#media-branches li div.hide { display: none }

iframe.hidden-frame { display: none; visibility: hidden; width: 0; height: 0 }

/*  Gallery and Video List  */
table.media-with-thumbs { width: 100%; border: 1px solid #CCC; background-color: #F1F1F1 }
table.media-with-thumbs.odd { background-color: #F7F7F7 }
table.gallery-images{margin-bottom:10px;}
div#portfolio table.media-with-thumbs thead { cursor: default }
div#portfolio.edit table.media-with-thumbs thead { cursor: move }
table.media-with-thumbs td { text-align: center; vertical-align: middle; padding: 5px }
table.media-with-thumbs td img { border: #999 1px solid; padding: 2px }
table.media-with-thumbs td a { color: #555; font-size: 10px; text-decoration: none }
table.media-with-thumbs td a:hover { text-decoration: underline; color: #000 }
table.media-with-thumbs thead { background-color: #E4E4E4; border-bottom: #CCC 1px solid }
table.media-with-thumbs thead th { padding: 3px 0 0 15px; border-bottom: #CCC 1px solid }
table.media-with-thumbs thead th.delete-table { text-align: right; padding-right: 10px; font-size: 11px; }

span.media-name { font-size: 15px; margin-bottom: 5px; display: block }


/* Search and Add work */
a.search-and-add, a.add-item { padding: 5px }
a.clicked { background-color: #F1F1F1; padding: 4px; border: 1px #E0E0E0 solid; border-width: 1px 1px 0 }

div.search-and-add-list { clear: both; border: 1px #E0E0E0 solid; background-color: #F1F1F1; padding: .75em }
ul.search-list { float: left; height: 200px; width: 245px; margin-right: 10px; border: 2px #DD0F16 solid; background-color: #FFF; overflow-y: scroll }
ul.search-list li { padding: 4px; margin: 1px!important; border-bottom: 1px solid #E9E9E9 }
ul.search-list li.selected { background-color: #06bae7; }
ul.search-list li.selected a { color: #FFF }
ul.search-list li.empty { margin: 70px 0 0!important; padding: 5px; background-color: #F8F8F8; border: 1px #E8E8E8 solid; border-width: 1px 0; text-align: center }
ul.search-list li input { margin-top: 3px }

div.add-selected { float: right; background-color: #FBFBFB; width: 286px; height: 188px; padding: 6px; border: 1px #E9E9E9 solid }
span.select-counter { font-weight: bold }
div.add-selected ul { height: 140px; margin: 2px 13px 8px }

div.add-selected ul { overflow: auto }
div.add-selected ul li { margin-bottom: 0!important; padding: 0 }

div.search-and-add-list div.loading { background-color: #000; width: 100%; height: 100%; position: relative; top: 15px; z-index: 4 }
span.view-all-branch { width: 100%; display: block; text-align: right; }
li.empty-branch { text-align:center;margin:0;clear:both; }
li.comming-soon { text-align:center;color:#c1c1c1 }
.flag{float:left;margin-left:3px;}