div#recently-activated { margin-bottom: 15px }
div#owner-image { float: left; width: 96px; padding: 0 2px }
div#follow-summary { float: right; width: 468px; padding: 2px 5px; line-height: 1.7em; margin-bottom: 10px }

#edit-image { display: block; margin-top: 5px }

div#company-ad { clear: both; background-color: #FFFFFF; border: 0px solid #E0E0E0; margin: 15px 0}
div#company-ad p { margin: 0; display:none; }
div#company-ad span.img { width: 16px; height: 16px; background-color: #0FF }

h1.owner-name { font-size: 17px; font-family: "Trade Gothic W01 Cn 18","Helvetica Neue",Helvetica,Arial,sans-serif; letter-spacing: 0;  word-spacing: 0;margin-bottom:4px;text-transform:uppercase;}
div.owner-other-stuff, span.edit-stuff { color: #AAA; font-size: 11px }

div#following, div#followers { width: 49%; height: 80px; margin-top: 5px; border-bottom: 5px solid #D9D9D9 }
div#following h3, div#followers h3 { letter-spacing: 0.05em; font-size: 16px }
div#following span.unavailable, div#followers span.unavailable { display: block; margin: 10px 0 8px }
div#following { float: left }
div#followers { float: right }

div#following ul, div#followers ul { margin-top: 10px; padding: 0 15px }
div#following ul li, div#followers ul li { float: left; margin: 0 4px }
span.fow-view-all { display: block; text-align: right; clear: both }

ul#profile-tabs { margin-left: 0px }
ul#profile-tabs li { float: left; margin-bottom: 0px; font-size: 12px }
ul#profile-tabs li a { display: block; background-color: #666666; position: relative; padding: 2px 20px; color:white; text-align:center; text-decoration:none; }
ul#profile-tabs li a:hover { background-color:#d4000b; }
ul#profile-tabs li.selected  { background-color: #F0F0F0; }
ul#profile-tabs li.selected a { background-color: #F0F0F0; position: relative; color:#d4000b; font-weight:bold;}
ul#profile-tabs li.selected a:hover { background-color: #d4000b; color:#ffffff; }

div#form-holder { background-color: #F0F0F0; padding: 10px; clear: both; height: auto }
div#form-holder.loading { background: #F0F0F0 url('../images/icons/ajax-loader-bar.gif') center center no-repeat; height: 100px }

div#profile-display div.profile-sec-header { background: url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x; clear: both; height: 20px; padding: 1px 0 }
div#profile-display div.profile-sec-header h3 { float: left; background-color: #FFF; padding-right: 10px }

table.profile-info { width: 100%; padding: 10px 20px; margin-bottom: 15px }
table.profile-info td { padding: 10px 8px 10px 26px }
table.profile-info td.left { width: 125px; background-color: #F7F7F7; font-weight: bold; padding-left: 8px }
span.unavailable { font-size: 11px; color: #999; font-style: italic }

div#add-new-company { text-align: center; font-weight: bold; border-bottom 1px solid #CCC; padding-bottom: 5px; margin-bottom: 7px }
ul#user-companies { width: 100%; height: 400px; overflow: auto }
ul#user-companies li { padding: 7px 0; border-bottom: 1px solid #DDD; margin-right: 5px }
ul#user-companies span { display: block }
ul#user-companies .company-name { float: left }
ul#user-companies .company-edit { float: right }
div.resume-categories{padding:10px 25px;line-height: 24px;text-align: justify;}
div#profile-display{margin-top:15px;}
