.remove { float: right; position: relative; top: -20px; left: 17px; background: #FFF url("../images/icons/cross-mini.png") center no-repeat; width:16px; height:16px; text-indent: -999em; cursor: pointer }
div#add-search { text-align: center; margin-bottom: 10px }
div#add-search span { background: url("../images/icons/add.png") top left no-repeat; padding: 1px 0 0 20px }
form.adcake-uni-form fieldset { margin-bottom: 10px }

/* Search list */
ul#resume-list li.resume-match-container { padding: 15px 0; border-bottom: 1px solid #D0D0D0 }
ul#resume-list li.last { border: 0 }
div.resume-global { float: left; width: 320px; margin-top: 20px }
div.resume-image { float: left; margin-right: 10px }
div.resume-information { margin-top: 10px }
div.resume-other-stuff { clear: both; font-size: 11px; padding-top: 10px }

div.resume-matches { float: right; background-color: #EEE; border: 1px solid #D9D9D9; width: 240px; padding: 8px }
div.resume-matches h3 { margin-bottom: 4px; padding-bottom: 4px; border-bottom: 1px solid #D9D9D9 }
div.resume-matches ul { height: 100px; overflow: auto; height: 100px }
div.resume-matches ul li { padding: 2px 0; font-size: 11px }
div.resume-matches ul li b { color: #000 }
div.resume-matches ul li span.match-title { font-weight: bold; color: #444 }
div.resume-matches ul li span.match-comment { font-style: italic }

div.resume-detail { clear: both }