ul.professional-list li {  margin:5px 0px;float:left; background-color: #F8F8F8;height:90px;width:580px;-moz-border-radius-bottomright:25px;-webkit-border-bottom-right-radius:12px}
ul.professional-list .info {font-size:11px;line-height:1.4em;float:left;height:80px;margin:3px 0 0 8px;padding-top:0px;text-align:left;width:280px}
ul.professional-list a{text-decoration:none;font-weight:bold; font-size:13px }
ul.professional-list .title-info{color:#000;display:inline}
ul.professional-list li span.professional-title { font-size: 1.5em; display: block; margin: 0 0 .5em; color: #06ACD5 }
ul.professional-list li span { display: block; right: 0; margin: .3em 0 }

p.professional-description { text-indent: 0; font-style: italic; font-size: 12px; margin: auto 1.5em 5px }
/* Companies Section */
/*ul#professionals li { cursor: pointer } */

/* Categories Section */
div.category-professionals { margin-top: .3em; text-align: right; }

ul.category-professional-list { background: #F2F2F2; border: 1px solid #E6E6E6; text-align: left; overflow: auto; max-height: 180px }
ul.category-professional-list li { margin: 0; padding: 0.5em; background: none; border-bottom: 1px solid #E6E6E6 }
ul.category-professional-list li.last { border-bottom: 0 }

span.view-professionals { letter-spacing: .06em; color: #999; font-weight: bold; font-size: 11px; padding: 0.3em 0.9em; cursor: pointer; display: inline !important; }
span.view-professionals:hover, span.viewer-selected { color: #dd0f16; text-decoration: underline; }
span.viewer-selected { background: #F0F0F0; border: 1px solid #E6E6E6; border: 1px 1px 0 }

/* Company Detail Section */
h2#professional-name { text-decoration: underline; margin: 0 0 .3em }
img#professional-logo, div#contact-information { float: left; margin-bottom: 1em }
img#professional-logo { margin-right: 10px }

div#contact-information p, p#company-members { text-indent: 0 }

span#company-category { margin: 0 0 .5em; display: block; font-style: italic; color: #666 }

ul#company-clients, ul#company-achievements { margin-bottom: 1em }
ul#company-clients li { list-style: disc; margin-left: 22px }

span#admin-company { position: absolute; left: 344px }

p.are-you-sure { margin-top: 15px; line-height: 15px }
p.are-you-sure span { color: #000 }
form#confirm { margin-bottom: 15px; text-align: center }

.cleanblock{ clear:both }
.followersblock{ float:right;width:90px;margin:27px 5px 0 0;color:#666666}
.followersblock .followersnumber{font-size:40px;text-align:center;font-weight:bold;text-shadow:1px 0 3px #a8a8a8}
.followersblock .followerstitle{ font-size:12px;text-align:center;padding-top:8px}
.professional-list .quote { width:250px;float:right;font-style:italic;font-size:12px;margin: 14px 4px 0 0;text-align:center}