pre{
	overflow-y:auto;
}
pre.example{
	padding:5px;
	background:#FFA;
	margin:10px 0;
	border:2px solid #FF0;
}
pre.example:hover{
	background:#FF5;
	cursor:pointer;
}
pre.example:active{
	background:#FFF;
}
#container{
	padding:20px;
	background:#FFF;
	width: 600px;
	margin: 20px auto;
}
.section{
	padding: 20px;
	border:1px solid #CCC;
	margin-bottom:20px;
}
.purr-wrapper{
	margin:10px;
}
.purr-alert{
	margin-bottom:10px;
	padding:10px;
	background:#000;
	font-size:13px;
	font-weight:bold;
	color:#FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0 0 10px rgba(255,255,0,.25);
	width:300px;
}
.purr-alert button{
	font-size:10px;
	margin:0 5px;
}
.purr-alert.error{
	color:#F55;
	padding-left:30px;
	background:url(../images/purr/error.png) no-repeat #000 7px 10px;
	width:280px;
}
.purr-alert.success{
	color:#5F5;
	padding-left:30px;
	background:url(../images/purr/success.png) no-repeat #000 7px 10px;
	width:280px;
}
.purr-alert.notice{
	color:#99F;
	padding-left:30px;
	background:url(../images/purr/notice.png) no-repeat #000 7px 10px;
	width:280px;
}

.purr-element-alert{
	width:200px;
}

.purr-button-wrapper{
	text-align:center;
}

#test-element{
	position:absolute;
	left:10px;
	top:200px;
	left:200px;
	padding:10px;
	cursor:pointer;
	background:#0F0;
}