.rabidRating .wrapper {	
	cursor: pointer;
	background: #ccc;
}

.rabidRating .wrapper {
	overflow: hidden;
}

.rabidRating span,.rabidRating .wrapper {
	display: block;
	width: 110px;
	height: 25px;
}

.rabidRating span {
	position: relative;
	top: 0;
	left: 0;
	text-indent: -999em;
}

.rabidRating .ratingStars {
	display: block;
	background: url('../images/rabidhearts.png') no-repeat center;
}

.rabidRating .ratingFill {
	background-color: #ff0000;
}

.rabidRating .ratingVoted {
	cursor: default;
	background-color: #0069ff;
}

.rabidRating .ratingActive {
	background-color: #ffa800;
}

.rabidRating .ratingText {
	color: #000;
}

.rabidRating .ratingText.ratingError {
	color: #f00;	
}

.rabidRating .ratingText.loading {
	background: url('../images/ajax-loading.gif') no-repeat;
	text-indent: -999em;
}
