div#form-holder { border: 1px solid #E0E0E0; background: #F7F7F7; padding: 10px; position: relative;border-radius:5px;-moz-border-radius:5px; }
div#form-holder fieldset { border-top: 0!important; padding: 0!important }
div#form-holder p { text-indent: 0 }
div.done h2 { font-size: 18px; border-bottom: 1px solid #000; margin-bottom: 10px; padding-bottom:4px }
div.done p.last { margin-bottom: 0 }
div#registration-loading { background-color: #FFF; position: absolute; z-index: 99; top: 0; left: 0; text-align: center; vertical-align: middle; font-size: 16px; color: #000; opacity: .9; padding-top: 30px }

div#terms-conditions { overflow: auto; height: 280px; width: 90%; margin: 0 5% }
div#terms-conditions h2, div#terms-conditions h3 { border-bottom: 1px solid #000; margin-bottom: 10px; padding-bottom: .5em }
div#terms-conditions h2 { font-size: 16px }
div#terms-conditions h3 { font-size: 13px }
div#terms-conditions p { color: #000 }
div.terms-conditions { width: 100%; text-align: center; margin: 8px 0 }