.buttons span { color: #06ACD5; cursor: pointer; text-decoration: underline }
.buttons span:hover { color: #06C1F0  }

span.value {color: #555; cursor: default; text-decoration: none}
span.value:hover {color: #555; cursor: default; text-decoration: none}

ul#resume-buttons li { float: right; margin: 0 1em }

ul#categories, ul#categories li { clear: both }
ul#categories li { margin: 1.3em 0 }

div.category-header { background: url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x; min-height: 20px; padding: 1px 0 }
div.category-header h2.category-title { float: left; background-color: #FFF; padding-right: 10px }

div.category-description, div.category-content { float: left }

div.category-description {display:block;width:560px;margin:6px 0 0 10px;}
div.category-description textarea { margin: 0 .5em;width:570px;height:150px;max-width:570px;max-height:150px}

div.category-content { float:right;margin-top:6px} 
div.category-content div.buttons-holder { background-color: #F7F7F7; border: 1px solid #E5E5E5; width: 100%; padding: .5em; text-align: right; width: 325px; margin-bottom: 7px;float:right; }

/* Subcategories */
div.subcategory-header { border-bottom: 2px solid #999 }
div.subcategory-header h3 { float: left }
div.subcategory-header span.subcategory-edit-description { font-size: 10px; float: right }
div.subcategory-buttons span { float: right; display: block; background-color: #0FF; width: 16px; height: 16px; margin: 3px; text-indent: -999em }
div.subcategory-description { margin: 0 1em; font-style: italic; font-size: 11px }
div.subcategory-description-edit { text-align: center }
div.subcategory-description-edit textarea { width: 90%;}
ul.subcategory ul { margin: 0 .7em }

/* General */
textarea.simple { margin-top: 2px; border: #AAA solid 1px; border-width: 1px 0; padding: 3px 1px; color: #888 }
textarea.simple:focus { color: #000; border-color: #000 }
span.sortable-handler { background: #FFF url("../images/move-button.png") -30px -3px no-repeat; display: block; height: 20px; width: 21px; cursor: move; float: right; }
span.sortable-handler:hover { background-position: 3px -29px; width: 54px }

div.add-resume-property-block-top { margin-bottom: 0px; z-index: 9; background: url("../images/add-cake-box-top.png") top center no-repeat; width: 358px; height: 18px; position: relative; margin: 0px 0px 0px 0px;}
div.add-resume-property-block-bottom { z-index: 9; background: url("../images/add-cake-box-bottom.png") bottom center no-repeat; width: 358px; height: 18px; position: relative; }
div.add-resume-property-block { z-index: 9; background: url("../images/add-cake-box-middle.png") top center repeat-y; width: 358px; position: relative; margin-top: 0px;}
div.add-resume-property-block >* { padding: 10px; background: none;}
div.add-resume-property-block h3 { margin: 0px 18px 0; font-size: 1.05em; letter-spacing: .05em; font-family: Arial, Helvetica, sans-serif }
div.add-resume-property-block h3 span { font-weight: bold; color: #06ACD5 }
div.add-resume-property-block form { margin: 2px 18px; border-top: 1px solid #D0D0D0; padding: none; padding-top: 3px }
div.add-resume-property-block input, div.add-resume-property-block label, div.add-resume-property-block select { display: block }
div.add-resume-property-block input, div.add-resume-property-block select, div.add-resume-property-block label { float: left }
div.add-resume-property-block label { width: 75px; text-align: right; margin-right: 5px; padding-top: 6px }
div.add-resume-property-block select { width: 241px }
div.add-resume-property-block input { width: 219px }
div.add-resume-property-block form div.switch-holder { text-align: right; clear: both }
div.add-resume-property-block form div.switch-holder span { color: #06ACD5; text-decoration: underline; cursor: pointer; font-size: 10px }
div.add-resume-property-block form div.close-new-label { width: 8px; height: 8px; float: left; clear: none; text-align: left; margin: 8px 0 0 6px }
div.add-resume-property-block form div.close-new-label span { display: block; width: 7px; height: 7px; text-indent: -9999em!important; background: url('../images/icons/mini-x.png') 0 0 no-repeat;}
div.add-resume-property-block form div.close-new-label span:hover { background-position: -7px }
div.add-resume-property-block div.input-container { clear: both; position: relative; top: 10px; bottom: 20px; text-align: right; width: 330px; margin-bottom: 10px; }
div.add-resume-property-block div.input-container input { float: right; cursor: pointer; border: 0; background: url("../images/silver-button-bg.png") 0 0 no-repeat; width: 54px; height: 22px; margin-right: 12px; font-size: 11px }
div.add-resume-property-block div.input-container input:hover { background-position: -54px }
div.add-resume-property-block div.overall { z-index: 10; background-color: #FFF; width: 328px; height: 110px; position: absolute; top: 5px; left: 15px; text-align: center; opacity: .9 }
div.add-resume-property-block  div.overall span { display: block; margin-top: 2.7em; font-size: 14px }

div.tipz { z-index: 9; background: url("../images/add-cake-box-middle.png") top center repeat-y; width: 358px; position: relative; }
div.tipz-top { z-index: 9; background: url("../images/add-cake-box-top.png") top center no-repeat; width: 358px; height: 8px; position: relative; }
div.tipz-bottom { z-index: 9; background: url("../images/add-cake-box-bottom.png") bottom center no-repeat; width: 358px; height: 18px; position: relative; }
ul.tipz { margin-left: 15px; }

/* Browse resume  */
strong { font-weight: bold }
ul.resume-list li span.resume-title { font-size: 1.5em; display: block; margin: 0 0 .5em; color: #06ACD5 }
ul#resume-list li { cursor: pointer }
/*span { display: block; right: 0; margin: .3em 0 }*/
div.resume-categories {font-family: Arial, Helvetica, sans-serif; color: #555; line-height: 1.6em; word-spacing: .1em}
