form#advanced-search-form { background-color: #F5F5F5; border: 1px solid #DDD; padding: 15px 15px 5px; margin-bottom: 15px }
form#advanced-search-form label { width: 25% }
form#advanced-search-form input[type=text] { width: 65% }
form#advanced-search-form ul.model-select { width: 68% }

ul.model-select { float: right }
ul.model-select label { font-size: 11px; font-weight: normal!important; width: 80px!important; margin: 0!important }

div.helpbox { text-align: right; margin-bottom: 5px; font-size: 11px ;height: 22px;}

/* Results */
ul#search-results li { border-bottom: 1px solid #E4E4E4; padding-bottom: 10px; margin-bottom: 10px }
ul#search-results li.last { border: 0 }
.wrapmayor{float:left}
.wraptocenter {    display: table-cell;    text-align: center;    vertical-align: middle;    width: 86px;    height: 86px;}
.wraptocenter * {    vertical-align: middle;}
.wraptocenter img {padding:2px; border:#aaa 1px solid}
/*\*//*/
.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

div.obj-info { float: left;margin-left:16px;width: 460px;}
div.obj-info h2{ margin-bottom:4px}
div.obj-info a.title {text-decoration:none}
div.obj-info span{font-weight:bold}
div#content div.obj-info h2{border-bottom:0}
div.obj-info p { text-indent: 0; margin: 0 }
