ul#skill-list li {cursor: pointer;}
ul#skill-list li {padding: 1.1em;margin: .6em 0;background-color: #F8F8F8;}
ul#skill-list li a.skill-title{font-size:18px;display: block;margin: 0 0 .5em;color: #06ACD5;text-decoration:none}
ul#skill-list li img.image-frame{margin: 3px 3px 3px 3px;background-color: white;padding: 4px;}