strong { font-weight: bold }

/* div#film-top { background:url("../images/film-top.png") top center repeat-x; height:30px; }  */
/* div#film-bottom { background:url("../images/film-bottom.png") top center repeat-x; height:30px;}  */
div#film { background-color: #000000;width:529px;height:97px} 
img.thumb { margin: 0px 0px 0px 0px; }

div.strip { margin-top: 8px; }
div.single-video-even { padding: 10px 10px 0px 10px; background-color: #F8F8F8; float: left; }
div.single-video-odd { padding: 10px 10px 0px 10px; background-color: #F8F8F8; float: left; }
div#single-video{}
div#video-container div.single-video-even, div#video-container div.single-video-odd { margin-bottom: 10px;}
div#grid div.single-video-even, div#grid div.single-video-odd { margin: 0 2px 10px; padding: 5px }

.attr { float: left; }
p.attr { color: #CCCCCC;}
b.property { color:#8F8F8F; }
td.attr { color: #8F8F8F; }
td.property { color: #CCCCCC; }

#background-image {
border-collapse:collapse;
font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
font-size:12px;
margin:20px 0;
text-align:left;
width:580px;
}

#background-image th {
color:#333399;
font-size:14px;
font-weight:normal;
padding:12px;
}

#background-image td {
border-top:1px solid #FFFFFF;
color:#666699;
padding:9px 12px;
}

#background-image tfoot td {
font-size:11px;
}0

#background-image tbody td {
background:transparent url("../images/back.png") repeat scroll 0 0;
}

* html #background-image tbody td {
background:transparent none repeat scroll 0 0;
}

#background-image tbody tr:hover td {
background:transparent none repeat scroll 0 0;
color:#333399;
}

div.add-video { text-align: right; padding: .1em; margin:4px;margin-bottom: 7px;float:left;}
div.addbox{height:30px}


/*
 * dwProgressBar
 */
/* these selector names are based on what you provide to the class */
#box { background:url('../images/progress-bar-back.gif') right center no-repeat; width:200px; height:20px; float: left; }
#perc { background:url('../images/progress-bar.gif') right center no-repeat; height:20px; }
#upload-text { font-family:tahoma, arial, sans-serif; font-size:11px; color:#000; padding: 3px 0 0 10px; clear: both; display: block; }
#author-list tr {height:0}

.authors {padding-bottom:15px;color:#555}