{% extends "base.html" %}

      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}
      {% ifequal user owner %}
      {% main_menu "portfolio" %}
      {% else %}
      {% ifequal user image.owner %}
      {% main_menu "portfolio" %}
      {% else %}
      {% main_menu "" %}
      {% endifequal %}
      {% endifequal %}
      </ul>
      {% endblock %}

{% block extra-style %}<link href="{{ MEDIA_URL }}css/galleries.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}

{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/galleries.js"></script>
    {# form.media #}
{% endblock %}

