{% extends "base.html" %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "portfolio" %}
      </ul>
      {% endblock %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/portfolio.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/portfolio2.js"></script>
{% endblock %}

