{% if form.errors %}
{% load uni_form thumbnail %}
	<form method="post" class="adcake-uni-form{% if not form.errors %} hide{% endif%}" id="add-{{ branch }}" action="{% url portfolio_xhr_create branch %}" enctype="multipart/form-data" target="frame-{{ branch }}">{% csrf_token %}
	  <fieldset class="inlineLabels">
            <legend>Add a new {{ branch }}</legend>
            {{ form|as_uni_form }}
        {% ifequal branch 'video' %}
        <input type="hidden" name="type" value="O"/>
        {% endifequal %}
	    <input type="hidden" name="branch" value="{{ branch }}" />
            <div class="buttonHolder">
              <input name="submit" type="submit" value="Add">
            </div>
            <span id="errors"></span>
	  </fieldset>
	  <iframe id="frame-{{ branch }}" name="frame-{{ branch }}" class="hidden-frame"></iframe>
	</form>
{% else %}
{% ifequal branch 'gallery' %}
<li id="gallery-id-{{ obj.pk }}">
      <div class="media-thumb-gallery">
	{% if obj.first_image %}
	<a href="{{ obj.get_absolute_url }}" title="View '{{ obj }}'">{{ obj.first_image.image.extra_thumbnails_tag.wide }}</a>
	{% else %}
	<a href="{{ obj.get_absolute_url }}" title="View '{{ obj }}'"><img src="{{ MEDIA_URL }}images/no-image-full.png" /></a>
	{% endif %}
      </div>
      <div class="media-info">
	<a href="{{ obj.get_absolute_url }}" title="View '{{ obj }}'" class="media-title">{{ obj }}</a>
	<div class="media-meta">
	      <span class="media-views">{{ obj.view_count }} view{{ obj.view_count|pluralize }}</span>
	</div>
      </div>
      {% ifequal obj.portfolio.owner user %}<a class="delete-gallery" href="#{{ obj.pk }}" title="Delete this gallery"></a>{% endifequal %}
      <span class="image-cont"></span>

</li>
{% endifequal %}
{% ifequal branch 'audio' %}
<li id="audio-id-{{ obj.pk }}">

  <span class="media-name"><a href="{{ obj.get_absolute_url }}" title="Hear '{{ obj }}'">{{ obj }} {{ obj.length }}</a></span>

</li>
{% endifequal %}
{% ifequal branch 'video' %}
<li id="video-id-{{ obj.pk }}">
	  <div class="media-thumb">
	    {% if obj.image %}
	    <a href="{{ obj.image.get_absolute_url }}" title="{{ obj }}">{{ obj.image.extra_thumbnails_tag.wide }}</a>
	    {% else %}
	    <a href="{% url video_detail obj.playable.video.pk obj.playable.video.slug %}" title="{{ obj }}">{% if obj.playable.video.get_thumbnails.0 %}<img src="{% thumbnail obj.playable.video.get_thumbnails.0 172x96 crop %}" />{% endif %}</a>
	    {% endif %}
	  </div>
	  <div class="media-info">
	    {% if obj.image %}
	    <a href="{{ obj.image.get_absolute_url }}" title="{{ obj }}" class="media-title">{{ obj }}</a>
	    {% else %}
	    <a href="{% url video_detail obj.playable.video.pk obj.playable.video.slug %}" title="{{ obj }}" class="media-title">{{ obj }}</a>
	    {% endif %}
	    <div class="media-meta">
	      <span class="media-owner">By: <a href="{{ obj.owner.get_profile.get_absolute_url }}" title="{{ obj.owner.get_profile.get_name }}'s profile">{{ obj.owner.get_profile.get_name }}</a></span> <br />
	      <span class="media-views">{{ obj.view_count }} view{{ obj.view_count|pluralize }}</span>
	    </div>
	  </div>
</li>
{% endifequal %}
{% endif %}
<script type="text/javascript">
    function send() {
	window.parent.Portfolio.recieveFromForm(document.body, "{{ branch }}-branch");
    }
window.onload=send;
</script>
