{% extends "portfolio/base_portfolio.html" %}

{% block title %}Edit your Portfolio{% endblock %}
{% load cake_buttons countries_tags %}
{% block content-header %}{% endblock %}
{% block content %}
<div id="owner-content">
   <div class="owner-image">
    {% if user.get_profile.image %}
    <img class="owner-image-avatar" src="{{ user.get_profile.image.extra_thumbnails.big }}" alt="{{ user }}" />
    {% else %}
    <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ user }}" width="64" height="64" />
    {% endif %}
  </div>
  <div class="owner-information large"{% ifequal user request.user %} style="padding-top: 0px"{% endifequal %}>
    <h1 class="owner-name">{{ user.get_profile.get_name }}'s Portfolio </h1>
    {% if user.get_profile.country %}
    <img class="flag" src="{{ user.get_profile.country.iso|iso_flag }}" alt="[{{ user.get_profile.country.iso }}]"/>
    <div class="clear"></div>
    {% endif %}
    <div class="profile-overview">
        <div class="profile-box"><div class="number">{{ user.get_profile.followers|length }}</div><div class="name">Followers</div></div>
        <div class="profile-box"><div class="number">{{ user.get_profile.following_count}}</div><div class="name">Following</div></div>
        <div class="profile-box"><div class="number">{{ user.get_profile.videos_count }}</div><div class="name">Videos</div></div>
        <div class="profile-box"><div class="number">{{ user.get_profile.galleries_count }}</div><div class="name">Galleries</div></div>
    </div>
    <div class="profile-overview-options">
        <div class="profile-overview-c1">
            {% ifnotequal request.user user %}
                {% add_to_contact_list user %}
                <a href="{% url messages_compose_to user.username %}" title="View {{ user.get_profile.get_name }}'s profile" class="send-message">Send a message</a>
            {% else %}
                <a href="{% url portfolio_for_shortcut user.username %}" title="Preview my portfolio" class="edit-portfolio">Preview Portfolio</a>
            {% endifnotequal %}
        </div>
        <div class="profile-overview-c2">
            <a href="{% url my_profile %}" title="View {{ user.get_profile.get_name }}'s profile" class="profile">Edit Profile</a>
        </div>
    </div>
  </div>
    <div class="clear"></div>
    <div class="share-portfolio">
        <span>Share your portfolio: <a href={% url portfolio_for_shortcut user.username  %}>http://www.adcake.com{% url portfolio_for_shortcut user.username  %}</a></span>
    </div>
    <div id="portfolio-information" class="edit">
        <span>About this portfolio:</span>
        <textarea id="portfolio-information"{% if not portfolio.description %} class="empty"{% endif %}>{% if portfolio.description %}{{ portfolio.description }}{% else %}Add a short description of your portfolio here...{% endif %}</textarea>
        <div class="clear"></div>
    </div>
</div>
<div id="portfolio" class="edit">
  <h2>Set your Current Work</h2>
  <ul id="media-branches">
    {% for branch in portfolio.sorted_branches %}
    <li id="{{ branch.name }}-branch">

      <div class="media-header">
	<h3 class="media-title">{{ branch.name|capfirst }} List</h3>
                <span class="sortable-handler"></span>
	<br class="clear" />
      </div>
      <div class="media-content">
      {% load thumbnail %}
    {% ifequal branch.name 'gallery' %}
	{% ifnotequal branch.name 'audio' %}<div class="add-media"><span class="collapsable-trigger{% if formg.errors %} open{% endif %}" rel="add-{{ branch.name }}" id="{{ branch.name }}-collapse">Add a new {{ branch.name|capfirst }}</span></div>{% endifnotequal %}
	{% load uni_form %}
	<form  method="post" class="adcake-uni-form{% if not formg.errors %} hide{% endif%}" id="add-{{ branch.name}}" style="display:none" enctype="multipart/form-data">{% csrf_token %}
	  <fieldset class="inlineLabels">
            <legend>Add a new {{ branch.name }}</legend>
            {{ formg|as_uni_form }}
	    <input type="hidden" name="branch" value="{{ branch.name }}" />
            <div class="buttonHolder">
              <input name="submit" type="submit" value="Add">
            </div>
            <span id="errors"></span>
	  </fieldset>
	</form>
    {% else %}
    {% ifnotequal branch.name 'audio' %}<div class="add-media"><span class="collapsable-trigger{% if formw.errors %} open{% endif %}" rel="add-video" id="{{ branch.name }}-collapse">Add a new {{ branch.name|capfirst }} from web</span></div>
	{% load uni_form %}
    <form method="post" class="adcake-uni-form" id="add-video" enctype="multipart/form-data" style="display:none">{% csrf_token %}
	  <fieldset class="inlineLabels">
            <legend>Add a new video from web</legend>
            {{ formw|as_uni_form }}
	    <input type="hidden" name="branch" value="{{ branch.name }}" />
        <input type="hidden" name="type" value="O"/>
            <div class="buttonHolder">
              <input name="submit" type="submit" value="Add">
            </div>
            <span id="errors"></span>
	  </fieldset>
	</form>
    {% endifnotequal %}
    {%  endifequal %}
	<ul id="{{ branch.name }}-list" class="edit-media-branches">
	  {% if branch.featured_list %}
	  {% ifequal branch.name 'video' %}{% include 'portfolio/lists/video_list.html' %}{% endifequal %}
	  {% ifequal branch.name 'audio' %}{% include 'portfolio/lists/audio_list.html' %}{% endifequal %}
	  {% ifequal branch.name 'gallery' %}{% include 'portfolio/lists/gallery_list.html' %}{% endifequal %}
	  {% else %}
	  <li class="empty-branch" style="width:100%">
	    The {{ branch.name|capfirst }} List is <strong>empty</strong>, this branch <strong>will not be shown</strong> in your
	    Portfolio View.
	  </li>
	  {% ifequal branch.name 'audio' %}<li class="comming-soon">This feature is comming soon.</li>{% endifequal %}
	  {% endif %}
	</ul>
    <div class="clean"></div>
      </div>
    </li>
    {% endfor %}
    {% block extra_js %}
        {% if not formg.errors %}
            <script type="text/javascript">
                new Fx.Slide('add-gallery').hide();
                $('add-gallery').set({styles: {display:'block'}})
            </script>
        {% else %}
            <script type="text/javascript">
                $('add-gallery').set({styles: {display:'block'}})
            </script>
        {% endif%}
        {% if not formw.errors %}
            <script type="text/javascript">
                new Fx.Slide('add-video').hide();
                $('add-video').set({styles: {display:'block'}})
            </script>
        {% else %}
            <script type="text/javascript">
                $('add-video').set({styles: {display:'block'}})
            </script>
        {% endif%}
    {% endblock %}
  </ul>
</div>
{% endblock %}
