{% extends "portfolio/base_gallery.html" %}
{% load cake_buttons %}

{% block title %}Are you sure you want to delete '{{ gallery.title }}'?{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url galleries_for gallery.portfolio.owner.pk %}" title="Back to {{ gallery.portfolio.owner.get_profile.get_name }}'s galleries">Back to {{ gallery.portfolio.owner.get_profile.get_name }}'s galleries</a></li>
  <li><a href="{% url profile_for gallery.portfolio.owner.username %}" title="View {{ gallery.portfolio.owner.get_profile.get_name }}'s profile">View Profile</a></li>
  <li><a href="{% url portfolio_for_shortcut gallery.portfolio.owner.username %}" title="View {{ gallery.portfolio.owner.get_profile.get_name }}'s portfolio">View Portfolio</a></li>
  <li><a href="{# url resume_for gallery.portfolio.owner #}" title="View {{ gallery.portfolio.owner.get_profile.get_name }}'s resume">View Resume</a></li>
</ul>
{% endblock %}

{% block content-header %}{% endblock %}
{% block content %}
<h1 class="clean">Delete '{{ gallery }}'?</h1>
<div id="confirm-delete">
  <p class="are-you-sure">
    Are you sure you want to delete '{{ gallery.title }}'?
    <span>This operation is unreversible</span>
  </p>

  <form method="post" action="" id="confirm">{% csrf_token %}
    <input type="submit" value="Yes, delete it!" name="yes" />
    or <input type="button" id="no" value="Keep it" name="no" />
  </form>

  <div id="gallery-description">
    {% if gallery.description %}
    <h3>Gallery's Description</h3>
    {{ gallery.description|linebreaks }}
    {% endif %}
  </div>

  <h3>Gallery's Images</h3>
  {% if gallery.images.all %}
  <ul id="gallery-thumbs">
    {% for image_obj in gallery.images.all %}
    <li>
      <span class="tb-cell">
	<span><a href="{% url image_detail gallery.portfolio.owner.username gallery.slug image_obj.slug %}" title="{{ image_obj.title }}">{{ image_obj.image.thumbnail_tag }}</a></span>
      </span>
      <span class="image-details" title="View Details">
	{{ image_obj }} :: {{ image_obj.view_count }} view{{ image_obj.view_count|pluralize }}
      </span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>This gallery does not have images</p>
  {% endif %}
  <br class="clear" />
</div>
{% endblock %}
