{% extends "portfolio/base_gallery.html" %}
{% load cake_buttons %}
{% block title %}{{ gallery.title }} - {{ owner.get_profile.get_name }}'s Gallery{% endblock %}
{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url galleries_for owner.username %}" title="Back to {{ owner.get_profile.get_name }}'s galleries">Back to {{ owner.get_profile.get_name }}'s galleries</a></li>
  <li><a href="{% url gallery_index 1 %}">Back to galleries</a></li>
  <li><a href="{% url profile_for owner.username %}" title="View {{ owner.get_profile.get_name }}'s profile">View Profile</a></li>
  <li><a href="{% url portfolio_for_shortcut owner.username %}" title="View {{ owner.get_profile.get_name }}'s portfolio">View Portfolio</a></li>
</ul>
{% endblock %}
{% block main-title-text %}
    {{ gallery.title|capfirst }}
{% endblock %}
{% block content %}

<div id="gallery-meta">
  <div class="gallery-description-heacer">
        <span>
        <span>Author:</span>
        <span class="unbold">{{ owner.get_full_name }}</span> (<a href="{% url portfolio_for_shortcut owner.username %}" title="View {{ owner.get_profile.get_name }}'s portfolio">{{ owner|capfirst }}</a>)
        </span>
        {% if gallery.agency %}
        <span>
            <span>Agency: </span>{{ gallery.agency }}
        </span>
        {% endif %}
        {% if gallery.client %}
        <span>
            <span>Client: </span>{{ gallery.client }}
        </span>
        {% endif %}
        {% if gallery.region %}
        <span>
            <span>Region: </span>{{ gallery.region }}
        </span>
        {% endif %}
        {% if gallery.adcategory %}
        <span>
            <span>Category: </span>{{ gallery.adcategory }}
        </span>
        {% endif %}
        <span>
        <span>Date published:</span>
        {{ gallery.pub_date|date:"H:i - d/m/Y" }}
        </span>
        <span>
        <span>Image{{ gallery.image_count|pluralize }}:</span> {{ gallery.image_count }}
        </span>
        <span>
        <span>View{{ gallery.view_count|pluralize }}:</span> {{ gallery.view_count }}
    </span>
  </div>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox_gallery addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
    <div class="clear_addthis"></div>
<a class="addthis_button_stumbleupon_badge"></a>
    <div class="clear_addthis"></div>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>

</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=adcake"></script>
<!-- AddThis Button END -->

</div>

<div id="gallery-description">
    {% if gallery.description %}
  {{ gallery.description|linebreaks }}
    {% else %}
    <div style="text-align: center;color: #666666;padding:30px 0 20px 0;font-style:italic;">
        This gallery has no description yet..
    </div>
    {% endif %}
</div>

{% ifequal owner user %}
<div class="edit-media">
<span href="{# url gallery_edit owner.pk gallery.slug #}" title="Edit this gallery" class="collapsable-trigger{% if gallery_edit_form.errors %} open{% endif %}" rel="edit-gallery">Edit this gallery</span>
<span class="collapsable-trigger{% if new_image_form.errors %} open{% endif %}" rel="add-image">Add a new Image</span>
</div>
<div class="clean"></div>
{% load uni_form %}
<form method="post" class="adcake-uni-form{% if not new_image_form.errors %} hide{% endif%}" id="add-image" enctype="multipart/form-data" style="display:none">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Add a new image</legend>
    {{ new_image_form|as_uni_form }}
    <input type="hidden" name="form" value="add-image" />
    <div class="buttonHolder">
      <span class="note">You hereby certify that you have the right to distribute this content and that it does not violate the Terms & Conditions</span>
      <input name="submit" type="submit" value="Add">
    </div>
    <span id="errors"> </span>
  </fieldset>
</form>
<form method="post" class="adcake-uni-form{% if not gallery_edit_form.errors %} hide{% endif%}" id="edit-gallery">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Edit this gallery</legend>
    {{ gallery_edit_form|as_uni_form }}
    <input type="hidden" name="form" value="edit-gallery" />
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Update Gallery">
    </div>
    <span id="errors"> </span>
  </fieldset>                
</form>
{% block extra_js %}
    {% if not new_image_form.errors %}<script type="text/javascript">new Fx.Slide('add-image').hide();$('add-image').set({styles: {display:'block'}})</script>{% else %}<script type="text/javascript">$('add-image').set({styles: {display:'block'}})</script>{% endif%}
    {% if not gallery_edit_form.errors %}<script type="text/javascript">new Fx.Slide('edit-gallery').hide();$('edit-gallery').set({styles: {display:'block'}})</script>{% else %}<script type="text/javascript">$('edit-gallery').set({styles: {display:'block'}})</script>{% endif%}
{% endblock %}
{% endifequal %}

<ul id="gallery-thumbs">
  {% for image_obj in gallery.images.all %}
  <li>
      <span><a href="{% url image_detail owner.username gallery.slug image_obj.slug %}" title="{{ image_obj.title }}"> <img src="{{ image_obj.image.extra_thumbnails.gallerysize }}"></a>
      </span>
<div class="clear"></div>
   {% ifequal owner user %}<a class="delete-image" href="#{{ image_obj.pk }}" title="Delete this image from '{{ gallery }}'">DELETE</a>{% endifequal %}
  </li>
  {% endfor %}
</ul>
<br class="clear" />
{# ADD SOME GALLERY MENU HERE #}
{% endblock %}
