{% extends "portfolio/base_gallery.html" %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url gallery_index 1 %}">All Galleries</a></li>
  <li><a href="{% url galleries_for user.username %}">View your galleries</a></li>
  {% if has_next %}
  <li><a href="{% url gallery_index next %}">Next Page</a></li>
  {% endif %}
  {% if has_previous %}
  <li><a href="{% url gallery_index previous %}">Previous Page</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
{% load uni_form %}
<form method="post" class="adcake-uni-form" id="add-gallery">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Add a new gallery</legend>
    {{ form|as_uni_form }}
    <input type="hidden" name="portfolio" value="{{ user.portfolio.pk }}" id="id_portfolio" />
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Add it">
    </div>
    <span id="errors"> </span>
  </fieldset>
</form>
{% endblock %}
