{% extends "portfolio/gallery_list.html" %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "galleries" %}
      </ul>
      {% endblock %}

{% block title %}Gallery List - Page {{ page }}{% endblock %}
{% block content-menu %}
{% if user.is_authenticated or has_next or has_previous %}
<ul id="content-menu">
  <li><a href="{% url image_list_page 1 %}">View by Images</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url galleries_for user.username %}">View your galleries</a></li>
  {% endif %}
  {% if has_next %}
  <li><a href="{% url gallery_index next %}">Next Page</a></li>
  {% endif %}
  {% if has_previous %}
  <li><a href="{% url gallery_index previous %}">Previous Page</a></li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}

{% block main-title-text %}Gallery List - Page {{ page }}{% endblock %}
{% block no-galleries %}There are no publish galleries on this site.{% endblock %}
