{% extends "portfolio/base_gallery.html" %}
{% load cake_buttons custom_filters %}

{% block title %}{{ owner.get_profile.get_name }}'s Galleries{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url profile_for owner.username %}" title="View {{ owner.get_profile.get_name }}'s profile">View Profile</a></li>
  <li><a href="{% url portfolio_for_shortcut owner.username %}" title="View {{ owner.get_profile.get_name }}'s portfolio">View Portfolio</a></li>
  {% comment %}<li><a href="{# url resume_for owner #}" title="View {{ owner.get_profile.get_name }}'s resume">View Resume</a></li>{% endcomment %}
</ul>
{% endblock %}
{% block main-title-text %}{{ owner.get_profile.get_name }}'s Galleries{% endblock %}
{% block order-by %}
    By: <a href="?order=views" title="Order By Name">Views</a> |
    <a href="?order=date" title="Order By Date Added">Date Added</a>
{% endblock %}
{% block content %}
{% if gallery_deleted %}
<div id="gallery-deleted">
  <p>The gallery was <span>successfully</span> deleted</p>
</div>
{% endif %}

{% block add-galleries %}
{% if user.is_authenticated %}
{% ifequal owner user %}
<div class="add-media"><span class="collapsable-trigger{% if form.errors %} open{% endif %}" rel="add-gallery" id="gallery-collapse">Add a new Gallery</span></div>
{% load uni_form %}
<form method="post" class="adcake-uni-form{% if not form.errors %} hide{% endif%}" id="add-gallery">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Add a new gallery</legend>
    {{ form|as_uni_form }}
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Add">
    </div>
    <span id="errors"> </span>
  </fieldset>
</form>
{% block extra_js %}
{% if not form.errors %}<script type="text/javascript">new Fx.Slide('add-gallery').hide();$('add-gallery').set({styles: {display:'block'}})</script>{% else %}<script type="text/javascript">$('add-gallery').set({styles: {display:'block'}})</script>{% endif%}
{% endblock %}
{% endifequal %}
{% endif %}
{% endblock %}
{% load thumbnail %}
<div id="horizontal-media-feed">
    <ul>
    {% for gallery in gallery_list %}
        <li>
            <div class="media-thumb">
                    {% if gallery.first_image %}
                    <a href="{{ gallery.get_absolute_url }}" title="View '{{ gallery }}'">{{ gallery.first_image.image.extra_thumbnails_tag.wider }}</a>
                    {% else %}
                    <a href="{{ gallery.get_absolute_url }}" title="View '{{ gallery }}'"><img src="{{ MEDIA_URL }}images/no-image-full.png" /></a>
                    {% endif %}
                <div class="fancy-description">
                    <div class="media-meta">
                        <span class="media-owner">By: <a href="{{ gallery.portfolio.owner.get_profile.get_absolute_url }}" title="{{ gallery.portfolio.owner.get_profile.get_name }}'s profile">{{ gallery.portfolio.owner.get_profile.get_name }}</a></span><br />
                        <span class="media-count">{{ gallery.image_count }} image{{ gallery.image_count|pluralize }}</span><br />
                        <span class="media-views">{{ gallery.view_count }} view{{ gallery.view_count|pluralize }}</span>

                    </div>
                </div>
            </div>
            <div class="media-info">
                <a href="{{ gallery.get_absolute_url }}" title="View '{{ gallery }}'" class="media-title">{{ gallery|truncatesmart:44 }}</a>
            </div>
        <span class="image-cont">Gallery</span>
        </li>
    {% empty %}
    <p>{% block no-galleries %}This user does not have any galleries.{% endblock %}</p>
    {% endfor %}
    </ul>
    <div class="clean"></div>
</div>

{% load pagination %}{% paginate %}
{% endblock %}
