{% extends "portfolio/base_gallery.html" %}
{% load cake_buttons %}
{% block extra-head %}
<link media="screen" rel="stylesheet" href="{{ MEDIA_URL }}css/colorbox.css" />
<script type='text/javascript' src='{{ MEDIA_URL }}js/roles/role_actions.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-1.4.2.min.js'></script>
<script>$j = jQuery.noConflict();</script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/endless.js'></script>
<script type='text/javascript'  src="{{ MEDIA_URL }}js/jquery.colorbox.js"></script>
<script>
  $j(document).ready(function(){
  //Examples of how to assign the ColorBox event to elements
  $j("a[rel='colbox']").colorbox({maxWidth:"100%",maxHeight:"100%"});
  //Example of preserving a JavaScript event for inline calls.
  $j("#click").click(function(){ 
  $j('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
  return false;
  });
  });
</script>
{% load thumbnail %}
<meta property="og:site_name" content="ADCAKE™"/>
<meta property="fb:app_id" content="142208859146936" />
<meta property="fb:admins" content="100000873703172"/>
<meta property="og:title" content="{{image}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.adcake.com/images/{{ image.id }}" />
<meta property="og:image" content="{% thumbnail image.image 200x200 %}" />
<link rel="image_src" type="image/jpeg" href="{{ image.image.url }}" />
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}
{% block keywords %}
    {% load tagging_tags %}
    {% tags_for_object image as image_tags %}
    <meta name="keywords"  content="adcake,{% for tag in image_tags %}{{ tag }},{% endfor %}" />
{% endblock %}
{% block title %}{{ image }} on {{ gallery }}{% endblock %}
{% block content-menu %}
<ul id="content-menu">
  {% block gallery_menu %}<li><a href="{{ gallery.get_absolute_url }}" title="Back to {{ gallery }}">Back to {{ gallery }}</a></li>{% endblock %}
  <li><a href="{% url galleries_for image.owner.username %}" title="View {{ image.owner.get_profile.get_name }}'s galleries">View {{ image.owner.get_profile.get_name }}'s galleries</a></li>
  <li><a href="{% url profile_for image.owner.username %}" title="View {{ image.owner.get_profile.get_name }}'s profile">View {{ image.owner.get_profile.get_name }}'s Profile</a></li>
  <li><a href="{% url portfolio_for_shortcut image.owner.username %}" title="View {{ image.owner.get_profile.get_name }}'s portfolio">View {{ image.owner.get_profile.get_name }}'s Portfolio</a></li>
</ul>
{% endblock %}
{% block content-header %}<div id="content-header"><h1 >{{ image|capfirst }}</h1></div>{% endblock %}
{% block content %}
{% block user_editing %}
{% ifequal image.owner user %}
{% load uni_form %}
<div class="add-media"><span class="collapsable-trigger{% if form.errors %} open{% endif %}" rel="add-image">Edit this image</span></div>
<form method="post" class="adcake-uni-form{% if not form.errors %} hide{% endif%}" id="add-image" enctype="multipart/form-data" style="display:none">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Edit this image</legend>
    {{ form|as_uni_form }}            
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Update Image">
    </div>
    <span id="errors"></span>
  </fieldset>
</form>
{% block extra_js %}
{% if not form.errors %}<script type="text/javascript">new Fx.Slide('add-image').hide();$('add-image').set({styles: {display:'block'}})</script>{% else %}<script type="text/javascript">$('add-image').set({styles: {display:'block'}})</script>{% endif%}
<script type="text/javascript" src="{{ MEDIA_URL }}js/roles/add_author.js"></script>
{% endblock %}
{% endifequal %}
{% endblock %}

<div id="image-content">
  
  <div id="image-holder"{% if do_zoom %} class="zoom-in"{% endif %}>
    {% if do_zoom %}
        {% if not zoom_dim %}
            <a href="{{ image.image.extra_thumbnails.final }}" alt="{{ image }}" rel="colbox" ><img src="{{ image.image.extra_thumbnails.showcase }}" alt="{{ image }}" longdesc="{{ image.image.url }}" /></a>
        {% else %}
            <a href="{% thumbnail image.image zoom_dim %}" alt="{{ image }}" rel="colbox" ><img src="{{ image.image.extra_thumbnails.showcase }}" alt={{ image }} longdesc="{{ image.image.url }}" /></a>
        {% endif %}
    {% else %}
        <img src="{{ image.image.url }}" alt="{{ image }}" />
    {% endif %}
    <p>{{ image.caption }}</p>
  </div>
{% block image_navigator %}
  <div id="image-navigator">
    {% if previous_image_url %}<a href="{{ previous_image_url }}" title="Previous Image in '{{ gallery }}'" id="previous-image">Previous</a>{% else %}<div class="empty-button-l"></div>{% endif %}
    <a href="{{ gallery.get_absolute_url }}" title="Back to '{{ gallery }}'" id="image-gallery">{{ gallery }}</a>
    {% if next_image_url %}<a href="{{ next_image_url }}" title="Next Image in '{{ gallery }}'" id="next-image">Next</a>{% else %}<div class="empty-button-r"></div>{% endif %}
  </div>
{% endblock %}
<div class="link-buttons">
{% load share_buttons %}
{% share_buttons image.id %}
{% if user.is_authenticated %}
    {% add_to_cake_box image %}
{% endif %}
<div class="clean"></div>
</div>
  <div id="media-desc-meta">
    <div id="media-upload">
      <p><span>Uploaded on:</span> {{ image.added|date:"F j, Y" }}. <span>By:</span></p>
      <div class="owner-information">
        <div class="owner-image-holder">
            {% if not company %}
	            <a href="{% url portfolio_for_shortcut image.owner.username %}" title="{{ image.owner.get_profile.get_name }}'s profile">
	            {% if image.owner.get_profile.image %}
	            <img src="{{ image.owner.get_profile.image.extra_thumbnails.small }}" alt="{{ image.owner.get_profile.get_name }}" />
	            {% else %}
	            <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ owner }}" width="48" height="48" />
                {% endif %}
            {% else %}
                <a href="{% url cportfolio_for_shortcut company.uniquename %}" title="Company Portfolio">
	                <img src="{% thumbnail company.logo 48x48 %}" />
                </a>
	        {% endif %}
	  </a>
	</div>
    <div class="owner-information-desc">
        {% if not company %}
	        <span class="owner-username"><a href="{% url portfolio_for_shortcut image.owner.username %}" title="{{ image.owner.get_profile.get_name }}'s profile">{{ image.owner.get_profile.get_name }}</a></span>
            <span class="owner-name">{{ image.owner.get_full_name|capfirst }}</span>
        {% else %}
            <span class="owner-username"><a href="{% url cportfolio_for_shortcut company.uniquename %}" title="Company's Portfolio">{{ company.name }}</a></span>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        {% if not company %}
	        {% add_to_contact_list image.owner %}
        {% endif %}
    {% endif %}
      </div>
      <div class="owner-comments">{{ image.comment|linebreaks }}</div>
    </div>

    <div id="media-extra-info">
      <ul id="media-details">
	<li>
	  Image Details:
	  <p>
        {% if gallery %}Gallery: <a href="{{ gallery.get_absolute_url }}">{{ gallery }}</a>{% endif %}
	    {% if image.creation %}<br />Creation Date: {{ image.creation|date:"F j, Y" }}{% endif %}
        {% if gallery %}<br />Advertising Category: {{ gallery.adcategory }}{% endif %}
        {% if gallery.client %}<br />Client: {{ gallery.client }}{% endif %}
        {% if gallery.region %}<br />Region: {{ gallery.region }}{% endif %}
	  </p>
	</li>
	<li>
	  Views: <span>{{ image.view_count }}</span>
	</li>
      </ul>
      <ul id="media-tags">
	<li class="title">Tags</li>
    {% load tagging_tags %}
    {% tags_for_object image as image_tags %}
	{% for tag in image_tags %}
	<li{% if forloop.last %} class="last"{% endif %}><a href="{% url images_for_tag tag.name 1 %}">{{ tag.name }}</a></li>
	{% empty %}
	<li class="empty">No tags...</li>
	{% endfor %}
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
{% load authors %}
<div class="authors">
    {% authors for images with image.id %}
</div>

{# AUTHORING #}
{% if request.user.is_authenticated %}
  {% load comments %}
  {% if comments %}
  <h2>Comments</h2>
  {% else %}
  <h2>No comments yet</h2>
  {% endif %}
   <div id="comment-pagination">
    <div class="endless_page_template">
      {% include 'portfolio/image_detail_page.html' %}
    </div>
   </div>
{% load uni_form %}
{% get_comment_form for image as form %}
<form action="{% comment_form_target %}" method="POST" class="adcake-uni-form">
<fieldset class="inlineLabels">
{% csrf_token %}
<ul>
  <li class="ctrlHolder">
  <div class="comments">
  {{ form.comment }}
  </div>
  </li>
</ul>
<input type="hidden" name="honeypot" id="id_honeypot" />
<input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
{{ form.content_type }} 
{{ form.object_pk }} 
{{ form.timestamp }} 
{{ form.security_hash }}
 <div class="buttonHolder"> 
<input type="submit" value="Add comment" id="id_submit" />
 </div>

</fieldset>
</form>
{% endif %}
    
<div class="facebook-comment">
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=142208859146936";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-num-posts="2" data-width="560"></div>
    </div>


{% endblock %}
