  {% load thumbnail %}
  {% load endless %}
  {% paginate 10 comments %}
  {% for comment in comments %}
	<div class="comment_{% cycle odd,even %}" id="c{{ comment.id }}">
	{% if comment.user.get_profile.image %}
		<a href="{% url portfolio_for_shortcut comment.user.username  %}">
		<img src="{% thumbnail comment.user.get_profile.image 50x50 %}"  class="image_frame"/>
		</a>
	{% else %}
		<a>
		<img src="{{ MEDIA_URL }}images/no-avatar.png" alt="prueba" width="50" height="50" class="image_frame"/>
		</a>
        {% endif %}
	 <span class="commented_on"><a href="{% url portfolio_for_shortcut comment.user.username %}" >{{ comment.user.username|capfirst }}</a>
	 commented, on {{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}:</span>
	<div class="comment_block">
	{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
	</div>
	<div class="clean"> </div>
	</div>
  {% endfor %}
<div class="pagination">
{% show_pages %}
</div>
