{% extends "base_frame.html" %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/fancy_thumbs.js"></script>
    <link media="screen" rel="stylesheet" href="{{ MEDIA_URL }}css/colorbox.css" />
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-1.4.2.min.js'></script>
    <script>$j = jQuery.noConflict();</script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/endless.js'></script>    
    <script type='text/javascript'  src="{{ MEDIA_URL }}js/jquery.colorbox.js"></script>
    <script>
      $j(document).ready(function(){
      //Examples of how to assign the ColorBox event to elements
      $j("a[rel='colbox']").colorbox({maxWidth:"100%",maxHeight:"100%"});
      //Example of preserving a JavaScript event for inline calls.
      });
    </script>
{% endblock %}
{% load countries_tags %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "portfolio" %}
      </ul>
      {% endblock %}
{% load cake_buttons thumbnail %}
{% block title %}{{ owner.get_profile.get_name|capfirst }}'s Portfolio{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url videos_with owner.username 1 %}" title="View {{ owner.get_profile.get_name }}'s uploaded videos">Videos with {{ owner.username }}</a></li>
</ul>
{% endblock %}
{% block content-header %}{% endblock %}
{% block content %}

<div id="owner-content">
    <div class="owner-image">
        {% if owner.get_profile.image %}
        <img class="owner-image-avatar" src="{{ owner.get_profile.image.extra_thumbnails.big }}" alt="{{ owner }}" />
        {% else %}
        <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ owner }}" width="148" height="148" />
        {% endif %}
    </div>
<div id="profile-display">
    <div class="frame-top">
        <div class="profile-overview-c1">
            {% if user.is_authenticated %}
            {% ifnotequal request.user owner %}
                {% add_to_contact_list owner %}
                <a href="{% url messages_compose_to owner.username %}" title="View {{ owner.get_profile.get_name }}'s profile" class="send-message">Message</a>
            {% else %}
                <a href="{% url my_portfolio %}" title="Edit your Portfolio" class="edit-portfolio">Edit Portfolio</a>
            {% endifnotequal %}
            {% endif %}
        </div>
        <div class="profile-overview-c2">
            {% ifequal request.user owner %}
                <a href="{% url my_profile %}" title="View {{ owner.get_profile.get_name }}'s profile" class="profile">View Profile</a>
            {% else %}
                <a href="{% url profile_for owner.username %}" title="View {{ owner.get_profile.get_name }}'s profile" class="profile">View Profile</a>
            {% endifequal %}
        </div>

        <div class="owner-information large"{% ifequal owner user %} style="padding-top: 0px"{% endifequal %}>
            <h1 class="owner-name">{{ owner.get_profile.get_name }}'s Portfolio </h1>
                {% if owner.get_profile.country %}
                <img class="flag" src="{{ owner.get_profile.country.iso|iso_flag }}" alt="[{{ owner.get_profile.country.iso }}]"/>
                {% endif %}
        </div>
    </div>
    <div class="profile-overview">
          <div class="profile-box"><div class="number">{{ owner.get_profile.followers|length }}</div><div class="name">Followers</div></div>
          <div class="profile-box"><div class="number">{{ owner.get_profile.following_count}}</div><div class="name">Following</div></div>
          <div class="profile-box"><div class="number">{{ owner.get_profile.videos_count }}</div><div class="name">Videos</div></div>
          <div class="profile-box"><div class="number">{{ owner.get_profile.galleries_count }}</div><div class="name">Galleries</div></div>
    </div>

    <div class="profile-sec-header">
    <table class="profile-info" summary="{{ profile.get_name }} profile information">
      <tr>
	<td>{{ profile.user.get_full_name }}</td>
      </tr>
      <tr>
	<td>{% if profile.country %}{{ profile.country }}{% else %}<span class="unavailable"></span>{% endif %}</td>
      </tr>
      <tr>
	<td>{% if profile.gender %}{{ profile.get_gender_display }}{% else %}<span class="unavailable"></span>{% endif %}</td>
      </tr>
      <tr>
	<td>{% if profile.job_status %}{{ profile.get_job_status_display }}{% else %}<span class="unavailable"></span>{% endif %}</td>
      </tr>
        <tr>
	<td>{% if profile.employer %}{{ profile.employer}}{% else %}<span class="unavailable"></span>{% endif %}</td>
      </tr>
      <tr>
	<td>{% if profile.website %}<a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a>{% else %}<span class="unavailable">   </span>{% endif %}</td>
      </tr>
    </table>
    </div>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
    <a href="http://addthis.com/bookmark.php?v=250" class="addthis_button_compact"></a>
    <span class="addthis_separator"> </span>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_email"></a>
    <a class="addthis_button_google_plusone" g:plusone:size="small"></a>
    <a class="addthis_button_facebook_like"></a>


</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=adcake"></script>
<!-- AddThis Button END -->

    {% if not resume.empty %}
        {% for category, sublist in category_tree %}
            {% ifnotequal category.description "<br>" %}
                {% ifnotequal category.description "" %}
                <div class="profile-sec-header">
                    <h3>{{ category.title }}</h3>
                    <br class="clear" />
                </div>
                <div class="resume-categories">
                    {{category.description|safe}}
                </div>
                {% endifnotequal %}
            {% endifnotequal %}
        {% endfor %}
    {% endif %}
  </div>

<div class="clear"></div>



<div class="main-image-portfolio">

</div>

{% if portfolio.description %}
<div id="portfolio-information">
  {{ portfolio.description|linebreaks }}
</div>
{% endif %}
</div>
    
<div id="portfolio">
  <ul id="media-compact-branches">
    {% for branch in portfolio.sorted_view_branches %}
    {% with branch.featured_list as featured_list %}
    {% with branch.participation_list as participation_list %}
    {% if featured_list or participation_list %}
    <li id="{{ branch.name }}-compact-branch">

      <div class="media-header">
	<h3 class="media-title">{{ branch.name|capfirst }} List</h3>
	<br class="clear" />
      </div>
      <div class="media-content">
	<ul id="{{ branch.name }}-compact-list">
	  {% ifequal branch.name 'video' %}
          {% if featured_list %}
          {% for media in featured_list  %}
            <li>
                <div class="media-thumb">
                    <a href="{% url video_detail media.pk media.slug %}">
                        {% if media.get_thumbnails.0 %}<img src="{% thumbnail media.get_thumbnails.0 444x258 crop %}" height="258" width="444" />{% endif %}
                        <div class="fancy-description">
                            {{ media.title|capfirst }}
                            <span class="cat">{{ media.adcategory }}</span>
                            <span class="cat">{{ media.region }}</span>
                        </div>
                    </a>
                </div>
                <div class="video-cont"><a>VIDEO</a></div>
            </li>
          {% endfor %}
          {% endif %}
          {% if participation_list %}
            {% for media in branch.participation_list %}
            <li>
                <div class="media-thumb">
                    <a href="{% url video_detail media.pk media.slug %}">
                        {% if media.get_thumbnails.0 %}<img src="{% thumbnail media.get_thumbnails.0 444x258 crop %}" height="258" width="444" />{% endif %}
                        <div class="fancy-description">
                            {{ media.title|capfirst }}
                            <span class="cat">{{ media.adcategory }}</span>
                            <span class="cat">{{ media.region }}</span>
                        </div>
                    </a>
                </div>
                <div class="video-cont"><a>VIDEO</a></div>
            </li>
          {% endfor %}
          {% endif %}
	  {% endifequal %}
	  {% ifequal branch.name 'gallery' %}
             {% for gallery in branch.featured_list|dictsort:"position" %}
                {% if not gallery.empty %}
                    {% comment %}<span class="cat"><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></span>{% endcomment %}
                    <ul id="{{ branch.name }}-compact-list">
                    {% for media in gallery.images.all %}
                        <li>
                            <div class="media-thumb">

                                    {% if media.image.width > 2000 or media.image.height > 1500 %}
                                        <a href="{{ media.image.extra_thumbnails.final }}" rel="colbox" title='{{ media.title }}<br/><a href="{% url image_detail media.owner gallery.slug media.slug %}">View More</a>'>
                                            <img src="{% thumbnail media.image 444x258 crop %}" height="258" width="444"/>
                                        <div class="fancy-description">
                                            <div class="title">
                                                {{ media.title|capfirst }}
                                                <span class="cat">{{ media.main_category }}</span>
                                                {% with media.galleries.all.0 as gal %}
                                                {% if gal %}
                                                <span class="cat">{{ gal.region.printable_name }}</span>
                                                {% endif %}
                                                {% endwith %}
                                            </div>
                                        </div>
                                        </a>
                                    {% else %}
                                        <a href="{% thumbnail media.image media.return_size upscale %}" rel="colbox" title='{{ media.title }}<br/><a href="{% url image_detail media.owner.username gallery.slug media.slug %}">View More</a>'>
                                            <img src="{% thumbnail media.image 444x258 crop %}" height="258" width="444"/>
                                            <div class="fancy-description">
                                                <div class="title">

                                                    {{ media.title|capfirst }}
                                                    <span class="cat">{{ media.main_category }}</span>
                                                    {% with media.galleries.all.0 as gal %}
                                                    {% if gal %}
                                                    <span class="cat">{{ gal.region.printable_name }}</span>
                                                    {% endif %}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </a>
                                    {% endif %}
                            </div>
                            <div class="image-cont"><a href="{{ gallery.get_absolute_url }}">Gallery: {{ gallery.title }}</a></div>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
	  {% endifequal %}
	  {% ifequal branch.name 'audio' %}
          {% include 'portfolio/lists/audio_list.html' %}
      {% endifequal %}
	</ul>
    <div class="clean"></div>
      </div>
    {% comment %}
      <span class="view-all-branch"><a href="{{ branch.all_link }}" title="View all {{ branch.plural_name }} by {{ owner }}">View All</a></span>
    {%  endcomment %}
    </li>
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </ul>
  <script language="javascript" type="text/javascript">
      if ($('media-compact-branches') && $('media-compact-branches').getElements('li').length == 0)
          new Element('div', {'class': 'help-no-work', 'text': 'This user has not published any work'}).inject($('media-compact-branches'), 'after');
  </script>
</div>

{% endblock %}

<div class="facebook-comment">
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=142208859146936";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-num-posts="2" data-width="560"></div>
    </div>



