{% extends "base.html" %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/view_portfolio.js"></script>
{% endblock %}
{% load countries_tags %}
      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "portfolio" %}
      </ul>
      {% endblock %}
{% load cake_buttons thumbnail %}
{% block title %}{{ owner.get_profile.get_name|capfirst }}'s Portfolio{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url videos_with owner.username 1 %}" title="View {{ owner.get_profile.get_name }}'s uploaded videos">Videos with {{ owner.username }}</a></li>
</ul>
{% endblock %}
{% block content-header %}{% endblock %}
{% block content %}
<div id="owner-content">
  <div class="owner-image">
    {% if owner.get_profile.image %}
    <img class="owner-image-avatar" src="{{ owner.get_profile.image.extra_thumbnails.big }}" alt="{{ owner }}" />
    {% else %}
    <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ owner }}" width="148" height="148" />
    {% endif %}
  </div>
  <div class="owner-information large"{% ifequal owner user %} style="padding-top: 0px"{% endifequal %}>
    <h1 class="owner-name">{{ owner.get_profile.get_name }}'s Portfolio </h1>
    {% if owner.get_profile.country %}
    <img class="flag" src="{{ owner.get_profile.country.iso|iso_flag }}" alt="[{{ owner.get_profile.country.iso }}]"/>
    <div class="clear"></div>
    {% endif %}
    <div class="profile-overview">
        <div class="profile-box"><div class="number">{{ owner.get_profile.followers|length }}</div><div class="name">Followers</div></div>
        <div class="profile-box"><div class="number">{{ owner.get_profile.following_count}}</div><div class="name">Following</div></div>
        <div class="profile-box"><div class="number">{{ owner.get_profile.videos_count }}</div><div class="name">Videos</div></div>
        <div class="profile-box"><div class="number">{{ owner.get_profile.galleries_count }}</div><div class="name">Galleries</div></div>
    </div>
    <div class="profile-overview-options">
        <div class="profile-overview-c1">
            {% if user.is_authenticated %}
            {% ifnotequal request.user owner %}
                {% add_to_contact_list owner %}
                <a href="{% url messages_compose_to owner.username %}" title="View {{ owner.get_profile.get_name }}'s profile" class="send-message">Message</a>
            {% else %}
                <a href="{% url my_portfolio %}" title="Edit your Portfolio" class="edit-portfolio">Edit Portfolio</a>
            {% endifnotequal %}
            {% endif %}
        </div>
        <div class="profile-overview-c2">
            {% ifequal request.user owner %}
                <a href="{% url my_profile %}" title="View {{ owner.get_profile.get_name }}'s profile" class="profile">View Profile</a>
            {% else %}
                <a href="{% url profile_for owner.username %}" title="View {{ owner.get_profile.get_name }}'s profile" class="profile">View Profile</a>
            {% endifequal %}
        </div>
        <div class="facebook-send">
            <div id="fb-root"></div>
             <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {return;}
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-send"  data-font="arial"></div>

        </div>

    </div>
  </div>
<div class="clear"></div>
{% if portfolio.description %}
<div id="portfolio-information">
  {{ portfolio.description|linebreaks }}
</div>
{% endif %}
</div>
    
<div id="portfolio">
  <ul id="media-compact-branches">
    {% for branch in portfolio.sorted_view_branches %}
    {% with branch.featured_list as featured_list %}
    {% if featured_list %}
    <li id="{{ branch.name }}-compact-branch">
      <div class="media-header">
	<h3 class="media-title">{{ branch.name|capfirst }} List</h3>
	<br class="clear" />
      </div>
      <div class="media-content">
	<ul id="{{ branch.name }}-compact-list">
	  {% ifequal branch.name 'video' %}
          {% for media in featured_list %}
            <li>
                <div class="media-thumb">
                    <a href="{% url video_detail media.pk media.slug %}">
                        {% if media.get_thumbnails.0 %}<img src="{% thumbnail media.get_thumbnails.0 172x96 crop %}" />{% endif %}
                        <div class="title">
                            {{ media.title }}
                            <span class="cat">{{ media.adcategory }}</span>
                        </div>
                    </a>
                </div>
            </li>
          {% endfor %}
	  {% endifequal %}
	  {% ifequal branch.name 'gallery' %}
            {% for media in featured_list %}
                <li>
                    <div class="media-thumb">
                            <a href="{% url image_detail_portfolio media.owner media.id %}">
                                {{ media.image.extra_thumbnails_tag.wide }}
                                <div class="title">
                                    {{ media.title }}
                                    <span class="cat">{{ media.main_category }}</span>
                                </div>
                            </a>
                    </div>
                </li>
            {% endfor %}
	  {% endifequal %}
	  {% ifequal branch.name 'audio' %}
          {% include 'portfolio/lists/audio_list.html' %}
      {% endifequal %}
	</ul>
    <div class="clean"></div>
      </div>
    {% comment %}
      <span class="view-all-branch"><a href="{{ branch.all_link }}" title="View all {{ branch.plural_name }} by {{ owner }}">View All</a></span>
    {%  endcomment %}
    </li>
    {% endif %}
    {% endwith %}
    {% endfor %}
  </ul>
  <script language="javascript" type="text/javascript">
  <!--
      if ($('media-branches').getElements('li').length == 0)
          new Element('div', {'class': 'help-no-work', 'text': 'This user has not published any work'}).inject($('media-branches'), 'after');
  -->
  </script>
</div>
{% endblock %}


