{% extends "multimedia/base.html" %}
{% block extra-head %}
<script type='text/javascript' src='{{ MEDIA_URL }}js/flowplayer.js'></script>
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
<script src="{{ MEDIA_URL }}js/mootools.dajax.core.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<h1>Multiply Machine!</h1>
	<input type="text" name="a" value="5" id="a"> x <input type="text" name="b" value="6" id="b"> = <input type="text" name="result" value="" id="result">
	<input type="button" name="caculate" value="Let's Multiply!" id="caculate" onclick="Dajaxice.dajaxx.multiply('Dajax.process',{'a':$('a').value,'b':$('b').value})">
{% endblock %}