{% load custom_filters %}
{% for gallery in branch.featured_list %}
<li id="gallery-id-{{ gallery.pk }}">
  <div class="media-thumb-gallery">
{% if gallery.first_image %}
<a href="{{ gallery.get_absolute_url }}" title="View '{{ gallery }}'">{{ gallery.first_image.image.extra_thumbnails_tag.wider }}</a>
{% else %}
<a href="{{ gallery.get_absolute_url }}" title="View '{{ gallery }}'"><img src="{{ MEDIA_URL }}images/no-image-full.png" /></a>
{% endif %}
  </div>
  <div class="media-info">
<a href="{{ gallery.get_absolute_url }}" title="View '{{ gallery }}'" class="media-title">{{ gallery|capfirst|truncatesmart:44 }}</a>
<div class="media-meta">
    <span class="media-category">{{ gallery.adcategory }}</span><br>
      <span class="media-views">{{ gallery.view_count }} view{{ gallery.view_count|pluralize }}</span>
</div>
  </div>
  {% ifequal gallery.portfolio.owner user %}<a class="delete-gallery" href="#{{ gallery.pk }}" title="Delete this gallery"></a>{% endifequal %}
  <span class="image-cont">Gallery</span>
</li>
{% endfor %}
