{% for video in branch.featured_list %}
<li id="video-id-{{ video.pk }}">

  <table class="video-thumbs media-with-thumbs {% cycle 'even' 'odd' %}">
    <thead>
      <tr>
        <th colspan="{{ owner|yesno:"4,3" }}"><span class="media-name"><a href="{{ video.get_absolute_url }}" title="View '{{ video }}'">{{ video }}</a></span></th>
        {% if not owner %}
        <th class="delete-table"><a href="#" title="Delete this video from your Portfolio">delete</a></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for thumbnail in video.get_thumbnails %}
        <td{% if forloop.last %} class="last"{% endif %}>
          {% if thumbnail %}
          <a href="{{ video.get_absolute_url }}"><img src="{{MEDIA_URL}}/{{ thumbnail }}" width="96" height="96"/></a>
          {% else %}
          <a href="{{ video.get_absolute_url }}"><img src="{{ MEDIA_URL }}images/no-image.png" width="96" height="96" /></a>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

</li>
{% endfor %}
