 {% load custom_tags thumbnail custom_filters %}
	{% for media in  branch.featured_list %}
	<li id="video-id-{{ media.id }}">
	  <div class="media-thumb">
	    {% if media.image %}
	    <a href="{{ media.get_absolute_url }}" title="{{ media }}">{{ media.image.extra_thumbnails_tag.wider }}</a>
	    {% else %}
	    <a href="{% url video_detail media.playable.video.pk media.playable.video.slug %}" title="{{ media }}">{% if media.playable.video.get_thumbnails.2 %}<img src="{% thumbnail media.playable.video.get_thumbnails.2 280x180 crop %}" />{% else %}<img src="{% thumbnail media.playable.video.get_thumbnails.0 280x180 crop %}" />{% endif %}</a>
	    {% endif %}
	  </div>
      
	  <div class="media-info">
	    {% if media.image %}
	    <a href="{{ media.image.get_absolute_url }}" title="{{ media }}" class="media-title">{{ media|capfirst|truncatesmart:22 }}</a>
	    {% else %}
	    <a href="{% url video_detail media.playable.video.pk media.playable.video.slug %}" title="{{ media }}" class="media-title">{{ media|capfirst|truncatesmart:22 }}</a>
	    {% endif %}
	    <div class="media-meta">
          <span class="media-category">{{ media.adcategory }}</span> <br />
	      <span class="media-owner">By: <a href="{{ media.owner.get_profile.get_absolute_url }}" title="{{ media.owner.get_profile.get_name }}'s profile">{{ media.owner.get_profile.get_name }}</a></span> <br />
	      <span class="media-views">{{ media.view_count }} view{{ media.view_count|pluralize }}</span>
	    </div>
	  </div>
	  {% ifequal media.owner user %}<a class="delete-video" href="#{{ media.pk }}" title="Delete this video"></a>{% endifequal %}
	  <span class="video-cont">Video</span>
	</li>
	{% endfor %}
