{% extends "registration/registration_form.html" %}
{% block registration_form %}
{% load uni_form %}
  <form action="{% url registration_register %}?invitation_key={{ invitation_key }}" method="post" class="adcake-uni-form">{% csrf_token %}
    <fieldset class="inlineLabels">
      {{ form|as_uni_form }}
      <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
      {{ previous_fields|safe }}
      <div class="buttonHolder">
        <input name="register" type="submit" value="Sign up">
      </div>
      <span id="errors"></span>
    </fieldset>
  </form>

{% endblock %}
