{% extends "base.html" %}
{% block title %}Contact us{% endblock %}
{% block main-title-text %}
Contact us
{% endblock %}
{% block content %}
{% load uni_form %}
<div id="form-holder">
<form action="{% url contact_us %}" class="adcake-uni-form" method="POST">{% csrf_token %}
<fieldset class="inlineLabels">
{{ form|as_uni_form }}
<div class="buttonHolder">
<input type="submit" name="Submit" value="Submit" />
</div>
</fieldset>
</form>
</div>
{% endblock %}