{% extends "base.html" %}
{% load i18n %}
{% block content-header %}
    <META HTTP-EQUIV="Refresh"
      CONTENT="8; /">
{% endblock %}
{% block content %}
<div class="notification">
<h2>{% trans "Enquiry Sent" %}</h2>
 Thank you!. Your enquiry has been sent.
</div>
{% endblock %}
