{% if user.companies.all %}
<div id="add-new-company">
  <a href="{% url new_company %}" title="Add your company">Add a new company</a>
</div>
<ul id="user-companies">
  {% for company in user.companies.all %}
  <li>
    <span class="company-name"><a href="{{ company.get_absolute_url }}" title="{{ company }}">{{ company }}</a></span>
    <span class="company-edit"><a href="{% url company_admin company.slug %}" class="edit" title="Admin">Admin</a></span>
    <br class="clear" />
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="help">
  I verify that I have the right to act on behalf of the company I'm about to create on this page.
</p>
<div id="add-new-company">
  <a href="{% url new_company %}" title="Add your company">Add a new company</a>
</div>
{% endif %}
