{% load uni_form %}
<form class="adcake-uni-form" id="page-form" method="post" action="">{% csrf_token %}
  {% if message %}<div class="warning">{{ message }}</div><br/>{% endif %}
  {% if error %}<div class="stderror">{{ error }}<br/><br/>{% endif %}
  <fieldset class="inlineLabels">
    <legend>Edit your {{ branch }}</legend>
    {{ form|as_uni_form }}
    <input type="hidden" name="id" value="{{user.get_profile.id}}"/>
  </fieldset>
  <div class="buttonHolder">
    <input name="submit" type="submit" value="Save your changes" />
  </div>
  <span id="errors"> </span>
  {% if error %}</div>{% endif %}
</form>
