<form name="skip-ajax" class="adcake-uni-form" id="page-form" method="post" action="upload/" enctype="multipart/form-data">{% csrf_token %}
  <fieldset class="inlineLabels">
  {% if message %}<div class="warning">{{ message }}</div><br/>{% endif %}
  {% if error %}<div class="stderror">{{ error }}<br/><br/>{% endif %}
  {% if user.get_profile.image %}
  <legend>Current profile picture</legend>
  <img id="profile_picture" src="{{ user.get_profile.image.extra_thumbnails.large }}" alt="{{ user }}" />
  </fieldset>
  <fieldset class="inlineLabels">
  <legend>or add a new one</legend>
  {% else %}
  <legend>Add a new Image</legend>
  {% endif %}
  {{ form }}
  <input type="hidden" name="id" value="{{user.get_profile.id}}"/>
  </fieldset>
  <div class="buttonHolder">
    <input name="submit" type="submit" value="Save your changes" />
  </div>
  {% if error %}</div>{% endif %}
</form>
