{% load fieldsets %}
<form class="adcake-uni-form2" id="personal-info-form" method="post" action="">{% csrf_token %}
  {% if message %}<div class="warning">{{ message }}</div><br/>{% endif %}
  {% if error %}<div class="stderror">{{ error }}<br/><br/>{% endif %}
  {% draw_form form fieldsets "true" %}
      <div class="buttonHolder">
	<input name="submit" type="submit" value="Save your changes" />
      </div>
  <span id="errors"> </span>
  {% if error %}</div>{% endif %}
</form>



