div#owner-content.edit { float: left; width: 275px; }

div.owner-image { float: left; margin-right: 10px }
/*div.owner-image span.edit-image {}*/
div.owner-information { line-height: 1.7em; padding-top: 12px }
div#owner-content.edit div.owner-information { padding-top: 2px }
h1.owner-name { font-size: 24px; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0; display: inline; word-spacing: 0; }
div#owner-content.edit h1.owner-name { display: block }
div.owner-other-stuff, span.edit-stuff { color: #AAA; font-size: 11px }

div#portfolio-information { clear: both; width: 450px; background: #EDEDED url('../images/rc1-bottom.png') bottom center no-repeat; margin: 10px 0 0 78px; padding: 0 0 3px }
div#portfolio-information h3 { background: url('../images/rc1-top-right.png') top right no-repeat; padding: 7px; }
div#portfolio-information p { text-indent: 0; margin: 0 20px 5px }
div#portfolio-information textarea { width: 268px; height: 90px; margin-top: 2px; border: #AAA solid 1px; border-width: 1px 0; padding: 3px 1px; color: #888 }
div#portfolio-information textarea:focus { color: #000; border-color: #000 }
div#portfolio-information input { position: relative; right: -210px; top: 3px }

div#portfolio-information.edit { width: 269px; background: white; float: left; clear: none; margin: 0; padding: 5px 10px 0 }
div#portfolio-information.edit span { font-weight: bold; color: #444 }
div#portfolio-information.edit span.loading { font-size: 11px; margin-left: -40px }

div#portfolio { clear: both; padding-top: 10px }

div#portfolio h2 { margin-bottom: 10px }
div#portfolio.edit h2 { margin-bottom: auto }

ul#media-branches li { margin-bottom: 10px; clear: both }
ul#media-branches li div.media-header { background: url("../images/dd0f16-horizontal-line.png") 0 2px repeat-x; height: 20px; padding: 1px 0 }
ul#media-branches li h3.media-title { float: left; background-color: #FFF; cursor: pointer; padding-right: 10px }
ul#media-branches li span.sortable-handler { background: #FFF url("../images/move-button.png") -30px -3px no-repeat; display: block; height: 20px; width: 21px; cursor: move; float: right; }
ul#media-branches li span.sortable-handler:hover { background-position: 3px -29px; width: 54px }
ul#media-branches li strong { font-weight: bold }

ul#video-list li, ul#audio-list li, ul#gallery-list li { padding: .75em; margin-bottom: 0 }
ul#media-branches li div.hide { display: none }

iframe.hidden-frame { display: none; visibility: hidden; width: 0; height: 0 }

/*  Gallery and Video List  */
table.media-with-thumbs { width: 100%; border: 1px solid #CCC; background-color: #F1F1F1 }
table.media-with-thumbs.odd { background-color: #F7F7F7 }
div#portfolio table.media-with-thumbs thead { cursor: default }
div#portfolio.edit table.media-with-thumbs thead { cursor: move }
table.media-with-thumbs td { text-align: center; vertical-align: middle; padding: 5px }
table.media-with-thumbs td img { border: #999 1px solid; padding: 2px }
table.media-with-thumbs td a { color: #555; font-size: 10px; text-decoration: none }
table.media-with-thumbs td a:hover { text-decoration: underline; color: #000 }
table.media-with-thumbs thead { background-color: #E4E4E4; border-bottom: #CCC 1px solid }
table.media-with-thumbs thead th { padding: 3px 0 0 15px; border-bottom: #CCC 1px solid }
table.media-with-thumbs thead th.delete-table { text-align: right; padding-right: 10px; font-size: 11px; }

span.media-name { font-size: 15px; margin-bottom: 5px; display: block }


/* Search and Add work */
a.search-and-add, a.add-item { padding: 5px }
a.clicked { background-color: #F1F1F1; padding: 4px; border: 1px #E0E0E0 solid; border-width: 1px 1px 0 }

div.search-and-add-list { clear: both; border: 1px #E0E0E0 solid; background-color: #F1F1F1; padding: .75em }
ul.search-list { float: left; height: 200px; width: 245px; margin-right: 10px; border: 2px #DD0F16 solid; background-color: #FFF; overflow-y: scroll }
ul.search-list li { padding: 4px; margin: 1px!important; border-bottom: 1px solid #E9E9E9 }
ul.search-list li.selected { background-color: #06bae7; }
ul.search-list li.selected a { color: #FFF }
ul.search-list li.empty { margin: 70px 0 0!important; padding: 5px; background-color: #F8F8F8; border: 1px #E8E8E8 solid; border-width: 1px 0; text-align: center }
ul.search-list li input { margin-top: 3px }

div.add-selected { float: right; background-color: #FBFBFB; width: 286px; height: 188px; padding: 6px; border: 1px #E9E9E9 solid }
span.select-counter { font-weight: bold }
div.add-selected ul { height: 140px; margin: 2px 13px 8px }

div.add-selected ul { overflow: auto }
div.add-selected ul li { margin-bottom: 0!important; padding: 0 }

div.search-and-add-list div.loading { background-color: #000; width: 100%; height: 100%; position: relative; top: 15px; z-index: 4 }
span.view-all-branch { width: 100%; display: block; text-align: right; }