{% load authors thumbnail uni_form %}
<h2>Credits</h2>
<table id="role-list">
<tbody>
  {% for author in media.authors.authorized %}
  <tr>
    {% if  author.author.get_profile.image %}
        <td class="thumb"><img src="{% thumbnail author.author.get_profile.image 30x30 %}" class="image_frame"/></td>
    {% else %}
        <td class="thumb"><img src="{{ MEDIA_URL }}images/no-avatar.png" width="30" height="30" class="image_frame"/></td>
    {% endif %}
        <td class="name">
            <a href="{% url portfolio_for_shortcut author.author.username  %}">{{author.author.username|capfirst}}</a>
            <span>{{author.author.get_full_name|capfirst}}</span>
        </td>
        <td class="role"><b class="property">{{author.role|upper}}</b></td>
        {% ifequal media.owner user %}<td class="actions"><span class="delete-role" id="{{ author.author.username }}-decline-{{ author.id }}" href="#">Delete</span></td>{% endifequal %}
  </tr>
  {% empty %}
      <tr><td id="empty-roles">No credits added yet</td></tr>
  {% endfor %}
</tbody>
</table>
{% if user.is_authenticated %}
<div class="cleanf"><a class="property plus" id="add_author_slide" href="#" rel="{{ media.id }}">Add yourself to this work</a></div>
<span id="message"></span>
{% load uni_form %}
<form id="add_author_form" rel="{{media.id}}" action="{% url add_author %}" class="adcake-uni-form"">
<fieldset class="inlineLabels">
  {{ form|as_uni_form }}
  <div class="buttonHolder">
    <input name="submit" type="submit" value="Add">
  </div>
</fieldset>
</form>
{% endif %}