{% load authors %}
<td><b class="property">{{author.role}}</b></td>
<td><a href="{% author_url 'by' ctype author.author.username %}">{{author.author}}</a></td>
<td>All videos with <a href="{% author_url 'with' ctype author.author.username %}">{{author.author}}</a> as an author</td>
<td>All videos with {{author.author}} as <a href="{% author_url 'with_author_as' ctype author.author.username author.role%}">{{author.role}}</a></td>
