<div id="myGallery">
{% load thumbnail %}
{% for featured in spotlight %}
  <div class="imageElement">
<h3 style="font-size: 14px">{{ featured.name }}</h3>
<p>{{ featured.description }}</p>
<a href="{{ featured.content_object.get_absolute_url }}" title="View '{{ featured.content_object }}'" class="open"></a>
<img src="{% thumbnail featured.image 330x184 crop %}" class="full" alt="{{ featured.content_object }}" />
<img src="{{ featured.image.thumbnail }}" class="thumbnail" alt="{{ featured.content_object }}" />
  </div>
{% endfor %}

</div>

