{% extends 'base.html' %}

{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/directory.js"></script>
{% endblock %}

      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "directory" %}
      </ul>
      {% endblock %}

{% block extra-style %}<link href="{{ MEDIA_URL }}css/directory.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}
