{% extends 'base.html' %}
{% block menu %}
<ul id="site-menu">
  {% load site_menu %}{% main_menu "jobs" %}
</ul>
{% endblock %}
{% block title %}Job List{% endblock %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/directory.js"></script>
{% endblock %}
{% block extra-style %}
    <link href="{{ MEDIA_URL }}css/directory.css" type="text/css" rel="stylesheet" rev="stylesheet" />
    <link href="{{ MEDIA_URL }}css/jobs.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}

{% block content-menu %}
<ul id="content-menu" >
  <li><a href="{% url jobs_index 1 %}" title="View all Jobs">Jobs by List</a></li>
  <li><a href="{% url new_job %}" title="Post a Job">Post a Job</a></li>
  <li><a href="{% url my_jobs 1 %}" title="My Posts">My Posts</a>
</ul>
{% endblock %}  
{% block main-title-text %}Category List for Jobs{% endblock %}

{% block content %}
{% load custom_filters %}
{% if parent %}
<p>
  <a href="{% url category_index %}" title="Initial Categories">Category Home</a> &raquo; {% for c_parent in parent.get_traceback|reverse %}<a href="{{ c_parent.get_absolute_url }}" title="{{ c_parent }}">{{ c_parent.title }}</a> &raquo; {% endfor %}{{ parent.title }}
</p>
{% endif %}
<ul id="category-list" class="directory-list">
  {% if category_list %}
  {% for category in category_list %}
  {% with category.job_set.all as jobs %}
      <li id="{{ category.title }}">
        <span class="directory-title"><a href="{% url category_jobs_list category.slug 1 %}">{{ category.title }}</a></span>
        {% if category.description %}<p class="directory-description">{{ category.description }}</p>{% endif %}
        <div class="category-companies">
          <span class="view-companies">View jobs</span>
          <ul class="category-company-list">
        {% for job in jobs %}
        <li{% if forloop.last %} class="last"{% endif %}><a href="{% url job_detail job.pk %}">{{job}}</a></li>
        {% endfor %}
          </ul>
        </div>
      </li>
  {% endwith %}
  {% endfor %}
  {% else %}
  <div class="no-jobs">
      <div class="no-jobs-text">There are no available jobs at this moment.<br>
          <a href="{% url new_job %}"> Post a Job,</a> it's free!</div>
  </div>
  {% endif %}
</ul>
{% endblock %}
