{% extends 'base.html' %}
{% block menu %}
<ul id="site-menu">
  {% load site_menu %}{% main_menu "jobs" %}
</ul>
{% endblock %}

{% block extra-style %}<link href="{{ MEDIA_URL }}css/jobs.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}
{% load truncate_filters %}
{% block main-title-text %}Job List / {{ category }}{% endblock %}

{% block content-menu %}
<ul id="content-menu">
    <li><a href="{% url category_index_jobs %}" title="Browse by categories">Jobs by Category</a>
    <li><a href="{% url new_job %}">Post a Job</a></li>
    <li><a href="{% url my_jobs 1 %}" title="My Posts">My Posts</a>
</ul>
{% endblock %}
{% block title %}Job List{% endblock %}
{% load thumbnail %}
{% block content %}
<div id="job-list">
{% for job in job_list %}
    <a href="{% url job_detail job.pk %}">
    <div class="job-element">
        <div class="job-avatar">{% if job.company.logo %}<img src="{% thumbnail job.company.logo 60x60 crop %}" title="{{ company }}" id="company-logo" />{% endif %}</div>
        <div class="job-list-description-name">{{ job.company.name }}</div>
        <div class="job-list-description-title">{{ job.title }}</div>
        <div class="job-list-description-name-category">{% for cat in job.category.all %}{{ cat.title }}-{% endfor %}</div>
        <div class="job-list-description-detail">Expire Date: {{ job.expire_date }}</div>
        <div class="job-list-description-detail-country">{{ job.country.name }}</div>
        {% comment %}<div class="job-list-description-detail">{{ job.contact }}</div>{% endcomment %}
    </div>
    </a>
{% endfor %}
</div>
<br class="clear"/>
{% load pagination %}{% paginate %}

{% endblock %}
