{% extends "base.html" %}
{% block extra-style %}
    <link href="{{ MEDIA_URL }}css/jobs.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}
{% block menu %}
<ul id="site-menu">
  {% load site_menu %}{% main_menu "jobs" %}
</ul>
{% endblock %}
{% block content-menu %}
<ul id="content-menu">
    <li><a href="{% url category_index_jobs %}" title="Browse by categories">Jobs by Category</a>
    <li><a href="{% url new_job %}">Post Jobs</a></li>
</ul>
{% endblock %}
{% block content %}
{% if user.companies.exists %}
{% load uni_form %}
<form class="adcake-uni-form" id="new-job" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
  <fieldset class="inlineLabels">
    {{ form|as_uni_form }}
  </fieldset>
  <div class="buttonHolder">
    <input name="submit" type="submit" value="Save your changes" />
  </div>
  <span id="errors"> </span>
</form>
{% else %}
    <div class="no-company">
        <div class="no-company-oops">Ooops!<br>
        You need to create a company in order to post a job.<br>
        <a href="{% url new_company %}">Create a Compnay</a>, it's free!</div>
    </div>
{% endif %}
{% endblock %}

