{% extends 'base.html' %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jobs.js"></script>
{% endblock %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/jobs.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}
{% load truncate_filters %}

{% block menu %}
<ul id="site-menu">
  {% load site_menu %}{% main_menu "jobs" %}
</ul>
{% endblock %}
{% block content-menu %}
<ul id="content-menu">
    <li><a href="{% url my_jobs 1 %}" title="My Posts">My Posts</a>
    <li><a href="{% url category_index_jobs %}" title="Browse by categories">Jobs by List</a>
    <li><a href="{% url category_index_jobs %}" title="Browse by categories">Jobs by Category</a>
    <li><a href="{% url new_job %}">Post a Job</a></li>
</ul>
{% endblock %}
{% load cake_buttons %}
{% block title %}{{ job.company }}{% endblock %}
{% block main-title-text %}Job Offer{% endblock %}
{% block content %}
{% block user_editing %}
{% ifequal job.company.owner user %}
{% load uni_form %}
<div class="add-media"><span class="collapsable-trigger{% if form.errors %} open{% endif %}" rel="edit-post">Edit Post</span></div>
<form method="post" class="adcake-uni-form{% if not form.errors %} hide{% endif%}" id="edit-post" enctype="multipart/form-data">{% csrf_token %}
  <fieldset class="inlineLabels">
    <legend>Edit this Post</legend>
    {{ form|as_uni_form }}
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Update Post">
    </div>
    <span id="errors"></span>
  </fieldset>
</form>
{% if not form.errors %}<script type="text/javascript">new Fx.Slide('edit-post').hide();</script>{% endif%}
{% endifequal %}
{% endblock %}
{% load thumbnail %}
 {% if job.company.logo %}
<div class="comp-desc">
     <div class="company-image-block">
<a href="{% url cportfolio_for_shortcut job.company.slug %}"><img src="{% thumbnail job.company.logo 90x90 %}" title="{{ job.company }}" class="company-image" /></a>
</div>
{% endif %}
    <div>
        <div class="title-description-employer">Title:</div>
        <div class="title-description-job">{{job.title}}</div>
    </div>
    <div>
        <div class="title-description-employer">Company:</div>
        <div class="title-description-company"><a href="{% url cportfolio_for_shortcut job.company.slug %}" class="company-name">{{job.company}}</a></div>
    </div>
        <div>
        <div class="job-description-title">Location:</div>
        <div class="job-description-content"> {{job.country}}, {{job.place}}</div>
    </div>

    <div>
        <div class="job-description-title">Expires:</div>
        <div class="title-description-expires-date">{{job.expire_date}}</div>
    </div>
    <div>
        <div class="job-description-title">Category:</div>
        <div class="job-description-category">{{ job.category.title }}</div>
    </div>
</div>
{% if not applied %}
<span id="apply-job" class="apply-job" rel="#{{ job.id }}">Apply now!</span>
{% else %}
<span id="applied" class="apply-job" rel="#{{ job.id }}">You have applied to this job!</span>
{% endif %}
<div id="job-information">
  <div class="description-title">Description</div>
  <div class="description-paragraph">{{job.requirements|linebreaks}}</div>
</div>
{% if job.contact %}
<div id="job-information">
  <div class="description-title">Additional Info</div>
  <div class="description-paragraph">{{job.contact|linebreaks}}</div>
</div>
{% endif %}
{% endblock %}
