{% extends 'base.html' %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jobs.js"></script>
{% endblock %}
{% block menu %}
<ul id="site-menu">
  {% load site_menu %}{% main_menu "jobs" %}
</ul>
{% endblock %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/jobs.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}
{% load truncate_filters %}
{% block main-title-text %}Job List{% endblock %}
{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url category_index_jobs %}" title="Browse by categories">Jobs by category</a>
  <li><a href="{% url new_job %}">Post a Job</a></li>
  {% if has_next %}
  <li><a href="{% url my_jobs next %}">Next Page</a></li>
  {% endif %}
  {% if has_previous %}
  <li><a href="{% url my_jobs previous %}">Previous Page</a></li>
  {% endif %}
</ul>
{% endblock %}
{% block title %}Job List{% endblock %}
{% load thumbnail %}
{% block content %}
{% if job_list %}
<div id="job-list">
{% for job in job_list %}
<a href="{% url job_detail job.pk %}" class="job-list-element">
<div class="job-deletion">{% ifequal job.company.owner user %}<span class="delete-job" rel="#{{ job.pk }}" title="Delete this Post">Delete this post</span>{% endifequal %}</div>
<div class="job-element2">
    <div class="job-avatar">{% if job.company.logo %}<img src="{% thumbnail job.company.logo 60x60 crop %}" title="{{ company }}" id="company-logo" />{% endif %}</div>
    <div class="job-list-description-name">{{ job.company.name }}</div>
    <div class="job-list-description-title">{{ job.title }}</div>
    <div class="job-list-description-name-category">{% for cat in job.category.all %}{{ cat.title }}-{% endfor %}</div>
    <div class="job-list-description-detail">Expire Date: {{ job.expire_date }}</div>
    <div class="job-list-description-detail-country">{{ job.country.name }}</div>
</div>
</a>
{% endfor %}
</div>
{% else %}
  <div class="no-jobs">
      <div class="no-jobs-text">You have no posts yet.<br>
          <a href="{% url new_job %}"> Post a Job,</a> it's free!</div>
  </div>
{% endif %}
{% load pagination %}{% paginate %}
{% endblock %}
