{% extends 'resume/base.html' %}

{% block title %}Edit your Resume{% endblock %}

{% block jslib %}{{ block.super }}
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script>
      bkLib.onDomLoaded(function(){
      {% for category, sublist in category_tree %}
      var lll{{ category.id }} = new nicEditor({buttonList : ['fontSize','bold','italic','underline','strikeThrough','left','center','right','justify','ol','ul','indent'],maxHeight : 160}).panelInstance('id_description_{{ category.id }}');
      {% endfor %}
      });
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/resume.js"></script>    
{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="" title="View public resume">View my public resume</a></li>
  <li><a href="{% url resume_index %}" title="Search resumes">Search resumes</a></li>
</ul>
{% endblock %}

{% block main-title-text %}My Resume{% endblock %}
{% block content %}
<ul id="resume-buttons" class="buttons-holder buttons">
  <li><a href="{% url resume_detail resume.user %}" title="Preview your resume">Preview</a></li>
  <li><span title="Add a new category" class="add-subcategory" rel="none">Add a category</span></li>
  <li><span title="Save your resume" id="save-resume">Save your Resume</span></li>
</ul>


<span id="resume"/>
<ul id="categories">
  {% for category, sublist in category_tree %}
  <div class="resume-categories" id="category-{{ category.id }}">
    <div class="category-header">
      <h2 class="category-title" style="border-bottom:0">{{ category.title }}</h2>
      <span class="sortable-handler"></span>
      <br class="clear" />
    </div>
    <div class="category-description bulk-edit" id="category-description-{{ category.id }}">
      <textarea class="simple{% if not category.description %} empty{% endif %}" name="description" id="id_description_{{ category.id }}">{{category.description}}</textarea>
    </div>
    <div class="category-content">
    {% if category.deletable %}
      <div class="buttons-holder buttons">
	    <span class="delete-category" rel="{{category.id}}">Delete</span>
      </div>
    {% endif %}
      <ul class="paired-values paired">
	{% for paired in category.paired_values %}
	<li class="paired-value buttons" id="skill-{{ paired.id }}" rel="{{ paired.skill.id }}"><strong>{{ paired.skill.name|capfirst }}:</strong> <span class="value">{{ paired.value }}</span> {% if paired.deletable %}<span class="touch-element edit" rel="{{ paired.id }}">(edit)</span><span class="touch-element delete" rel="{{ paired.id }}">(delete)</span>{% else %}<span class="touch-element profile-edit" rel="{{ paired.id }}">(edit in profile)</span>{% endif %}</li>
	{% endfor %}
      </ul>
      <ul class="skills">
	{% for skill in category.skills %}
	<li class="skill buttons" id="skill-{{ skill.id }}" rel="{{ skill.skill.id }}">{{ skill.skill.name|capfirst }}{% if skill.deletable %} <span class="touch-element delete" rel="{{ skill.id }}">(delete)</span>{% endif %}</li>
	{% endfor %}
      </ul>
      <ul class="subcategory">
	{% for sub_category in sublist %}
	<li id="category-{{ sub_category.id }}" class="buttons-holder buttons">
	  <div class="subcategory-header">
	    <h3>{{ sub_category.title }}</h3>
	    <span class="subcategory-edit-description collapsable-trigger" rel="subcategory-description-{{ sub_category.id }}">(edit description)</span>
	    <br class="clear" />
	  </div>
	  
	  <div class="subcategory-buttons">
	    <span class="subcategory-delete" rel="{{sub_category.id}}" title="Delete this category">Delete this category</span>
	    <span class="add-property" rel="{{sub_category.id}}" title="Add new info">Add new info</span>
	    <br class="clear" />
	  </div>
	  
	  <div class="hide subcategory-description-edit" id="subcategory-description-{{ sub_category.id }}">
	    <textarea class="simple{% if not sub_category.description %} empty{% endif %}">{{ sub_category.description }}</textarea>
	  </div>
	  
	  <ul class="paired-values paired">
	    {% for paired in sub_category.paired_values %}
	    <li class="paired-value" id="skill-{{ paired.id }}" rel="{{ paired.skill.id }}"><strong>{{ paired.skill.name }}:</strong> {{ paired.value }} {% if paired.deletable %}<span class="touch-element edit" rel="{{ paired.id }}">(edit)</span> <span class="touch-element delete" rel="{{ paired.id }}">(delete)</span>{% else %} <span class="touch-element profile-edit" rel="{{ paired.id }}">(edit in profile)</span>{% endif %}</li>
	    {% endfor %}
	  </ul>
	  <ul class="skills">
	    {% for skill in sub_category.skills %}
	    <li class="skill" id="skill-{{ skill.id }}" rel="{{ skill.skill.id }}">{{ skill.skill.name|capfirst }}{% if skill.deletable %} <span class="touch-element delete" rel="{{ skill.id }}">(delete)</span>{% endif %}</li>
	    {% endfor %}
	  </ul>
	</li>
	{% endfor %}
      </ul>
    </div>
    <br class="clear" />
  </div>
  {% endfor %}
</ul>

<span id="all-tips">
  {% for category, sublist in category_tree %}
      {% for skill in category.skill_set.skills %}
      <div id="skill-{{ skill.id }}-tooltip">
        <div class="tipz-top"></div>
        <div class="tipz">
          <ul class="tipz">
            {% if skill.skill.name %}
            <li>
              Name: <span class="name">{{ skill.skill.name }}</span>
            </li>
            {% endif %}
            {% if skill.value %}
            <li>
              Value: <span class="value">{{ skill.value }}</span>
            </li>
            {% endif %}
            {% if skill.level %}
            <li>
              Level: <span class="level">{{ skill.level }}</span>
            </li>
            {% endif %}
            {% if skill.comment %}
            <li>
              Comment: <span class="comment">{{ skill.comment }}</span>
            </li>
            {% endif %}
            {% if skill.link %}
            <li style="margin-bottom: 0px">
              Link: <span class="link">{{ skill.link|urlize }}</span>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="tipz-bottom"></div>
      </div>
      {% endfor %}
   {% endfor %}

  {% for category, sublist in category_tree %}
    {% for sub_category in sublist %}
      {% for skill in sub_category.skill_set.skills %}
      <div id="skill-{{ skill.id }}-tooltip">
        <div class="tipz-top"></div>
        <div class="tipz">
          <ul class="tipz">
            {% if skill.skill.name %}
            <li>
              Name: <span class="name">{{ skill.skill.name }}</span>
            </li>
            {% endif %}
            {% if skill.value %}
            <li>
              Value: <span class="value">{{ skill.value }}</span>
            </li>
            {% endif %}
            {% if skill.level %}
            <li>
              Level: <span class="level">{{ skill.level }}</span>
            </li>
            {% endif %}
            {% if skill.comment %}
            <li>
              Comment: <span class="comment">{{ skill.comment }}</span>
            </li>
            {% endif %}
            {% if skill.link %}
            <li style="margin-bottom: 0px">
              Link: <span class="link">{{ skill.link|urlize }}</span>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="tipz-bottom"></div>
      </div>
      {% endfor %}
    {% endfor %}
   {% endfor %}
</span>


{% endblock %}
