{% extends 'base.html' %}
{% load custom_filters %}
{% load custom_tags cake_buttons countries_tags %}

    {% block jslib %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/professional-search.js"></script>
    {% endblock %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/professional-search.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}


{% block title %}Professionals{% endblock %}

      {% block menu %}
      <ul id="site-menu">
      {% load site_menu %}{% main_menu "professionals" %}
      </ul>
      {% endblock %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="" title="View public resume">View my public resume</a></li>
  <li><a href="{% url resume_index %}" title="Search resumes">Search resumes</a></li>
</ul>
{% endblock %}

{% block main-title-text %}Search Professionals{% endblock %}

{% block order-by %}
<!-- <form method="get" action=""><input class="standard-form" type="text" rel="search..." name="query"/></form> -->
{% endblock %}


{% block content %}
<div id="search-pros">
  {% if formset %}
  {% load uni_form %}
  <p class="help-text">
    Search for individuals with the desired skill you are looking for,
    they're level of experience in that particular skill, and the
    region where the professional should be located.
  </p>
  <div id="add-search">[ <span class="link">Add a new skill to search</span> ]</div>

  <form class="adcake-uni-form" id="search" method="GET">
    {{ formset.management_form }}
    {% for form in formset.forms %}
    <fieldset class="inlineLabels">
      <legend>Search skill</legend>
      <span class="remove" style=""></span>
      {{ form|as_uni_form }}
      <span id="errors"> </span>
    </fieldset>                
    {% endfor %}
    <div class="buttonHolder">
      <input name="submit" type="submit" value="Search" >
    </div>
  </form>


  {% else %}

  <a href="{% url resume_index %}">return to search</a>
  {% endif %}

  {% load cake_buttons %}
  <ul id="resume-list" class="resume-list">
    {% for resume in page.object_list %}
    <li class="resume-match-container{% if forloop.last %} last{% endif %}">
      <div class="resume-global">
	<div class="resume-image">
	  {% if resume.user.get_profile.image %}
	  <img src="{{ resume.user.get_profile.image.extra_thumbnails.medium }}" alt="{{ resume.user }}" />
	  {% else %}
	  <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="{{ resume.user }}" width="64" height="64" />
	  {% endif %}
	</div>
	<div class="resume-information">
	  <h2 class="resume-owner">{{ resume.user.get_profile.get_name }}</h2>
	  {% if resume.user.get_profile.region %}
	  <img src="{{ resume.user.get_profile.region.iso|iso_flag }}" alt="[{{ resume.user.get_profile.region.iso }}]"/>
	  {% endif %}
	  <span class="resume-owner-contact">{% add_to_contact_list resume.user %}</span>
	</div>
	<div class="resume-other-stuff">
	  View {{ resume.user.get_profile.get_name }}'s:
	  <a href="{% url profile_for resume.user.username %}" title="View {{ resume.user.get_profile.get_name }}'s profile">Profile</a> |
	  <a href="{% url portfolio_for_shortcut resume.user.username %}" title="View {{ resume.user.get_profile.get_name }}'s portfolio">Portfolio</a> |
	  <a href="{# url resume_for resume.user #}" title="View {{ resume.user.get_profile.get_name }}'s resume">Resume</a><!-- |
 	  <a href="{% url videos_by resume.user.username 1 %}" title="View {{ resume.user.get_profile.get_name }}'s uploaded videos">Videos</a> | -->
<!-- 	  <a href="{% url galleries_for resume.user.username %}" title="View {{ resume.user.get_profile.get_name }}'s uploaded galleries">Galleries</a> -->
	</div>
      </div>

      <div class="resume-matches">
	<h3>Matches in Resume...</h3>
	<ul>
	    {% with resume.matches as match %}{% matchstring match as new_match with -1 %}
	    {% for i in new_match %}
	    <li><span class="match-title">{{ i.match }}</span>: {{ i.value }}{% if i.comment %}<span class="match-comment"> -- {{ i.comment }}</span></li>{% endif %}
	    {% endfor %}
	    {% endwith %}
	</ul>
      </div>

      <div class="resume-detail">
	[ <a href="{% url resume_detail %}" title="See all the details..." class="plus">More...</a> ]
      </div>

    </li>
    {% endfor %}
  </ul>
  {% load pagination %}{% paginate %}
</div>
{% endblock %}
  
