{% if not skills %}{# algun mensaje #}{% endif %}
        <ul id="my-skills">
  {% for skill in skills %}
  <li>
    <a href="{{ skill.get_absolute_url }}" title="{{ skill.name }}">{{ skill.name }}</a>
    <a class="delete-skill" href="#" title="Delete this skill"></a>
    <br class="clear"/>
  </li>
  {% endfor %}
</ul>
<br class="clear" />
<form action="{# url skill_add #}" method="post">{% csrf_token %}
  <div class="skill-center-boxes">
    <div class="skill-addit-fill"><input type="text" name="skill" id="skills-search" /></div>
    <div class="skill-addit-button"><input  type="submit" name="add-it" value="Add it!" /></div>
  </div>
</form>
<!--                 <p id="edit-skills" class="pb-options">[ <a href="{# url skills_edit #}" class="edit" title="Edit my skills">Edit skills</a> ]</p> -->