<b>The following professional has applied</b> on your Job Post ({{ job_title }}):

<b>User:</b> <a href="http://www.adcake.com{% url portfolio_for_shortcut username %}">{{ username|capfirst }}</a>
{% if full_name %}<b>Name:</b> {{ full_name }}{% endif %}
{% if career %}<b>Career:</b> {{ career }}{% endif %}
{% if degree %}<b>Degree:</b> {{ degree }}{% endif %}
{% if languages %}<b>Languages:</b> {{ languages }}{% endif %}

If you want to review <b>{{ username|capfirst }}’s</b> portfolio please click <a href="http://www.adcake.com{% url portfolio_for_shortcut username %}">here</a>
{% if company %}If you want to review <b>{{ username|capfirst }}’s</b> <a href="http://www.adcake.com{% url cportfolio_for_shortcut company %}">here</a>{% endif %}

You can remove yourself from the ADCAKE's mailing list at any time, by sending an email to <a href="mailto:support@adcake.com">support@adcake.com</a>

©2011 ADCAKE™, ALL RIGHTS RESERVED.
