{% extends 'base.html' %}
{% load thumbnail %}
{% block extra-style %}
<link href="{{ MEDIA_URL }}css/skills.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/skills.js"></script>
{% endblock %}
{% block title %}Skills List{% endblock %}
{% block content-menu %}
<ul>
  {% if has_next %}
  <li><a href="{% url skills_index next %}">Next Page</a></li>
  {% endif %}
  {% if has_previous %}
  <li><a href="{% url skills_index previous %}">Previous Page</a></li>
  {% endif %}
</ul>
{% endblock %}
{% block main-title-text %}Skills List{% endblock %}
{% block content %}
<ul id="skill-list">
  {% for skill in skill_list %}
    <li class="skill-toggler">
        <a href="{{ skill.get_absolute_url }}" class="skill-title">{{ skill.name|capfirst }}</a>
        <div class="skill-detail">
            {% for u in skill.some_users %}
                    <img src="{% thumbnail u.get_profile.image 30x30 crop %}" class="image-frame" />
                    <img src="{% thumbnail u.get_profile.image 30x30 crop %}" class="image-frame" />
                    <img src="{% thumbnail u.get_profile.image 30x30 crop %}" class="image-frame" />
                    <img src="{% thumbnail u.get_profile.image 30x30 crop %}" class="image-frame" />
                    <img src="{% thumbnail u.get_profile.image 30x30 crop %}" class="image-frame" />
                    <img src="{% thumbnail u.get_profile.image 30x30 crop %}" class="image-frame" />
            {% endfor %}
        </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}


