{% extends "base.html" %}
{% load thumbnail truncate_filters %}
{% block extra-style %}
<link href="{{ MEDIA_URL }}css/skills.css" type="text/css" rel="stylesheet" rev="stylesheet" />
    <link href="{{ MEDIA_URL }}css/professionals.css" type="text/css" rel="stylesheet" rev="stylesheet" />
{% endblock %}
{% block title %}Skill: {{ skill|capfirst }}{% endblock %}

{% block main-title-text %}Skill: {{ skill|capfirst }}{% endblock %}

{% block content %}
<ul id="professionals" class="professional-list">
  {% for u in user_list.object_list %}
  <li>
     <div class="professional_block">
     {% if u.get_profile.image %}
      <a href="{% url portfolio_for_shortcut u.username %}" title="View {{u}}' Portfolio"><img src="{% thumbnail u.get_profile.image 60x60 %}"  class="image_frame"/></a>
      {% else %}
      <a href="{% url portfolio_for_shortcut u.username %}" title="View {{u}}' Portfolio"><img src="{{ MEDIA_URL }}images/no-avatar.png" alt="prueba" width="60" height="60" class="image_frame"/></a>
      {% endif %}
      <div class="info">
      <a href="{% url portfolio_for_shortcut u.username %}" title="View {{u}}' Portfolio">{{u}}</a><br>
      {% if u.get_profile.job_stat %}<span class="title-info"></span>{{u.get_profile.job_stat}}<br>{% endif %}
      <span class="title-info">Galleries:</span>{{ u.get_profile.galleries_count}}<br>
      <span class="title-info"> Videos:</span> {{ u.get_profile.videos_count }}<br>
      </div>
      <div class="followersblock">
	<div class="followersnumber">{{ u.get_profile.followers|length }}</div>
	<div class="followerstitle">Followers</div>
      </div>
      <div class="quote">{% if u.portfolio.description %}"{{ u.portfolio.description|truncate_chars:120 }}" {% endif %}</div>
     </div>
  </li>
  {% endfor %}
</ul>
{% load pagination %}{% paginate %}
{% endblock %}
