{% extends 'professionals/base.html' %}
{% block title %}Category List{% endblock %}

{% block content-menu %}
<ul id="content-menu">
  {% if parent %}<li><a href="../" title="Go to parent category">Parent Category</a></li>{% endif %}
  <li><a href="{% url professional_index %}" title="View all companies">All the professionals</a></li>
</ul>
{% endblock %}

{% block main-title-text %}Category List - Professionals{% endblock %}
{% block content %}
{% load custom_filters %}
{% if parent %}
<p>
  <a href="{% url category_index %}" title="Initial Categories">Category Home</a> &raquo; {% for c_parent in parent.get_traceback|reverse %}<a href="{{ c_parent.get_absolute_url }}" title="{{ c_parent }}">{{ c_parent.title }}</a> &raquo; {% endfor %}{{ parent.title }}
</p>
{% endif %}

<ul id="category-list" class="directory-list">
  {% for category in category_list %}
  {% if category.companies.all %}
  <li id="{{ category.title }}">
    <span class="directory-title">{% if category.children.all %}<a href="{{ category.get_absolute_url }}" title="{{ category.title }}">{{ category.title }}</a>{% else %}<a href="{% url category_professionals_list category.slug %}">{{ category.title }}</a>{% endif %}</span>
    {% if category.description %}<p class="directory-description">{{ category.description }}</p>{% endif %}

    {% if category.children.all %}
    <span class="category-subcategories">
      <strong>Subcategorias:</strong>
      {{ category.children.all|attr_list:"title"|join:", " }}
    </span>
    {% endif %}

    <div class="category-companies">
      <span class="view-companies">View Professionals</span>
      <ul class="category-company-list">
	{% for professional in category.userprofile_set.all %}
	<li{% if forloop.last %} class="last"{% endif %}><a href="{% url portfolio_for_shortcut professional.user.username %}" title="{{ professional}}">{{ professional}}</a></li>
	{% endfor %}
      </ul>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
