{% extends 'professionals/base.html' %}
{% block title %}Professionals List{% endblock %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/directory.js"></script>
{% endblock %}
{% load truncate_filters %}

{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url category_index_p %}" title="Browse by categories">Browse by categories</a>
  <li><a href="{% url professional_index %}">List of all professionals</a></li>
</ul>
{% endblock %}
{% load thumbnail %}
{% block main-title-text %}Professional List{% endblock %}
{% block order-by %}
    By: <a href="?order=name" title="Order By Name">Name</a> | 
    <a href="?order=date" title="Order By Date Added">Date Added</a>
{% endblock %}

{% block content %}

{% load cake_buttons %}
<ul id="professionals" class="professional-list">
    {% for u in professional_list %}
    <li>
     <div class="professional_block">
     {% if u.image %}
      <img src="{% thumbnail u.image 90x90 crop %}"  class="image_frame"/>
      {% else %}
      <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="prueba" width="90" height="90" class="image_frame"/>
      {% endif %}
      <div class="info">
      <a href="{% url portfolio_for_shortcut u.user.username %}" title="View {{u}} profile">{{u}}</a><br>
      {% if u.job_stat %}<span class="title-info"></span>{{u.job_stat}}<br>{% endif %}
      <span class="title-info">Media:</span>{{ u.galleries_count|add:u.videos_count }}<br>
      {% comment %}<span class="title-info"> Videos:</span> {{ u.videos_count }}<br>{% endcomment %}
      </div>
      <div class="followersblock">
	<div class="followersnumber">{{ u.followers|length }}</div>
	<div class="followerstitle">Followers</div>
      </div>
      {% comment %}<div class="quote">{% if u.user.portfolio.description %}"{{ u.user.portfolio.description|truncate_chars:120 }}" {% endif %}</div>{% endcomment %}
     </div>
    <div class="cleanblock"></div>
    </li>
     {% endfor %}
</ul>
{% load pagination %}{% paginate %}
{% endblock %}
