{% load endless %}
{% load thumbnail %}
{% load truncate_filters %}
{% paginate 10 professionals %}
    {% for u in professionals %}
    <li class="professional-list-block">
     <div class="professional_block">
     {% if u.image %}
      <img src="{% thumbnail u.image 90x90 %}"  class="image_frame"/>
      {% else %}
      <img src="{{ MEDIA_URL }}images/no-avatar.png" alt="prueba" width="90" height="90" class="image_frame"/>
      {% endif %}
      <div class="info">
      <a href="{% url portfolio_for_shortcut u.user.username %}" title="View {{u}}' Portfolio">{{u}}</a><br>
      {% if u.job_stat %}<span class="title-info"></span>{{u.job_stat}}<br>{% endif %}
      <span class="title-info"></span>{% if u.user.portfolio.description %}"{{ u.user.portfolio.description|truncate_chars:80 }}" {% endif %}<br>
      {% comment %}<span class="title-info">Media:</span>{{ u.galleries_count|add:u.videos_count }}<br>{% endcomment %}
      <span class="title-info"></span>{{ u.some_cats }}<br>

      {% comment %}<span class="title-info"> Videos:</span> {{ u.videos_count }}<br>{% endcomment %}
      </div>
      <div class="followersblock">
	    <div class="followersnumber">{{ u.followers|length }}</div>
	    <div class="followerstitle">Followers</div>
      </div>
      <div class="followersblock">
	    <div class="followersnumber">{{ u.galleries_count|add:u.videos_count }}</div>
	    <div class="followerstitle">Media</div>
      </div>

      {% comment %}<div class="quote">{% if u.user.portfolio.description %}"{{ u.user.portfolio.description|truncate_chars:120 }}" {% endif %}</div>{% endcomment %}
     </div>
    <div class="cleanblock"></div>
    </li>
     {% endfor %}
<div class="cleanblock"></div>
<div class="pagination">
{% show_pages %}
</div>
