{% extends 'professionals/base.html' %}
{% block title %}Professionals List{% endblock %}
{% block jslib %}{{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/directory.js"></script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/jquery-1.4.2.min.js'></script>
    <script>$j = jQuery.noConflict();</script>
    <script type='text/javascript' src='{{ MEDIA_URL }}js/endless.js'></script>
{% endblock %}
{% block content-menu %}
<ul id="content-menu">
  <li><a href="{% url category_index_p %}" title="Browse by categories">Browse by categories</a>
</ul>
{% endblock %}
{% block main-title-text %}Professional List{% endblock %}
{% block order-by %}
    By: <a href="?order=name" title="Order By Name">Name</a> | 
    <a href="?order=date" title="Order By Date Added">Date Added</a>
{% endblock %}

{% block content %}
{% load cake_buttons %}
<ul id="professionals" class="professional-list">
<div class="endless_page_template">
{% include 'professionals/professional_list_page.html' %}
</div>
</ul>
{% endblock %}
