{% extends "admin/base.html" %}
{% block extrastyle %}
    <style>
#header{ background-color: #000; border-bottom: solid 3px #999; }

#branding h1{ color: #fff; }
a#logo-admin{background:url('{{ MEDIA_URL }}images/logo/adcake-admin.png') no-repeat;display:block;width:133px;height:23px;text-indent:-999em}
.module h2, .module caption, .inline-group h2 { background:#ccc url('{{ MEDIA_URL }}images/admin/default-bg.png') bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
</style>
{% endblock %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a id="logo-admin" href="/admin">{% trans 'ADCAKE | Admin' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
