{% extends 'base.html' %}
{% block extra-style %}<link href="{{ MEDIA_URL }}css/search.css" type="text/css" rel="stylesheet" rev="stylesheet" />{% endblock %}

{% block content %}
{% comment %}
{% if not advanced %}
<div class="helpbox">
 <span class="collapsable-trigger{% if form.errors %} open{% endif %}" rel="advanced-search-form" id="advanced-search-collapse">Show advanced options</span>
</div>
{% endif %}

{% load uni_form %}
<form method="get" action="." class="adcake-uni-form{% if not advanced and not form.errors %} hide{% endif %}" id="advanced-search-form">
  <fieldset class="inlineLabels">
    <legend>Advanced search</legend>
    <ul>
      <li class="ctrlHolder">
        <ul class="errorHolder">
          
        </ul>
        
        <label for="id_q">Search this words:</label>
	<input id="id_q" type="text" class="CharField TextInput Optional textInput" name="q" />
      </li>
      
      <li class="ctrlHolder last">
        <ul class="errorHolder">
          
        </ul>
        <label for="id_models">You are looking for:</label>
        
        <ul class="model-select">
	  <li><label for="id_models_0"><input value="directory.company" type="checkbox" class="MultipleChoiceField CheckboxSelectMultiple Optional checkboxInput" name="models" id="id_models_0" /> Companies</label></li>
	  <li><label for="id_models_1"><input id="id_models_1" type="checkbox" class="MultipleChoiceField CheckboxSelectMultiple Optional checkboxInput" value="portfolio.gallery" name="models" /> Galleries</label></li>
	  <li><label for="id_models_2"><input value="multimedia.image" type="checkbox" id="id_models_2" name="models" class="MultipleChoiceField CheckboxSelectMultiple Optional checkboxInput" /> Images</label></li>
	  <li><label for="id_models_3"><input class="MultipleChoiceField CheckboxSelectMultiple Optional checkboxInput" type="checkbox" id="id_models_3" value="multimedia.video" name="models" /> Videos</label></li>
      <li><label for="id_models_4"><input class="MultipleChoiceField CheckboxSelectMultiple Optional checkboxInput" type="checkbox" id="id_models_4" value="accounts.userprofile" name="models" /> Professional</label></li>
	</ul>
      </li>

    </ul>
  </fieldset>

  <div class="buttonHolder">
    <input type="submit" value="Search">
  </div>
</form>
{% if not forms.errors %}<script type="text/javascript">new Fx.Slide('advanced-search-form').hide();</script>{% endif%}
{% endcomment %}
{% load thumbnail %}
{% if not advanced %}
<ul id="search-results">
  {% for result in page.object_list %}
  <li{% if forloop.last %} class="last"{% endif %}>
    {{ result.rendered|safe }}
  </li>
  {% empty %}
  <li class="no-results">No results found.</li>
  {% endfor %}
</ul>

{% load pagination %}{% paginate %}
{% endif %}

{% endblock %}
